**/*.py[oc]
**/__pycache__
**/.git
**/.env
.pytest_cache/
.pytest-temp-*/
.venv-test/
node_modules/
virtualenv
#virtualenv/**/*
log
#log/**/*
Docker/Dockerfile*
.dockerignore
.git/
.gitignore
.github/
.htaccess
README.md
content/
examples/
log/
service/
testing/
setup.sh
