*.swp
*.fit
*.bin
*.lock
*.pid
core.*
images/**/*.jpg
images/**/*.jpeg
images/**/*.png
images/**/*.tif
images/**/*.mp4
images/**/*.gif
/*.json
*.py[oc]
__pycache__/
*.log
log/*.log
log/*.log.?
log/*.log.??
virtualenv/*
.venv-test/
alembic/versions/*.py
migrations/versions/*.py
gunicorn-indi-allsky.sock
*.retry
.env
env.*
ssl.crt
ssl.key
de421.bsp
*.h5
node_modules/

# Debian build artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
debian/indi-allsky/
debian/wheels/
debian/changelog
*.deb

