*.swp
*.fit
*.bin
*.lock
*.pid
images/**/*.jpg
images/**/*.jpeg
images/**/*.png
images/**/*.tif
images/**/*.mp4
images/**/*.gif
/*.json
*.py[oc]
__pycache__/
*.log
log/*.log
log/*.log.?
log/*.log.??
virtualenv/*
alembic/versions/*.py
migrations/versions/*.py
gunicorn-indi-allsky.sock
*.retry
.env
env.*
ssl.crt
ssl.key
de421.bsp
*.h5
