pyindi-client
astropy
#https://www.piwheels.org/project/opencv-python-headless/
opencv-python-headless==4.5.5.62
#scikit-image
python-dateutil
ephem
paramiko
pycurl
imageio
imageio-ffmpeg
pygifsicle
gunicorn
psutil
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
cryptography
