# This file is targeted to Raspbian/Debian 10 and Python 3.7
#pyindi-client
git+https://github.com/indilib/pyindi-client.git@d5dbe80#egg=pyindi-client
#https://www.piwheels.org/project/astropy/
astropy
#https://www.piwheels.org/project/numpy/
numpy==1.21.4
#https://www.piwheels.org/project/opencv-python-headless/
opencv-python-headless==4.5.5.62
#scikit-image
python-dateutil
ephem
paramiko
#https://www.piwheels.org/project/pycurl/
pycurl==7.44.1
imageio
imageio-ffmpeg
pygifsicle
gunicorn
inotify
psutil
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
cryptography
dbus-python
