pyindi-client
astropy
opencv-python-headless==4.5.3.56
#scikit-image
python-dateutil
ephem
paramiko
pycurl
imageio
imageio-ffmpeg
pygifsicle
Flask
Flask-SQLAlchemy
Flask-Migrate
# cryptography 36.0.0 not building on Debian 10 arm for now
# https://github.com/pyca/cryptography/issues/6485
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=998232
cryptography<36
