# This file is targeted to Raspbian/Debian 10 and Python 3.7
#pyindi-client
git+https://github.com/indilib/pyindi-client.git@a4bbe7d66cffd91f4b940a719705716acc9e1617#egg=pyindi-client
#https://www.piwheels.org/project/astropy/
astropy
#https://www.piwheels.org/project/numpy/
numpy==1.21.4
#https://www.piwheels.org/project/opencv-python-headless/
opencv-python-headless==4.5.5.64
ccdproc
python-dateutil
ephem
paramiko
#https://www.piwheels.org/project/pycurl/
pycurl==7.45.1
imageio
imageio-ffmpeg
pygifsicle
gunicorn[gthread]
inotify
psutil
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
cryptography
dbus-python
paho-mqtt
