# This file is targeted to Raspbian/Debian 10 and Python 3.7
pyindi-client==1.9.1
#git+https://github.com/indilib/pyindi-client.git@xxxxxxx#egg=pyindi-client
#https://www.piwheels.org/project/astropy/
astropy
#https://www.piwheels.org/project/numpy/
numpy==1.21.4
#https://www.piwheels.org/project/opencv-python-headless/
opencv-python-headless==4.6.0.66
#https://www.piwheels.org/project/scipy/
scipy<=1.7.3
ccdproc
python-dateutil
ephem
paramiko
#https://www.piwheels.org/project/pycurl/
pycurl==7.45.1
imageio
imageio-ffmpeg
#rawpy  # not available
pygifsicle
gunicorn[gthread]
inotify
psutil
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
cryptography
dbus-python
paho-mqtt
setuptools-rust
#https://www.piwheels.org/project/bcrypt/
bcrypt==3.2.2
