### This file is targeted to Raspbian/Debian 11 and Python 3.9
# https://www.wheelodex.org/projects/astropy/
astropy
# https://www.wheelodex.org/projects/numpy/
numpy
# https://www.wheelodex.org/projects/opencv-python-headless/
opencv-python-headless
# https://www.wheelodex.org/projects/scipy/
scipy
# https://www.wheelodex.org/projects/ccdproc/
ccdproc
astroalign
bottleneck
python-dateutil
ephem
paramiko
# https://www.wheelodex.org/projects/pycurl/ or https://www.piwheels.org/project/pycurl/
pycurl
imageio
imageio-ffmpeg
# https://www.wheelodex.org/projects/imagecodecs/
#imagecodecs
rawpy
pygifsicle
gunicorn[gthread]
inotify
psutil
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
# https://www.wheelodex.org/projects/cryptography/
cryptography
dbus-python
paho-mqtt
setuptools-rust
# https://www.wheelodex.org/projects/bcrypt/
bcrypt
passlib[argon2]
flask-login
is-safe-url
prettytable
mysql-connector-python
PyMySQL
boto3
apache-libcloud
