# This file is targeted to Raspbian/Debian 11 and Python 3.9 (armv7l)
pyindi-client==1.9.1
#git+https://github.com/indilib/pyindi-client.git@xxxxxxx#egg=pyindi-client
#https://www.piwheels.org/project/astropy/
astropy
#https://www.piwheels.org/project/numpy/
numpy==1.22.4
#https://www.piwheels.org/project/opencv-python-headless/
opencv-python-headless==4.6.0.66
ccdproc
python-dateutil
ephem
paramiko
#https://www.piwheels.org/project/pycurl/
pycurl
imageio
imageio-ffmpeg
#rawpy  # not available on armv7l
pygifsicle
gunicorn[gthread]
inotify
psutil
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
cryptography
dbus-python
paho-mqtt
setuptools-rust
