[Unit]
Description=indi-allsky gunicorn socket

[Socket]
ListenStream=%ALLSKY_DIRECTORY%/%GUNICORN_SERVICE_NAME%.sock
SocketMode=666

[Install]
WantedBy=sockets.target
