[Unit]
Description=indi-allsky gunicorn daemon
Requires=%GUNICORN_SERVICE_NAME%.socket
After=network.target

[Service]
Type=notify
EnvironmentFile=%ALLSKY_ETC%/indi-allsky.env
#RuntimeDirectory=%GUNICORN_SERVICE_NAME%
WorkingDirectory=%ALLSKY_DIRECTORY%
ExecStart=%ALLSKY_DIRECTORY%/virtualenv/indi-allsky/bin/gunicorn --config %ALLSKY_ETC%/gunicorn.conf.py indi_allsky.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Nice=10
UMask=0022

[Install]
WantedBy=default.target
