[Unit]
Description=INDI Allsky Model Context Protocol (MCP) Network Service
After=network-online.target indi-allsky.service
Wants=network-online.target

[Service]
EnvironmentFile=%ALLSKY_ETC%/indi-allsky.env
WorkingDirectory=%ALLSKY_DIRECTORY%
ExecStart=%ALLSKY_DIRECTORY%/virtualenv/indi-allsky/bin/python3 misc/indi_allsky_mcp.py --transport sse --host 0.0.0.0 --port 8000
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=5
PrivateTmp=true
UMask=0022

[Install]
WantedBy=default.target
