[Unit]
Description=Indi Server
 
[Service]
User=changeme
PAMName=login
ExecStart=indiserver indi_simulator_telescope indi_changeme_ccd
ExecStop=/bin/kill -TERM $MAINPID
RestartSec=5
 
[Install]
WantedBy=multi-user.target
