[Unit]
Description=Indi AllSky Service
After=network.target indiserver.service
 
[Service]
User=changeme
PAMName=login
WorkingDirectory=/home/changeme/git/indi-allsky
ExecStart=/home/changeme/virtualenv/indi-allsky/bin/python allsky.py -c config.json run
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
RestartSec=5
 
[Install]
WantedBy=multi-user.target
