[Unit]
Description=Indi AllSky Service
After=network.target indiserver.service
 
[Service]
#User=%INDISERVER_USER%
WorkingDirectory=%ALLSKY_DIRECTORY%
ExecStart=%ALLSKY_DIRECTORY%/virtualenv/indi-allsky/bin/python3 allsky.py --config %ALLSKY_ETC%/config.json --log syslog run
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
RestartSec=5
PrivateTmp=true
 
[Install]
WantedBy=default.target
