[Unit]
Description=Indi Server
After=network.target
 
[Service]
#User=%INDISERVER_USER%
ExecStart=%INDI_DRIVER_PATH%/indiserver indi_simulator_telescope %INDI_CCD_DRIVER%
ExecStop=/bin/kill -TERM $MAINPID
RestartSec=5
PrivateTmp=true
 
[Install]
WantedBy=default.target
