### copy this file to .env ###

# shellcheck disable=SC2034

TZ=America/New_York

INDIALLSKY_INDI_CCD_DRIVER=indi_simulator_ccd
INDIALLSKY_INDI_GPS_DRIVER=

# This folder needs to be shared to the capture, gunicorn, and nginx containers
INDIALLSKY_IMAGE_FOLDER=/var/www/html/allsky/images

INDIALLSKY_FLASK_AUTH_ALL_VIEWS=false
INDIALLSKY_FLASK_SECRET_KEY=%INDIALLSKY_FLASK_SECRET_KEY%
INDIALLSKY_FLASK_PASSWORD_KEY=%INDIALLSKY_FLASK_PASSWORD_KEY%

# Folder for temporary files in capture process.  Uncomment to activate
#CAPTURE_TMPDIR=/tmp

INDIALLSKY_WEB_USER=%WEB_USER%
INDIALLSKY_WEB_PASS=%WEB_PASS%
INDIALLSKY_WEB_NAME=%WEB_NAME%
INDIALLSKY_WEB_EMAIL=%WEB_EMAIL%

INDIALLSKY_MOSQUITTO_USER=%WEB_USER%
INDIALLSKY_MOSQUITTO_PASS=%WEB_PASS%

# remember to set back to false after first run
INDIALLSKY_WEB_GENERATE_APIKEY=false

# Only used on the debian build
#INDIALLSKY_INDI_VERSION=2.0.2

INDIALLSKY_MARIADB_HOST=mariadb.indi.allsky
INDIALLSKY_MARIADB_PORT=3306
INDIALLSKY_MARIADB_SSL=false

MARIADB_RANDOM_ROOT_PASSWORD=yes
MARIADB_DATABASE=indi_allsky
MARIADB_USER=indi_allsky_own
MARIADB_PASSWORD=%MARIADB_PASSWORD%

