### copy this file to .env ###

INDIALLSKY_CAMERA_INTERFACE=indi
INDIALLSKY_INSTALL_INDI=true
INDIALLSKY_INSTALL_LIBCAMERA=false
INDIALLSKY_INSTALL_INDISERVER=true
INDIALLSKY_HTTP_PORT=80
INDIALLSKY_HTTPS_PORT=443
INDIALLSKY_TIMEZONE="America/New_York"
INDIALLSKY_INDI_VERSION=2.0.0
INDIALLSKY_CCD_DRIVER=indi_simulator_ccd
INDIALLSKY_GPS_DRIVER=
INDIALLSKY_FLASK_AUTH_ALL_VIEWS=false
INDIALLSKY_WEB_USER=user@example.org
INDIALLSKY_WEB_PASS=password
INDIALLSKY_WEB_NAME="First Last"
INDIALLSKY_WEB_EMAIL=user@example.org

