### copy this file to .env ###

# shellcheck disable=SC2034

TZ=America/New_York

INDIALLSKY_INDI_CCD_DRIVER=indi_simulator_ccd
INDIALLSKY_INDI_GPS_DRIVER=

# This folder needs to be shared to the capture, gunicorn, and nginx containers
INDIALLSKY_IMAGE_FOLDER=/var/www/html/allsky/images

# Set to "true" (without quotes) to take dark frames instead of normal image capture
INDIALLSKY_DARK_CAPTURE_ENABLE=false
INDIALLSKY_DARK_CAPTURE_MODE=sigmaclip
INDIALLSKY_DARK_CAPTURE_BITMAX=16
INDIALLSKY_DARK_CAPTURE_DAYTIME=--daytime

# Folder for temporary files in capture process.  Uncomment to activate
#CAPTURE_TMPDIR=/tmp

INDIALLSKY_FLASK_AUTH_ALL_VIEWS=false
INDIALLSKY_FLASK_SECRET_KEY=%INDIALLSKY_FLASK_SECRET_KEY%
INDIALLSKY_FLASK_PASSWORD_KEY=%INDIALLSKY_FLASK_PASSWORD_KEY%

INDIALLSKY_WEB_USER=%WEB_USER%
INDIALLSKY_WEB_PASS=%WEB_PASS%
INDIALLSKY_WEB_NAME=%WEB_NAME%
INDIALLSKY_WEB_EMAIL=%WEB_EMAIL%

INDIALLSKY_MOSQUITTO_USER=%WEB_USER%
INDIALLSKY_MOSQUITTO_PASS=%WEB_PASS%

# Set to "true" (without quotes) to generate a users API key
# remember to set back to "false" after first run
INDIALLSKY_WEB_GENERATE_APIKEY=false

# Only used on the debian build
INDIALLSKY_INDI_VERSION=v2.1.1

# "supported" includes all supported camera drivers except libcamera
# asi, qhy, playerone, sx, touptek, svbony, libcamera, gphoto, webcam
INDIALLSKY_CAMERA_VENDOR=supported

# libcamera is commented out of Dockerfile.indi_base_debian12
# last successful build on x86_64 was v0.2.0+rpt20240418
INDIALLSKY_LIBCAMERA_TAG=v0.3.0+rpt20240617
INDIALLSKY_RPICAM_APPS_TAG=v1.5.0

INDIALLSKY_MARIADB_HOST=mariadb.indi.allsky
INDIALLSKY_MARIADB_PORT=3306
INDIALLSKY_MARIADB_SSL=false
INDIALLSKY_MARIADB_CHARSET=utf8mb4
INDIALLSKY_MARIADB_COLLATION=utf8mb4_unicode_ci

MARIADB_RANDOM_ROOT_PASSWORD=yes
MARIADB_DATABASE=indi_allsky
MARIADB_USER=indi_allsky_own
MARIADB_PASSWORD=%MARIADB_PASSWORD%

# For testing
#INDIALLSKY_CAPTURE_NO_WAIT=1
#INDIALLSKY_GUNICORN_NO_WAIT=1
