<div class="tab-pane fade" id="nav-adsb" role="tabpanel" aria-labelledby="nav-adsb-tab">

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.ADSB__ENABLE(class='form-check-input') }}
                <div id="ADSB__ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/ADS%E2%80%90B-Aircraft-Tracking" class="text-decoration-none link-info" target="_blank">ADS-B Aircraft Tracking Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__DUMP1090_URL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-6">
            {{ form_config.ADSB__DUMP1090_URL(class='form-control bg-secondary') }}
            <div id="ADSB__DUMP1090_URL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-4">
            <div>aircraft.json URL</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__USERNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_config.ADSB__USERNAME(class='form-control bg-secondary') }}
            <div id="ADSB__USERNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-7">HTTP Username</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__PASSWORD.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_config.ADSB__PASSWORD(class='form-control bg-secondary') }}
            <div id="ADSB__PASSWORD-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-7">HTTP Password</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__CERT_BYPASS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.ADSB__CERT_BYPASS(class='form-check-input') }}
                <div id="ADSB__CERT_BYPASS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Bypass certificate validation</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__ALT_DEG_MIN.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.ADSB__ALT_DEG_MIN(class='form-control bg-secondary') }}
            <div id="ADSB__ALT_DEG_MIN-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Minimum visual altitude of aircraft in degrees</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__LABEL_ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.ADSB__LABEL_ENABLE(class='form-check-input') }}
                <div id="ADSB__LABEL_ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__LABEL_LIMIT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.ADSB__LABEL_LIMIT(class='form-control bg-secondary') }}
            <div id="ADSB__LABEL_LIMIT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Limit number of aircraft to label on image</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__IMAGE_LABEL_TEMPLATE_PREFIX.label(class='col-form-label') }}
        </div>
        <div class="col-sm-6">
            {{ form_config.ADSB__IMAGE_LABEL_TEMPLATE_PREFIX(class='form-control bg-secondary', rows='10') }}
            <div id="ADSB__IMAGE_LABEL_TEMPLATE_PREFIX-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-4">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ADSB__AIRCRAFT_LABEL_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.ADSB__AIRCRAFT_LABEL_TEMPLATE(class='form-control bg-secondary') }}
            <div id="ADSB__AIRCRAFT_LABEL_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6"></div>
    </div>

</div><!-- end adsb tab -->
