<div class="tab-pane fade" id="nav-devices" role="tabpanel" aria-labelledby="nav-devices-tab">

    <div><span class="badge rounded-pill bg-info text-dark">Note</span> Hardware Device support requires the python GPIO modules</div>

    <hr>

    <div><span class="badge rounded-pill bg-info text-dark">Note</span> Sensor units may be in either Celsius or Fahrenheit based on the <a href="#camera-TEMP_DISPLAY" class="text-decoration-none link-info">Temperature Display</a> option on the Camera Tab</div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MANUAL_GPIO__A_CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.MANUAL_GPIO__A_CLASSNAME(class='form-select bg-secondary') }}
            <div id="MANUAL_GPIO__A_CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div><a href="{{ url_for('indi_allsky.manual_gpio_view') }}" class="text-decoration-none link-info">Manual GPIO Control</a></div>
            <div><span class="badge rounded-pill bg-warning text-dark">Note</span> GPIOs 1-8 are not recommended due to the internal pull-up being enabled by default</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MANUAL_GPIO__A_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.MANUAL_GPIO__A_PIN_1(class='form-control bg-secondary') }}
            <div id="MANUAL_GPIO__A_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: 21 (GPIO21 / Pin 40 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MANUAL_GPIO__A_PIN_2.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.MANUAL_GPIO__A_PIN_2(class='form-control bg-secondary') }}
            <div id="MANUAL_GPIO__A_PIN_2-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: 25 (GPIO25 / Pin 22 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MANUAL_GPIO__A_PIN_3.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.MANUAL_GPIO__A_PIN_3(class='form-control bg-secondary') }}
            <div id="MANUAL_GPIO__A_PIN_3-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: 16 (GPIO16 / Pin 36 Raspi)</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.GENERIC_GPIO__A_CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.GENERIC_GPIO__A_CLASSNAME(class='form-select bg-secondary') }}
            <div id="GENERIC_GPIO__A_CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Activates a device/pin at night and off during day (or reversed)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.GENERIC_GPIO__A_I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.GENERIC_GPIO__A_I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="GENERIC_GPIO__A_I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x12</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.GENERIC_GPIO__A_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.GENERIC_GPIO__A_PIN_1(class='form-control bg-secondary') }}
            <div id="GENERIC_GPIO__A_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D21 (GPIO21 / Pin 40 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.GENERIC_GPIO__A_INVERT_OUTPUT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.GENERIC_GPIO__A_INVERT_OUTPUT(class='form-check-input') }}
                <div id="GENERIC_GPIO__A_INVERT_OUTPUT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEW_HEATER__CLASSNAME(class='form-select bg-secondary') }}
            <div id="DEW_HEATER__CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Dew-Heater-Support" class="text-decoration-none link-info" target="_blank">Dew Heater Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x10</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__PIN_1(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D12 (GPIO12 / Pin 32 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__INVERT_OUTPUT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.DEW_HEATER__INVERT_OUTPUT(class='form-check-input') }}
                <div id="DEW_HEATER__INVERT_OUTPUT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__LEVEL_DEF.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__LEVEL_DEF(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__LEVEL_DEF-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default duty cycle of PWM</div>
            <div><span class="badge rounded-pill bg-info text-dark">Note</span> If you enable dew heater thresholds, this should be set to 0</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__PWM_FREQUENCY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__PWM_FREQUENCY(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__PWM_FREQUENCY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default: 500 - Only used for Hardware PWM</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__ENABLE_DAY.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.DEW_HEATER__ENABLE_DAY(class='form-check-input') }}
                <div id="DEW_HEATER__ENABLE_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__THOLD_ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.DEW_HEATER__THOLD_ENABLE(class='form-check-input') }}
                <div id="DEW_HEATER__THOLD_ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__TEMP_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEW_HEATER__TEMP_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="DEW_HEATER__TEMP_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Last measurement: <b>{{ dh_temp_str }}</b></div>
            <div>This should be the slot containing the current temperature to be compared against the dew point (or manual target)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__DEWPOINT_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEW_HEATER__DEWPOINT_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="DEW_HEATER__DEWPOINT_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Last measurement: <b>{{ dh_dewpoint_str }}</b></div>
            <div>Last delta: <b>{{ dh_temp_delta_str }}</b></div>
            <div>Expected status: <b>{{ dh_status_str }}</b></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__MANUAL_TARGET.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__MANUAL_TARGET(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__MANUAL_TARGET-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Manual target temperature if dew point calculations are not available.  0 = disabled</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__HOLD_SECONDS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__HOLD_SECONDS(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__HOLD_SECONDS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Prevent Dew Heater status from changing too often</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__LEVEL_LOW.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__LEVEL_LOW(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__LEVEL_LOW-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__LEVEL_MED.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__LEVEL_MED(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__LEVEL_MED-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__LEVEL_HIGH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__LEVEL_HIGH(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__LEVEL_HIGH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__THOLD_DIFF_LOW.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__THOLD_DIFF_LOW(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__THOLD_DIFF_LOW-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>If the delta is above the LOW threshold, the default level is used</div>
            <div><b>Threshold: {{ dh_target_low_str }}</b></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__THOLD_DIFF_MED.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__THOLD_DIFF_MED(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__THOLD_DIFF_MED-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><b>Threshold: {{ dh_target_med_str }}</b></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__THOLD_DIFF_HIGH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.DEW_HEATER__THOLD_DIFF_HIGH(class='form-control bg-secondary') }}
            <div id="DEW_HEATER__THOLD_DIFF_HIGH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><b>Threshold: {{ dh_target_high_str }}</b></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FAN__CLASSNAME(class='form-select bg-secondary') }}
            <div id="FAN__CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Fan-Control" class="text-decoration-none link-info" target="_blank">Fan Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="FAN__I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x11</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__PIN_1(class='form-control bg-secondary') }}
            <div id="FAN__PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D13 (GPIO13 / Pin 33 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__INVERT_OUTPUT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FAN__INVERT_OUTPUT(class='form-check-input') }}
                <div id="FAN__INVERT_OUTPUT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__LEVEL_DEF.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__LEVEL_DEF(class='form-control bg-secondary') }}
            <div id="FAN__LEVEL_DEF-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default duty cycle of PWM</div>
            <div><span class="badge rounded-pill bg-info text-dark">Note</span> If you enable fan thresholds, this should be set to 0</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__PWM_FREQUENCY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__PWM_FREQUENCY(class='form-control bg-secondary') }}
            <div id="FAN__PWM_FREQUENCY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default: 500</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__ENABLE_NIGHT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FAN__ENABLE_NIGHT(class='form-check-input') }}
                <div id="FAN__ENABLE_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__THOLD_ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FAN__THOLD_ENABLE(class='form-check-input') }}
                <div id="FAN__THOLD_ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__TEMP_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FAN__TEMP_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="FAN__TEMP_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Last measurement: <b>{{ fan_temp_str }}</b></div>
            <div>This should be the slot containing the current temperature to be compared with the target temperature</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__TARGET.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__TARGET(class='form-control bg-secondary') }}
            <div id="FAN__TARGET-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Target temperature</div>
            <div>Last delta: <b>{{ fan_temp_delta_str }}</b></div>
            <div>Expected status: <b>{{ fan_status_str }}</b></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__HOLD_SECONDS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__HOLD_SECONDS(class='form-control bg-secondary') }}
            <div id="FAN__HOLD_SECONDS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Prevent Fan status from changing too often</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__LEVEL_LOW.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__LEVEL_LOW(class='form-control bg-secondary') }}
            <div id="FAN__LEVEL_LOW-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__LEVEL_MED.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__LEVEL_MED(class='form-control bg-secondary') }}
            <div id="FAN__LEVEL_MED-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__LEVEL_HIGH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__LEVEL_HIGH(class='form-control bg-secondary') }}
            <div id="FAN__LEVEL_HIGH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__THOLD_DIFF_LOW.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__THOLD_DIFF_LOW(class='form-control bg-secondary') }}
            <div id="FAN__THOLD_DIFF_LOW-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>If the delta is below the LOW threshold, the default level is used</div>
            <div><b>Threshold: {{ fan_target_low_str }}</b></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__THOLD_DIFF_MED.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__THOLD_DIFF_MED(class='form-control bg-secondary') }}
            <div id="FAN__THOLD_DIFF_MED-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><b>Threshold: {{ fan_target_med_str }}</b></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FAN__THOLD_DIFF_HIGH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FAN__THOLD_DIFF_HIGH(class='form-control bg-secondary') }}
            <div id="FAN__THOLD_DIFF_HIGH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><b>Threshold: {{ fan_target_high_str }}</b></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FOCUSER__CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FOCUSER__CLASSNAME(class='form-select bg-secondary') }}
            <div id="FOCUSER__CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Focuser-Device" class="text-decoration-none link-info" target="_blank">Focuser Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FOCUSER__GPIO_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FOCUSER__GPIO_PIN_1(class='form-control bg-secondary') }}
            <div id="FOCUSER__GPIO_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D17 (GPIO17 / Pin 11 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FOCUSER__GPIO_PIN_2.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FOCUSER__GPIO_PIN_2(class='form-control bg-secondary') }}
            <div id="FOCUSER__GPIO_PIN_2-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D18 (GPIO18 / Pin 12 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FOCUSER__GPIO_PIN_3.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FOCUSER__GPIO_PIN_3(class='form-control bg-secondary') }}
            <div id="FOCUSER__GPIO_PIN_3-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D27 (GPIO27 / Pin 13 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FOCUSER__GPIO_PIN_4.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FOCUSER__GPIO_PIN_4(class='form-control bg-secondary') }}
            <div id="FOCUSER__GPIO_PIN_4-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D22 (GPIO22 / Pin 15 Raspi)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FOCUSER__I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FOCUSER__I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="FOCUSER__I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x60</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_HOST.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEVICE__MQTT_HOST(class='form-control bg-secondary') }}
            <div id="DEVICE__MQTT_HOST-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT hostname</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_TRANSPORT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEVICE__MQTT_TRANSPORT(class='form-select bg-secondary') }}
            <div id="DEVICE__MQTT_TRANSPORT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT Transport</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_PROTOCOL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEVICE__MQTT_PROTOCOL(class='form-select bg-secondary') }}
            <div id="DEVICE__MQTT_PROTOCOL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT Protocol</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_PORT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEVICE__MQTT_PORT(class='form-control bg-secondary') }}
            <div id="DEVICE__MQTT_PORT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT port - 8883 = TLS, 1883 = standard</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_USERNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEVICE__MQTT_USERNAME(class='form-control bg-secondary') }}
            <div id="DEVICE__MQTT_USERNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT Username</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_PASSWORD.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEVICE__MQTT_PASSWORD(class='form-control bg-secondary') }}
            <div id="DEVICE__MQTT_PASSWORD-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT Password</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_QOS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.DEVICE__MQTT_QOS(class='form-control bg-secondary') }}
            <div id="DEVICE__MQTT_QOS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT QoS - 0 (default), 1, or 2</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_TLS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.DEVICE__MQTT_TLS(class='form-check-input') }}
                <div id="DEVICE__MQTT_TLS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Use TLS/SSL for MQTT connections</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.DEVICE__MQTT_CERT_BYPASS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.DEVICE__MQTT_CERT_BYPASS(class='form-check-input') }}
                <div id="DEVICE__MQTT_CERT_BYPASS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Bypass certificate validation</div>
    </div>

</div><!-- end devices tab -->
