<div class="tab-pane fade" id="nav-filetransfer" role="tabpanel" aria-labelledby="nav-filetransfer-tab">

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.UPLOAD_WORKERS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.UPLOAD_WORKERS(class='form-control bg-secondary') }}
            <div id="UPLOAD_WORKERS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Number of upload threads to operate</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FILETRANSFER__CLASSNAME(class='form-select bg-secondary') }}
            <div id="FILETRANSFER__CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>File transfer protocol</div>
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/File-transfers" class="text-decoration-none link-info" target="_blank">File Transfer Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__HOST.label(class='col-form-label') }}
        </div>
            <div class="col-sm-4">
            {{ form_config.FILETRANSFER__HOST(class='form-control bg-secondary') }}
        <div id="FILETRANSFER__HOST-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Hostname for file transfer</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__PORT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__PORT(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__PORT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">File transfer port (0 for protocol default)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__USERNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_config.FILETRANSFER__USERNAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__USERNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-7">Username for file transfer</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__PASSWORD.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_config.FILETRANSFER__PASSWORD(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__PASSWORD-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-7">Password for file transfer</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__PRIVATE_KEY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FILETRANSFER__PRIVATE_KEY(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__PRIVATE_KEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Private key for file transfer (SSH)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__PUBLIC_KEY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FILETRANSFER__PUBLIC_KEY(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__PUBLIC_KEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Public key for file transfer (SSH)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__CONNECT_TIMEOUT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__CONNECT_TIMEOUT(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__CONNECT_TIMEOUT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__TIMEOUT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__TIMEOUT(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__TIMEOUT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">This timeout is for the whole transfer.  Ensure it is large enough to transfer videos</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__CERT_BYPASS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__CERT_BYPASS(class='form-check-input') }}
                <div id="FILETRANSFER__CERT_BYPASS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Bypass certificate validation</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__ATOMIC_TRANSFERS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__ATOMIC_TRANSFERS(class='form-check-input') }}
                <div id="FILETRANSFER__ATOMIC_TRANSFERS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Transfer files to a temporary name before renaming to the final name</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__FORCE_IPV4.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__FORCE_IPV4(class='form-check-input') }}
                <div id="FILETRANSFER__FORCE_IPV4-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Force IPv4 (PycURL Only)</div>
            <div><span class="badge rounded-pill bg-info text-dark">Note</span> This can be helpful if you receive connection timeout errors</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__FORCE_IPV6.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__FORCE_IPV6(class='form-check-input') }}
                <div id="FILETRANSFER__FORCE_IPV6-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Force IPv6</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__LIBCURL_OPTIONS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-6">
            {{ form_config.FILETRANSFER__LIBCURL_OPTIONS(class='form-control bg-secondary', rows='6') }}
            <div id="FILETRANSFER__LIBCURL_OPTIONS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-4">
            <div>libcurl options for use with PycURL classes</div>
            <div><span class="badge rounded-pill bg-warning text-dark">Warning</span> Options are not fully validated</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_IMAGE_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_IMAGE_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_IMAGE_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
            <div>Remote image name. "{0}" is replaced with the configured image type extension.</div>
            <div>Available variables: <pre>timestamp, ts, ext, camera_uuid, camera_id, timeofday, tod</pre></div>
            <div><a href="https://docs.python.org/3/library/string.html#formatspec" class="text-decoration-none link-info" target="_blank">Python format syntax</a></div>
            <div><a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes" class="text-decoration-none link-info" target="_blank">Python datetime format codes</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_IMAGE_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_IMAGE_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_IMAGE_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
            <div>Remote folder to store images</div>
            <div>Available variables: <pre>timestamp, ts, day_date, camera_uuid, camera_id, timeofday, tod</pre></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_PANORAMA_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_PANORAMA_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_PANORAMA_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_PANORAMA_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_PANORAMA_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_PANORAMA_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_METADATA_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_METADATA_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_METADATA_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote metadata file name.</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_METADATA_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_METADATA_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_METADATA_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store metadata</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_RAW_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_RAW_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_RAW_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_RAW_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_RAW_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_RAW_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store RAW images</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_FITS_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_FITS_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_FITS_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_FITS_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_FITS_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_FITS_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store FITS images</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_VIDEO_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_VIDEO_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_VIDEO_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_VIDEO_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_VIDEO_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_VIDEO_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store timelapse videos</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_MINI_VIDEO_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_MINI_VIDEO_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_MINI_VIDEO_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_MINI_VIDEO_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_MINI_VIDEO_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_MINI_VIDEO_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store mini timelapse videos</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_KEOGRAM_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_KEOGRAM_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_KEOGRAM_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_KEOGRAM_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_KEOGRAM_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_KEOGRAM_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store keograms</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_STARTRAIL_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_STARTRAIL_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_STARTRAIL_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_STARTRAIL_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_STARTRAIL_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_STARTRAIL_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store star trails</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_STARTRAIL_VIDEO_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_STARTRAIL_VIDEO_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_STARTRAIL_VIDEO_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_STARTRAIL_VIDEO_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_STARTRAIL_VIDEO_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_STARTRAIL_VIDEO_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store star trail videos</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_PANORAMA_VIDEO_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_PANORAMA_VIDEO_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_PANORAMA_VIDEO_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_PANORAMA_VIDEO_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_PANORAMA_VIDEO_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_PANORAMA_VIDEO_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store panorama videos</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_REALTIME_KEOGRAM_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_REALTIME_KEOGRAM_NAME(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_REALTIME_KEOGRAM_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_REALTIME_KEOGRAM_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.FILETRANSFER__REMOTE_REALTIME_KEOGRAM_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_REALTIME_KEOGRAM_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Remote folder to store realtime keograms</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_ENDOFNIGHT_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FILETRANSFER__REMOTE_ENDOFNIGHT_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_ENDOFNIGHT_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Remote folder to store Allsky EndOfNight data</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_LATEST_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FILETRANSFER__REMOTE_LATEST_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_LATEST_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Remote folder to store latest image and timelapse files</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_IMAGE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_IMAGE(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__UPLOAD_IMAGE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Enable image uploads (0 = disable, 1 = every image, 2 = every 2nd image, etc)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_PANORAMA.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_PANORAMA(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__UPLOAD_PANORAMA-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Enable image uploads (0 = disable, 1 = every image, 2 = every 2nd image, etc)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_METADATA.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_METADATA(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_METADATA-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable metadata uploads (requires image uploads to be enabled)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_RAW.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_RAW(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_RAW-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable RAW uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_FITS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_FITS(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_FITS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable FITS uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_VIDEO(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable timelapse video uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_MINI_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_MINI_VIDEO(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_MINI_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable mini timelapse video uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_KEOGRAM.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_KEOGRAM(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_KEOGRAM-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable keogram uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_STARTRAIL.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_STARTRAIL(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_STARTRAIL-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable star trail uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_STARTRAIL_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_STARTRAIL_VIDEO(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_STARTRAIL_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable star trail video uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_PANORAMA_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_PANORAMA_VIDEO(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_PANORAMA_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable panorama video uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_REALTIME_KEOGRAM.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_REALTIME_KEOGRAM(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__UPLOAD_REALTIME_KEOGRAM-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Enable realtime keogram uploads (0 = disable, 1 = every image, 2 = every 2nd image, etc)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_ENDOFNIGHT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_ENDOFNIGHT(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_ENDOFNIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable Allsky EndOfNight uploads</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_LATEST_IMAGE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_LATEST_IMAGE(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_LATEST_IMAGE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable Allsky Latest Image uploads - Timelapse images</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_LATEST_PANORAMA.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_LATEST_PANORAMA(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_LATEST_PANORAMA-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable Allsky Latest Image uploads - Panoramas</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_LATEST_RAW.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_LATEST_RAW(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_LATEST_RAW-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable Allsky Latest Image uploads - RAW Images</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_LATEST_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_LATEST_VIDEO(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_LATEST_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable Allsky Latest Timelapse uploads:  Timelapse Videos, Keograms, Startrails, Panorama Timelapses</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__REMOTE_DB_BACKUP_FOLDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.FILETRANSFER__REMOTE_DB_BACKUP_FOLDER(class='form-control bg-secondary') }}
            <div id="FILETRANSFER__REMOTE_DB_BACKUP_FOLDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Remote folder to store database backups</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.FILETRANSFER__UPLOAD_DB_BACKUP.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.FILETRANSFER__UPLOAD_DB_BACKUP(class='form-check-input') }}
                <div id="FILETRANSFER__UPLOAD_DB_BACKUP-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable Allsky database backups</div>
    </div>

</div><!-- end filetransfer tab -->
