<div class="tab-pane fade" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.GPS_ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.GPS_ENABLE(class='form-check-input') }}
                <div id="GPS_ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Enable using GPS location services.  Requires GPS hardware and <a href="https://github.com/aaronwmorris/indi-allsky/wiki/GPSd-NTP-Time-Sync" class="text-decoration-none link-info" target="_blank">GPSd installation</a></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.PRIVACY_MODE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.PRIVACY_MODE(class='form-check-input') }}
                <div id="PRIVACY_MODE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Reduces precision of Latitude and Longitude information when it is exposed</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_EXIF_PRIVACY.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.IMAGE_EXIF_PRIVACY(class='form-check-input') }}
                <div id="IMAGE_EXIF_PRIVACY-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Exclude private identifying information from image EXIF tags including owner and GPS details</div>
            <div>Camera information is still included.  Only valid for JPEG images</div>
        </div>
    </div>

    <hr>

    <div><span class="badge rounded-pill bg-info text-dark">Note</span> Changes to LATITUDE and LONGITUDE will not be immediately reflected in the status area.  A reload is necessary to update the camera metadata.</div>
    <div>&nbsp;</div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LOCATION_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_config.LOCATION_NAME(class='form-control bg-secondary') }}
            <div id="LOCATION_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-7">Free form input</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LOCATION_LATITUDE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LOCATION_LATITUDE(class='form-control bg-secondary') }}
            <div id="LOCATION_LATITUDE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Min: -90, Max: 90 [Positive = Northern Hemisphere / Negative = Southern Hemisphere]</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LOCATION_LONGITUDE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LOCATION_LONGITUDE(class='form-control bg-secondary') }}
            <div id="LOCATION_LONGITUDE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>{{ longitude_validation_message | safe }}</div>
            <div>Min: -180, Max: 180 [Positive = Eastern Hemisphere / Negative = Western Hemisphere]</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label">Browser Location</label>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-outline-info" onclick="setLocationFromBrowser();">
                Use browser location
            </button>
        </div>
        <div class="col-sm-8">
            <div class="form-text text-secondary">
                Your browser will ask for permission. Coordinates are only filled into the form after you approve.
            </div>
            <div id="BROWSER_LOCATION_STATUS" class="form-text text-secondary"></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LOCATION_ELEVATION.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LOCATION_ELEVATION(class='form-control bg-secondary') }}
            <div id="LOCATION_ELEVATION-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Meters</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.OWNER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_config.OWNER(class='form-control bg-secondary') }}
            <div id="OWNER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-7">
            <div>Owner information for copyright tags</div>
            <div>Restricted to simplified characters</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LENS_NAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_config.LENS_NAME(class='form-control bg-secondary') }}
            <div id="LENS_NAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-7">
            <a href="{{ url_for('indi_allsky.camera_lens_view') }}" class="text-decoration-none link-info">
                <span class="badge pill bg-danger">Camera Info</span>
            </a>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LENS_FOCAL_LENGTH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LENS_FOCAL_LENGTH(class='form-control bg-secondary') }}
            <div id="LENS_FOCAL_LENGTH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LENS_FOCAL_RATIO.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LENS_FOCAL_RATIO(class='form-control bg-secondary') }}
            <div id="LENS_FOCAL_RATIO-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LENS_IMAGE_CIRCLE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LENS_IMAGE_CIRCLE(class='form-control bg-secondary') }}
            <div id="LENS_IMAGE_CIRCLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Image circle in pixels.  If you cannot see the edge of the image circle, just ensure this number is larger than the diagonal.</div>
            <div><a href="{{ url_for('indi_allsky.image_circle_helper_view') }}" class="text-decoration-none link-info" target="_blank">Image Circle Helper</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LENS_OFFSET_X.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LENS_OFFSET_X(class='form-control bg-secondary') }}
            <div id="LENS_OFFSET_X-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Lens/Sensor offset from center</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LENS_OFFSET_Y.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LENS_OFFSET_Y(class='form-control bg-secondary') }}
            <div id="LENS_OFFSET_Y-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LENS_ALTITUDE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LENS_ALTITUDE(class='form-control bg-secondary') }}
            <div id="LENS_ALTITUDE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LENS_AZIMUTH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LENS_AZIMUTH(class='form-control bg-secondary') }}
            <div id="LENS_AZIMUTH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><span class="badge rounded-pill bg-info text-dark">Note</span> This affects Cardinal directions and VirtualSky</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.NIGHT_SUN_ALT_DEG.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.NIGHT_SUN_ALT_DEG(class='form-control bg-secondary') }}
            <div id="NIGHT_SUN_ALT_DEG-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Sun altitude for start of night</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.NIGHT_MOONMODE_ALT_DEG.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.NIGHT_MOONMODE_ALT_DEG(class='form-control bg-secondary') }}
            <div id="NIGHT_MOONMODE_ALT_DEG-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Moon altitude to enable Moon Mode (91 will disable)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.NIGHT_MOONMODE_PHASE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.NIGHT_MOONMODE_PHASE(class='form-control bg-secondary') }}
            <div id="NIGHT_MOONMODE_PHASE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Moon illumnation percentage to enable Moon Mode</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__LATITUDE_OFFSET.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__LATITUDE_OFFSET(class='form-control bg-secondary') }}
            <div id="VIRTUALSKY__LATITUDE_OFFSET-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/VirtualSky" class="text-decoration-none link-info" target="_blank">VirtualSky Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__LONGITUDE_OFFSET.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__LONGITUDE_OFFSET(class='form-control bg-secondary') }}
            <div id="VIRTUALSKY__LONGITUDE_OFFSET-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><span class="badge rounded-pill bg-info text-dark">Note</span> Changes to VirtualSky settings will become available after a Reload</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__IMAGE_CIRCLE_DIAMETER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__IMAGE_CIRCLE_DIAMETER(class='form-control bg-secondary') }}
            <div id="VIRTUALSKY__IMAGE_CIRCLE_DIAMETER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__OFFSET_X.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__OFFSET_X(class='form-control bg-secondary') }}
            <div id="VIRTUALSKY__OFFSET_X-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__OFFSET_Y.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__OFFSET_Y(class='form-control bg-secondary') }}
            <div id="VIRTUALSKY__OFFSET_Y-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__MAGNITUDE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__MAGNITUDE(class='form-control bg-secondary') }}
            <div id="VIRTUALSKY__MAGNITUDE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default: 6.0</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__CONSTELLATIONS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.VIRTUALSKY__CONSTELLATIONS(class='form-check-input') }}
                <div id="VIRTUALSKY__CONSTELLATIONS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__CONSTELLATIONLABELS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.VIRTUALSKY__CONSTELLATIONLABELS(class='form-check-input') }}
                <div id="VIRTUALSKY__CONSTELLATIONLABELS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__SHOWSTARS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.VIRTUALSKY__SHOWSTARS(class='form-check-input') }}
                <div id="VIRTUALSKY__SHOWSTARS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__SHOWSTARLABELS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.VIRTUALSKY__SHOWSTARLABELS(class='form-check-input') }}
                <div id="VIRTUALSKY__SHOWSTARLABELS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__SHOWPLANETS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.VIRTUALSKY__SHOWPLANETS(class='form-check-input') }}
                <div id="VIRTUALSKY__SHOWPLANETS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Disabling planets will also disable planet labels</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.VIRTUALSKY__SHOWPLANETLABELS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.VIRTUALSKY__SHOWPLANETLABELS(class='form-check-input') }}
                <div id="VIRTUALSKY__SHOWPLANETLABELS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>
</div><!-- end location tab -->
