<div class="tab-pane fade" id="nav-overlays" role="tabpanel" aria-labelledby="nav-overlays-tab">

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_LABEL_SYSTEM.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_LABEL_SYSTEM(class='form-select bg-secondary') }}
            <div id="IMAGE_LABEL_SYSTEM-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Image Label System</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_LABEL_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.IMAGE_LABEL_TEMPLATE(class='form-control bg-secondary', rows='12') }}
            <div id="IMAGE_LABEL_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div><a href="https://docs.python.org/3/library/string.html#formatspec" class="text-decoration-none link-info" target="_blank">Python format syntax</a></div>
            <div><a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes" class="text-decoration-none link-info" target="_blank">Python datetime format codes</a></div>
            <div>Available variables:</div>
            <div><pre>timestamp, ts, day_date, exposure, rational_exp, gain_f, temp, temp_unit,<br>sidereal_time, sqm, stars, detections, stack_method, stack_count, stretch<br>location, owner, latitude, longitude, kpindex, ovation_max,<br>sun_alt, moon_alt, moon_phase, sun_moon_sep, moon_up, sun_moon_sep,<br>mercury_alt, mercury_up, venus_alt, venus_up, venus_phase,<br>mars_alt, mars_up, jupiter_alt, jupiter_up, saturn_alt, saturn_up,<br>iss_alt, iss_up, iss_next_h, iss_next_alt, hst_alt, hst_up, hst_next_h,<br>hst_next_alt, tiangong_alt, tiangong_up, tiangong_next_h, tiangong_next_alt,<br>rain_status</pre></div>
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Image-Labels" class="text-decoration-none link-info" target="_blank">Image Labels Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_EXTRA_TEXT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.IMAGE_EXTRA_TEXT(class='form-control bg-secondary') }}
            <div id="IMAGE_EXTRA_TEXT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
            <div>File containing extra text for image</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__PIL_FONT_FILE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEXT_PROPERTIES__PIL_FONT_FILE(class='form-select bg-secondary') }}
            <div id="TEXT_PROPERTIES__PIL_FONT_FILE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Pillow supports TrueType and OpenType fonts</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__PIL_FONT_SIZE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__PIL_FONT_SIZE(class='form-control bg-secondary') }}
            <div id="TEXT_PROPERTIES__PIL_FONT_SIZE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">This field has no effect when font sizes are specified in the template itself</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__PIL_FONT_CUSTOM.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.TEXT_PROPERTIES__PIL_FONT_CUSTOM(class='form-control bg-secondary') }}
            <div id="TEXT_PROPERTIES__PIL_FONT_CUSTOM-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">Custom TrueType font</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_FACE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEXT_PROPERTIES__FONT_FACE(class='form-select bg-secondary') }}
            <div id="TEXT_PROPERTIES__FONT_FACE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Font face for image metadata</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_SCALE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_SCALE(class='form-control bg-secondary') }}
            <div id="TEXT_PROPERTIES__FONT_SCALE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Font size</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_THICKNESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_THICKNESS(class='form-control bg-secondary') }}
            <div id="TEXT_PROPERTIES__FONT_THICKNESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Font thickness</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_HEIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_HEIGHT(class='form-control bg-secondary') }}
            <div id="TEXT_PROPERTIES__FONT_HEIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Font height for row spacing</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_X.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_X(class='form-control bg-secondary') }}
            <div id="TEXT_PROPERTIES__FONT_X-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">X coordinate to start writing metadata - Maybe overriden in template</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_Y.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_Y(class='form-control bg-secondary') }}
            <div id="TEXT_PROPERTIES__FONT_Y-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Y coordinate to start writing metadata</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_COLOR(class='form-control bg-secondary') }}
            <div id="TEXT_PROPERTIES__FONT_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Font color in R,G,B - May be overriden in template</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEXT_PROPERTIES__FONT_OUTLINE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEXT_PROPERTIES__FONT_OUTLINE(class='form-check-input') }}
                <div id="TEXT_PROPERTIES__FONT_OUTLINE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Add black outline to text</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.MOON_OVERLAY__ENABLE(class='form-check-input') }}
                <div id="MOON_OVERLAY__ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__X.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__X(class='form-control bg-secondary') }}
            <div id="MOON_OVERLAY__X-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Negative is offset from the right side of image (Not validated with image size)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__Y.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__Y(class='form-control bg-secondary') }}
            <div id="MOON_OVERLAY__Y-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Negative is offset from the bottom of image</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__FLIP_V.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.MOON_OVERLAY__FLIP_V(class='form-check-input') }}
                <div id="MOON_OVERLAY__FLIP_V-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Flipping Vertically and Horizontal should show view from Southern Hemisphere</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__FLIP_H.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.MOON_OVERLAY__FLIP_H(class='form-check-input') }}
                <div id="MOON_OVERLAY__FLIP_H-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__SCALE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__SCALE(class='form-control bg-secondary') }}
            <div id="MOON_OVERLAY__SCALE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Original Moon image is 400x400</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__DARK_SIDE_SCALE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.MOON_OVERLAY__DARK_SIDE_SCALE(class='form-control bg-secondary') }}
            <div id="MOON_OVERLAY__DARK_SIDE_SCALE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default: 0.4 - 0.0 would make the shaded area completely black</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.LIGHTGRAPH_OVERLAY__ENABLE(class='form-check-input') }}
                <div id="LIGHTGRAPH_OVERLAY__ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__GRAPH_HEIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__GRAPH_HEIGHT(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__GRAPH_HEIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__GRAPH_BORDER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__GRAPH_BORDER(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__GRAPH_BORDER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__NOW_MARKER_SIZE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__NOW_MARKER_SIZE(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__NOW_MARKER_SIZE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__Y.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__Y(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__Y-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Negative is offset from the bottom of image</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__OFFSET_X.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__OFFSET_X(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__OFFSET_X-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Offset from center</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__SCALE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__SCALE(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__SCALE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default size: 1446 x 86 (including borders)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__DAY_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__DAY_COLOR(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__DAY_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Color in R,G,B</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__DUSK_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__DUSK_COLOR(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__DUSK_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__NIGHT_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__NIGHT_COLOR(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__NIGHT_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__MOONMODE_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__MOONMODE_COLOR(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__MOONMODE_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__HOUR_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__HOUR_COLOR(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__HOUR_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__BORDER_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__BORDER_COLOR(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__BORDER_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__NOW_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__NOW_COLOR(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__NOW_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__FONT_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__FONT_COLOR(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__FONT_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__OPACITY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__OPACITY(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__OPACITY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__PIL_FONT_SIZE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__PIL_FONT_SIZE(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__PIL_FONT_SIZE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__OPENCV_FONT_SCALE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__OPENCV_FONT_SCALE(class='form-control bg-secondary') }}
            <div id="LIGHTGRAPH_OVERLAY__OPENCV_FONT_SCALE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__LABEL.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.LIGHTGRAPH_OVERLAY__LABEL(class='form-check-input') }}
                <div id="LIGHTGRAPH_OVERLAY__LABEL-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LIGHTGRAPH_OVERLAY__HOUR_LINES.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.LIGHTGRAPH_OVERLAY__HOUR_LINES(class='form-check-input') }}
                <div id="LIGHTGRAPH_OVERLAY__HOUR_LINES-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.IMAGE_OVERLAY__ENABLE(class='form-check-input') }}
                <div id="IMAGE_OVERLAY__ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Use a remote image as an overlay (weather maps, etc)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__LOAD_INTERVAL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__LOAD_INTERVAL(class='form-control bg-secondary') }}
            <div id="IMAGE_OVERLAY__LOAD_INTERVAL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_URL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.IMAGE_OVERLAY__A_URL(class='form-control bg-secondary') }}
            <div id="IMAGE_OVERLAY__A_URL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_IMAGE_FILE_TYPE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_IMAGE_FILE_TYPE(class='form-select bg-secondary') }}
            <div id="IMAGE_OVERLAY__A_IMAGE_FILE_TYPE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_USERNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_USERNAME(class='form-control bg-secondary') }}
            <div id="IMAGE_OVERLAY__A_USERNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_PASSWORD.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_PASSWORD(class='form-control bg-secondary') }}
            <div id="IMAGE_OVERLAY__A_PASSWORD-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_WIDTH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_WIDTH(class='form-control bg-secondary') }}
            <div id="IMAGE_OVERLAY__A_WIDTH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Image will be resized to this specification</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_HEIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_HEIGHT(class='form-control bg-secondary') }}
            <div id="IMAGE_OVERLAY__A_HEIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_X.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_X(class='form-control bg-secondary') }}
            <div id="IMAGE_OVERLAY__A_X-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Negative is offset from the right side of image</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_Y.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.IMAGE_OVERLAY__A_Y(class='form-control bg-secondary') }}
            <div id="IMAGE_OVERLAY__A_Y-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Negative is offset from the bottom of image</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.CARDINAL_DIRS__ENABLE(class='form-check-input') }}
                <div id="CARDINAL_DIRS__ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div><span class="badge rounded-pill bg-info text-dark">Note</span> Cardinal directions are based on the <a href="#location-LENS_AZIMUTH" class="text-decoration-none link-info">Azimuth for the Lens/Camera</a> in the Location Tab</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__SWAP_NS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.CARDINAL_DIRS__SWAP_NS(class='form-check-input') }}
                <div id="CARDINAL_DIRS__SWAP_NS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__SWAP_EW.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.CARDINAL_DIRS__SWAP_EW(class='form-check-input') }}
                <div id="CARDINAL_DIRS__SWAP_EW-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__FONT_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__FONT_COLOR(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__FONT_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Font color in R,G,B</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__CHAR_NORTH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_config.CARDINAL_DIRS__CHAR_NORTH(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__CHAR_NORTH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-9">Blank to not show direction</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__CHAR_EAST.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_config.CARDINAL_DIRS__CHAR_EAST(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__CHAR_EAST-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-9"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__CHAR_WEST.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_config.CARDINAL_DIRS__CHAR_WEST(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__CHAR_WEST-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-9"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__CHAR_SOUTH.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_config.CARDINAL_DIRS__CHAR_SOUTH(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__CHAR_SOUTH-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-9"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__DIAMETER.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__DIAMETER(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__DIAMETER-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><a href="{{ url_for('indi_allsky.image_circle_helper_view') }}" class="text-decoration-none link-info" target="_blank">Image Circle Helper</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_X.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_X(class='form-control bg-dark text-secondary') }}
            <div id="CARDINAL_DIRS__OFFSET_X-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Not Used - Use <a href="#location-LENS_OFFSET_X" class="text-decoration-none link-info">Lens offsets on Location Tab</a></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_Y.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_Y(class='form-control bg-dark text-secondary') }}
            <div id="CARDINAL_DIRS__OFFSET_Y-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_TOP.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_TOP(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__OFFSET_TOP-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_LEFT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_LEFT(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__OFFSET_LEFT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_RIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_RIGHT(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__OFFSET_RIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_BOTTOM.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OFFSET_BOTTOM(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__OFFSET_BOTTOM-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OPENCV_FONT_SCALE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OPENCV_FONT_SCALE(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__OPENCV_FONT_SCALE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__PIL_FONT_SIZE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__PIL_FONT_SIZE(class='form-control bg-secondary') }}
            <div id="CARDINAL_DIRS__PIL_FONT_SIZE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.CARDINAL_DIRS__OUTLINE_CIRCLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.CARDINAL_DIRS__OUTLINE_CIRCLE(class='form-check-input') }}
                <div id="CARDINAL_DIRS__OUTLINE_CIRCLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Enable for debugging</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__MODE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_config.ORB_PROPERTIES__MODE(class='form-select bg-secondary') }}
            <div id="ORB_PROPERTIES__MODE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-7">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Orbs" class="text-decoration-none link-info" target="_blank">Orb Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__RADIUS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__RADIUS(class='form-control bg-secondary') }}
            <div id="ORB_PROPERTIES__RADIUS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Radius of Sun and Moon orbs on edge of image</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__AZ_OFFSET.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__AZ_OFFSET(class='form-control bg-secondary') }}
            <div id="ORB_PROPERTIES__AZ_OFFSET-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__RETROGRADE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.ORB_PROPERTIES__RETROGRADE(class='form-check-input') }}
                <div id="ORB_PROPERTIES__RETROGRADE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div><span class="badge rounded-pill bg-info text-dark">Note</span> Reversing the direction also flips the orbs position horizontally</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__SUN_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__SUN_COLOR(class='form-control bg-secondary') }}
            <div id="ORB_PROPERTIES__SUN_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Color of Sun Orb</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__MOON_COLOR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.ORB_PROPERTIES__MOON_COLOR(class='form-control bg-secondary') }}
            <div id="ORB_PROPERTIES__MOON_COLOR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Color of Moon Orb</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.LOGO_OVERLAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.LOGO_OVERLAY(class='form-control bg-secondary') }}
            <div id="LOGO_OVERLAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
            <div>Logo overlay image.  Must have an alpha channel.</div>
        </div>
    </div>

</div><!-- end overlays tab -->
