<div class="tab-pane fade" id="nav-sensors" role="tabpanel" aria-labelledby="nav-sensors-tab">

    <div><span class="badge rounded-pill bg-info text-dark">Note</span> Hardware Device support requires the python GPIO modules</div>

    <hr>

    <div><span class="badge rounded-pill bg-info text-dark">Note</span> Additional graphs may be configured for sensor values on the Admin Tab</div>

    <hr>

    <div><span class="badge rounded-pill bg-info text-dark">Note</span> Sensor units may be adjusted using the <a href="#camera-TEMP_DISPLAY" class="text-decoration-none link-info">Temperature Display</a> option on the Camera Tab</div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__A_CLASSNAME(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__A_CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Sensors" class="text-decoration-none link-info" target="_blank">Sensor Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_LABEL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_LABEL(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__A_LABEL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_PIN_1(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__A_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D5 (GPIO5 / Pin 29 Raspi)</div>
            <div>Example: P0 - Pin for ADS1x15 ADC</div>
            <div>Unused for most i2c devices - CS for SPI</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_PIN_2.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_PIN_2(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__A_PIN_2-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__A_I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x77</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__A_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>All sensor values will populate multiple slots starting at this slot</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__A_TITLE_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__A_TITLE_TEMPLATE(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__A_TITLE_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Available variables:</div>
            <div><pre>name, label, probe</pre></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__B_CLASSNAME(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__B_CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_LABEL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_LABEL(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__B_LABEL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_PIN_1(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__B_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D6 (GPIO6 / Pin 31 Raspi)</div>
            <div>Example: P0 - Pin for ADS1x15 ADC</div>
            <div>Unused for most i2c devices - CS for SPI</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_PIN_2.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_PIN_2(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__B_PIN_2-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__B_I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x76</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__B_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>All sensor values will populate multiple slots starting at this slot</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__B_TITLE_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__B_TITLE_TEMPLATE(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__B_TITLE_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Available variables:</div>
            <div><pre>name, label, probe</pre></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__C_CLASSNAME(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__C_CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_LABEL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_LABEL(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__C_LABEL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_PIN_1(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__C_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D16 (GPIO16 / Pin 36 Raspi)</div>
            <div>Example: P0 - Pin for ADS1x15 ADC</div>
            <div>Unused for most i2c devices - CS for SPI</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_PIN_2.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_PIN_2(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__C_PIN_2-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__C_I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x40</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__C_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>All sensor values will populate multiple slots starting at this slot</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__C_TITLE_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__C_TITLE_TEMPLATE(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__C_TITLE_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Available variables:</div>
            <div><pre>name, label, probe</pre></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__D_CLASSNAME(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__D_CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_LABEL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_LABEL(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__D_LABEL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_PIN_1(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__D_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D26 (GPIO26 / Pin 37 Raspi)</div>
            <div>Example: P0 - Pin for ADS1x15 ADC</div>
            <div>Unused for most i2c devices - CS for SPI</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_PIN_2.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_PIN_2(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__D_PIN_2-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__D_I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x50</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__D_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>All sensor values will populate multiple slots starting at this slot</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__D_TITLE_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__D_TITLE_TEMPLATE(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__D_TITLE_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Available variables:</div>
            <div><pre>name, label, probe</pre></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__E_CLASSNAME(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__E_CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_LABEL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_LABEL(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__E_LABEL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_PIN_1(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__E_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D25 (GPIO25 / Pin 22 Raspi)</div>
            <div>Example: P0 - Pin for ADS1x15 ADC</div>
            <div>Unused for most i2c devices - CS for SPI</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_PIN_2.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_PIN_2(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__E_PIN_2-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__E_I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x51</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__E_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>All sensor values will populate multiple slots starting at this slot</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__E_TITLE_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__E_TITLE_TEMPLATE(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__E_TITLE_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Available variables:</div>
            <div><pre>name, label, probe</pre></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_CLASSNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__F_CLASSNAME(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__F_CLASSNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_LABEL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_LABEL(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__E_LABEL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_PIN_1.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_PIN_1(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__F_PIN_1-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Example: D27 (GPIO27 / Pin 13 Raspi)</div>
            <div>Example: P0 - Pin for ADS1x15 ADC</div>
            <div>Unused for most i2c devices - CS for SPI</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_PIN_2.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_PIN_2(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__F_PIN_2-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_I2C_ADDRESS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_I2C_ADDRESS(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__F_I2C_ADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Hexadecimal address - Example: 0x52</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_USER_VAR_SLOT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_USER_VAR_SLOT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__F_USER_VAR_SLOT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>All sensor values will populate multiple slots starting at this slot</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__F_TITLE_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__F_TITLE_TEMPLATE(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__F_TITLE_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Available variables:</div>
            <div><pre>name, label, probe</pre></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__OPENWEATHERMAP_APIKEY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__OPENWEATHERMAP_APIKEY(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__OPENWEATHERMAP_APIKEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__WUNDERGROUND_APIKEY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__WUNDERGROUND_APIKEY(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__WUNDERGROUND_APIKEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__ASTROSPHERIC_APIKEY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__ASTROSPHERIC_APIKEY(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__ASTROSPHERIC_APIKEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AMBIENTWEATHER_APIKEY.label(class='col-form-label') }}

        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__AMBIENTWEATHER_APIKEY(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__AMBIENTWEATHER_APIKEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AMBIENTWEATHER_APPLICATIONKEY.label(class='col-form-label') }}

        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__AMBIENTWEATHER_APPLICATIONKEY(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__AMBIENTWEATHER_APPLICATIONKEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AMBIENTWEATHER_MACADDRESS.label(class='col-form-label') }}

        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__AMBIENTWEATHER_MACADDRESS(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__AMBIENTWEATHER_MACADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__ECOWITT_APIKEY.label(class='col-form-label') }}

        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__ECOWITT_APIKEY(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__ECOWITT_APIKEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__ECOWITT_APPLICATIONKEY.label(class='col-form-label') }}

        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__ECOWITT_APPLICATIONKEY(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__ECOWITT_APPLICATIONKEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__ECOWITT_MACADDRESS.label(class='col-form-label') }}

        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__ECOWITT_MACADDRESS(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__ECOWITT_MACADDRESS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__FC37_ACTIVE_LOW.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__FC37_ACTIVE_LOW(id='TEMP_SENSOR__FC37_ACTIVE_LOW', class='form-check-input') }}
                <div id="TEMP_SENSOR__FC37_ACTIVE_LOW-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Invert the FC-37 sensor Digital Output logic. Signal default is 0 = No rain, 1 = Rain </div>
            <div>*Note* In Overlay Template use rain_status:s which gives string display</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__DHT_USE_PULSEIO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__DHT_USE_PULSEIO(class='form-check-input') }}
                <div id="TEMP_SENSOR__DHT_USE_PULSEIO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SHT3X_HEATER_NIGHT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__SHT3X_HEATER_NIGHT(class='form-check-input') }}
                <div id="TEMP_SENSOR__SHT3X_HEATER_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Only enabled when RH >80%</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SHT3X_HEATER_DAY.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__SHT3X_HEATER_DAY(class='form-check-input') }}
                <div id="TEMP_SENSOR__SHT3X_HEATER_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SHT4X_MODE_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__SHT4X_MODE_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__SHT4X_MODE_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SHT4X_MODE_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__SHT4X_MODE_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__SHT4X_MODE_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI7021_HEATER_LEVEL_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__SI7021_HEATER_LEVEL_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__SI7021_HEATER_LEVEL_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI7021_HEATER_LEVEL_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__SI7021_HEATER_LEVEL_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__SI7021_HEATER_LEVEL_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__HTU31D_HEATER_NIGHT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__HTU31D_HEATER_NIGHT(class='form-check-input') }}
                <div id="TEMP_SENSOR__HTU31D_HEATER_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Only enabled when RH >80%</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__HTU31D_HEATER_DAY.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__HTU31D_HEATER_DAY(class='form-check-input') }}
                <div id="TEMP_SENSOR__HTU31D_HEATER_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__HDC302X_HEATER_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__HDC302X_HEATER_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__HDC302X_HEATER_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__HDC302X_HEATER_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__HDC302X_HEATER_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__HDC302X_HEATER_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2561_GAIN_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__TSL2561_GAIN_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__TSL2561_GAIN_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2561_GAIN_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__TSL2561_GAIN_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__TSL2561_GAIN_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2561_INT_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__TSL2561_INT_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__TSL2561_INT_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2561_INT_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__TSL2561_INT_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__TSL2561_INT_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2561_DISABLE_DAY.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__TSL2561_DISABLE_DAY(class='form-check-input') }}
                <div id="TEMP_SENSOR__TSL2561_DISABLE_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2591_GAIN_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__TSL2591_GAIN_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__TSL2591_GAIN_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2591_GAIN_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__TSL2591_GAIN_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__TSL2591_GAIN_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2591_INT_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__TSL2591_INT_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__TSL2591_INT_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2591_INT_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__TSL2591_INT_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__TSL2591_INT_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__TSL2591_DISABLE_DAY.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__TSL2591_DISABLE_DAY(class='form-check-input') }}
                <div id="TEMP_SENSOR__TSL2591_DISABLE_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__VEML7700_GAIN_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__VEML7700_GAIN_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__VEML7700_GAIN_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__VEML7700_GAIN_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__VEML7700_GAIN_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__VEML7700_GAIN_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__VEML7700_INT_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__VEML7700_INT_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__VEML7700_INT_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__VEML7700_INT_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__VEML7700_INT_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__VEML7700_INT_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI1145_VIS_GAIN_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__SI1145_VIS_GAIN_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__SI1145_VIS_GAIN_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI1145_VIS_RANGE_HIGH_NIGHT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__SI1145_VIS_RANGE_HIGH_NIGHT(class='form-check-input') }}
                <div id="TEMP_SENSOR__SI1145_VIS_RANGE_HIGH_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Divides gain by 14.5</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI1145_VIS_GAIN_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__SI1145_VIS_GAIN_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__SI1145_VIS_GAIN_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI1145_VIS_RANGE_HIGH_DAY.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__SI1145_VIS_RANGE_HIGH_DAY(class='form-check-input') }}
                <div id="TEMP_SENSOR__SI1145_VIS_RANGE_HIGH_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Divides gain by 14.5</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI1145_IR_GAIN_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__SI1145_IR_GAIN_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__SI1145_IR_GAIN_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI1145_IR_RANGE_HIGH_NIGHT.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__SI1145_IR_RANGE_HIGH_NIGHT(class='form-check-input') }}
                <div id="TEMP_SENSOR__SI1145_IR_RANGE_HIGH_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Divides gain by 14.5</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI1145_IR_GAIN_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__SI1145_IR_GAIN_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__SI1145_IR_GAIN_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__SI1145_IR_RANGE_HIGH_DAY.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__SI1145_IR_RANGE_HIGH_DAY(class='form-check-input') }}
                <div id="TEMP_SENSOR__SI1145_IR_RANGE_HIGH_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Divides gain by 14.5</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__LTR390_GAIN_NIGHT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__LTR390_GAIN_NIGHT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__LTR390_GAIN_NIGHT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__LTR390_GAIN_DAY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__LTR390_GAIN_DAY(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__LTR390_GAIN_DAY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__INA3221_CH1_ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__INA3221_CH1_ENABLE(class='form-check-input') }}
                <div id="TEMP_SENSOR__INA3221_CH1_ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__INA3221_CH2_ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__INA3221_CH2_ENABLE(class='form-check-input') }}
                <div id="TEMP_SENSOR__INA3221_CH2_ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__INA3221_CH3_ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__INA3221_CH3_ENABLE(class='form-check-input') }}
                <div id="TEMP_SENSOR__INA3221_CH3_ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AS3935_OUTDOOR_MODE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__AS3935_OUTDOOR_MODE(class='form-check-input') }}
                <div id="TEMP_SENSOR__AS3935_OUTDOOR_MODE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>Disable for Indoor mode (for more noisy environments)</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AS3935_MASK_DISTURBER.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__AS3935_MASK_DISTURBER(class='form-check-input') }}
                <div id="TEMP_SENSOR__AS3935_MASK_DISTURBER-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AS3935_NOISE_LEVEL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AS3935_NOISE_LEVEL(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__AS3935_NOISE_LEVEL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default: 2</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AS3935_SPIKE_REJECTION.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__AS3935_SPIKE_REJECTION(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__AS3935_SPIKE_REJECTION-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div>Default: 2</div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__LUX_MAGNITUDE_OFFSET.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__LUX_MAGNITUDE_OFFSET(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__LUX_MAGNITUDE_OFFSET-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/SQM-Sky-Brightness-Measurement" class="text-decoration-none link-info" target="_blank">SQM Wiki</a></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__MQTT_HOST.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__MQTT_HOST(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__MQTT_HOST-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT hostname</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__MQTT_TRANSPORT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__MQTT_TRANSPORT(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__MQTT_TRANSPORT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT Transport</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__MQTT_PROTOCOL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__MQTT_PROTOCOL(class='form-select bg-secondary') }}
            <div id="TEMP_SENSOR__MQTT_PROTOCOL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT Protocol</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__MQTT_PORT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__MQTT_PORT(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__MQTT_PORT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT port - 8883 = TLS, 1883 = standard</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__MQTT_USERNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__MQTT_USERNAME(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__MQTT_USERNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT Username</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__MQTT_PASSWORD.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.TEMP_SENSOR__MQTT_PASSWORD(class='form-control bg-secondary') }}
            <div id="TEMP_SENSOR__MQTT_PASSWORD-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">MQTT Password</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__MQTT_TLS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__MQTT_TLS(class='form-check-input') }}
                <div id="TEMP_SENSOR__MQTT_TLS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Use TLS/SSL for MQTT connections</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.TEMP_SENSOR__MQTT_CERT_BYPASS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.TEMP_SENSOR__MQTT_CERT_BYPASS(class='form-check-input') }}
                <div id="TEMP_SENSOR__MQTT_CERT_BYPASS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Bypass certificate validation</div>
    </div>


</div><!-- end sensors tab -->
