<div class="tab-pane fade" id="nav-syncapi" role="tabpanel" aria-labelledby="nav-syncapi-tab">

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.SYNCAPI__ENABLE(class='form-check-input') }}
                <div id="SYNCAPI__ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8"><a href="https://github.com/aaronwmorris/indi-allsky/wiki/SyncAPI-Setup" class="text-decoration-none link-info" target="_blank">SyncAPI Setup Wiki</a></div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__BASEURL.label(class='col-form-label') }}
        </div>
        <div class="col-sm-6">
            {{ form_config.SYNCAPI__BASEURL(class='form-control bg-secondary') }}
            <div id="SYNCAPI__BASEURL-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-4">Base URL for remote indi-allsky instance</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__USERNAME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.SYNCAPI__USERNAME(class='form-control bg-secondary') }}
            <div id="SYNCAPI__USERNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__APIKEY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-6">
            {{ form_config.SYNCAPI__APIKEY(class='form-control bg-secondary') }}
            <div id="SYNCAPI__APIKEY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__CERT_BYPASS.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.SYNCAPI__CERT_BYPASS(class='form-check-input') }}
                <div id="SYNCAPI__CERT_BYPASS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Bypass certificate validation</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__UPLOAD_IMAGE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__UPLOAD_IMAGE(class='form-control bg-secondary') }}
            <div id="SYNCAPI__UPLOAD_IMAGE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Enable image sync (0 = disable, 1 = every image, 2 = every 2nd image, etc)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__UPLOAD_PANORAMA.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__UPLOAD_PANORAMA(class='form-control bg-secondary') }}
            <div id="SYNCAPI__UPLOAD_PANORAMA-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">Enable image sync (0 = disable, 1 = every image, 2 = every 2nd image, etc)</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__UPLOAD_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.SYNCAPI__UPLOAD_VIDEO(class='form-check-input') }}
                <div id="SYNCAPI__UPLOAD_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Timelapses, star trails, and keograms are always synced</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__CONNECT_TIMEOUT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__CONNECT_TIMEOUT(class='form-control bg-secondary') }}
            <div id="SYNCAPI__CONNECT_TIMEOUT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__TIMEOUT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__TIMEOUT(class='form-control bg-secondary') }}
            <div id="SYNCAPI__TIMEOUT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-8">This timeout is for the whole transfer.  Ensure it is large enough to transfer videos</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__POST_S3.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.SYNCAPI__POST_S3(class='form-check-input') }}
                <div id="SYNCAPI__POST_S3-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Sync after S3 upload</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.SYNCAPI__EMPTY_FILE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.SYNCAPI__EMPTY_FILE(class='form-check-input') }}
                <div id="SYNCAPI__EMPTY_FILE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">Enable this if you only want to upload to S3 and not via SyncAPI</div>
    </div>

</div><!-- end syncapi tab -->
