<div class="tab-pane fade" id="nav-youtube" role="tabpanel" aria-labelledby="nav-youtube-tab">

    <div><span class="badge rounded-pill bg-info text-dark">Note</span> Youtube support requires installing the "optional" python modules during setup</div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__ENABLE.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.YOUTUBE__ENABLE(class='form-check-input') }}
                <div id="YOUTUBE__ENABLE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Youtube-Uploads" class="text-decoration-none link-info" target="_blank">Youtube Setup Wiki</a></div>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__SECRETS_FILE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.YOUTUBE__SECRETS_FILE(class='form-control bg-secondary') }}
            <div id="YOUTUBE__SECRETS_FILE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5"></div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-5">
            <a href="{{ url_for('indi_allsky.youtube_authorize_view') }}"><span class="badge bg-success text-dark">Authorize</span></a>
        </div>
        <div class="col-sm-5">Click to start Oauth2 authorization process</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__CREDS_STORED.label }}
        </div>
        <div class="col-sm-1">
            <div class="form-switch">
                {{ form_config.YOUTUBE__CREDS_STORED(class='form-check-input') }}
                <div id="YOUTUBE__CREDS_STORED-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <a href="{{ url_for('indi_allsky.youtube_oauth2refresh_view') }}"><span class="badge bg-primary">Refresh</span></a>
            <a href="{{ url_for('indi_allsky.youtube_oauth2revoke_view') }}"><span class="badge bg-warning text-dark">Revoke</span></a>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__REDIRECT_URI.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_config.YOUTUBE__REDIRECT_URI(class='form-control text-secondary bg-dark') }}
            <div id="YOUTUBE__REDIRECT_URI-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">The domain must be a real TLD (.com / .net / etc)</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__PRIVACY_STATUS.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.YOUTUBE__PRIVACY_STATUS(class='form-select bg-secondary') }}
            <div id="YOUTUBE__PRIVACY_STATUS-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__TITLE_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.YOUTUBE__TITLE_TEMPLATE(class='form-control bg-secondary') }}
            <div id="YOUTUBE__TITLE_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div>Available variables:</div>
            <div><pre>day_date, timeofday, asset_label</pre></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__DESCRIPTION_TEMPLATE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.YOUTUBE__DESCRIPTION_TEMPLATE(class='form-control bg-secondary') }}
            <div id="YOUTUBE__DESCRIPTION_TEMPLATE-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__CATEGORY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.YOUTUBE__CATEGORY(class='form-control bg-secondary') }}
            <div id="YOUTUBE__CATEGORY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            <div><a href="https://developers.google.com/youtube/v3/docs/videoCategories/list" class="text-decoration-none link-info" target="_blank">Categories API</a></div>
            <div>22 = People & Blogs</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__TAGS_STR.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_config.YOUTUBE__TAGS_STR(class='form-control bg-secondary') }}
            <div id="YOUTUBE__TAGS_STR-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Comma separated list</div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__UPLOAD_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.YOUTUBE__UPLOAD_VIDEO(class='form-check-input') }}
                <div id="YOUTUBE__UPLOAD_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__UPLOAD_MINI_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.YOUTUBE__UPLOAD_MINI_VIDEO(class='form-check-input') }}
                <div id="YOUTUBE__UPLOAD_MINI_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__UPLOAD_STARTRAIL_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.YOUTUBE__UPLOAD_STARTRAIL_VIDEO(class='form-check-input') }}
                <div id="YOUTUBE__UPLOAD_STARTRAIL_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_config.YOUTUBE__UPLOAD_PANORAMA_VIDEO.label }}
        </div>
        <div class="col-sm-2">
            <div class="form-switch">
                {{ form_config.YOUTUBE__UPLOAD_PANORAMA_VIDEO(class='form-check-input') }}
                <div id="YOUTUBE__UPLOAD_PANORAMA_VIDEO-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div></div>
        </div>
    </div>

</div><!-- end youtubetab -->
