[Unit]
Description=INDI Server for Camera Control
After=network.target

[Service]
Type=simple
User=indi-allsky
Group=indi-allsky
Environment="INDI_PORT=7624"
EnvironmentFile=-/etc/indi-allsky/indiserver.env
ExecStart=/usr/bin/indiserver -v -p $INDI_PORT $CCD_DRIVER $GPS_DRIVER
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
