---


- name: Update repositories cache
  become: yes
  apt:
    update_cache: yes


- name: Install indi_3rdparty development packages
  become: yes
  package:
    name: "{{ indi_3rdparty_packages }}"
    state: present
