### This file is targeted to Raspbian/Debian 11 and Python 3.9+
# https://www.wheelodex.org/projects/astropy/
astropy
# https://www.wheelodex.org/projects/numpy/
numpy >= 1.22
# https://www.wheelodex.org/projects/opencv-python-headless/
opencv-python-headless
# https://www.wheelodex.org/projects/scipy/
scipy >= 1.10.0
# https://www.wheelodex.org/projects/ccdproc/
ccdproc
# https://www.wheelodex.org/projects/scikit-image/
scikit-image >= 0.20.0
astroalign
bottleneck
python-dateutil
ephem
paramiko
# https://www.wheelodex.org/projects/pycurl/ or https://www.piwheels.org/project/pycurl/
pycurl
# https://www.wheelodex.org/projects/pillow/ or https://www.piwheels.org/project/Pillow/
Pillow
piexif
imageio
imageio-ffmpeg
# https://www.wheelodex.org/projects/imagecodecs/
#imagecodecs
cython
rawpy
pygifsicle
gunicorn[gthread] >= 20.1.0
inotify
psutil
Flask >= 2.3.2
Flask-SQLAlchemy >= 3.0.4
Flask-Migrate >= 4.0.4
# needs at least 1.1.1 for flask 2.3
Flask-WTF >= 1.1.1
flask-login >= 0.6.2
werkzeug >= 2.3.6
is-safe-url
certifi >= 2023.5.7
# https://www.wheelodex.org/projects/cryptography/
cryptography
dbus-python
paho-mqtt
setuptools-rust
# https://www.wheelodex.org/projects/bcrypt/
bcrypt
passlib[argon2]
prettytable
mysql-connector-python
PyMySQL
boto3
apache-libcloud
