#################################
### !!!!!!!! WARNING !!!!!!!! ###
### Debian 10 Buster is       ###
### nearing end of life.      ###
### Python 3.7 is going out   ###
### of support soon and the   ###
### modules necessary for     ###
### indi-allsky have          ###
### unfixable security        ###
### vulnerabilities           ###
#################################

### This file is targeted to Raspbian/Debian 10 and Python 3.7
# https://www.piwheels.org/project/astropy/
astropy
# https://www.piwheels.org/project/numpy/
numpy <= 1.21.4
# https://www.piwheels.org/project/opencv-python-headless/
opencv-python-headless <= 4.7.0.72
# https://www.piwheels.org/project/scipy/
scipy <= 1.7.3
# https://www.piwheels.org/project/ccdproc/
# 2.4.0 requires astropy 5.0, not compatible with python 3.7
ccdproc <= 2.3.1
# https://www.piwheels.org/project/scikit-image/
scikit-image <= 0.19.3
astroalign
bottleneck
python-dateutil
ephem
skyfield
paramiko
# https://www.piwheels.org/project/pycurl/
pycurl
# https://www.piwheels.org/project/Pillow/
Pillow
piexif
imageio
imageio-ffmpeg
# https://www.piwheels.org/project/imagecodecs/
#imagecodecs
#rawpy  # not needed
pygifsicle
gunicorn[gthread] >= 22.0.0
inotify
psutil
# Last version supporting Python 3.7
Flask == 2.2.5
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-Login
werkzeug
is-safe-url
certifi
# https://www.piwheels.org/project/cryptography/
cryptography >= 42.0.5
dbus-python
paho-mqtt >= 2.0.0
setuptools-rust
# https://www.piwheels.org/project/bcrypt/
bcrypt
passlib[argon2]
prettytable
lxml
shapely
requests-toolbelt
fish2pano >= 0.4.1
pytz
mysql-connector-python
