### This file is targeted to Raspbian/Debian 11 and Python 3.9
# https://www.wheelodex.org/projects/astropy/
astropy >= 5.3.3, <= 6.0.1
# https://www.wheelodex.org/projects/numpy/
numpy >= 1.22.2, < 2.0
# https://www.wheelodex.org/projects/opencv-python-headless/
opencv-python-headless >= 4.8.1.78, <= 4.11.0.86
# https://www.wheelodex.org/projects/scipy/
scipy >= 1.11.3, <= 1.13.1
# https://www.wheelodex.org/projects/ccdproc/
ccdproc
# https://www.wheelodex.org/projects/scikit-image/
scikit-image <= 0.19.3
astroalign
bottleneck
python-dateutil
ephem
skyfield
paramiko
# https://www.wheelodex.org/projects/pycurl/ or https://www.piwheels.org/project/pycurl/
pycurl
# https://www.wheelodex.org/projects/pillow/ or https://www.piwheels.org/project/Pillow/
Pillow
piexif
imageio
imageio-ffmpeg
simplejpeg ; platform_machine == 'x86_64' or 'aarch64' in platform_machine
simplejpeg <= 1.7.2 ; 'arm' in platform_machine
# https://www.wheelodex.org/projects/imagecodecs/
#imagecodecs
cython
#rawpy  # not needed
pygifsicle
gunicorn[gthread] >= 23.0.0
inotify
psutil
Flask >= 3.1.3
Flask-SQLAlchemy >= 3.1.1
Flask-Migrate >= 4.0.5
Flask-WTF >= 1.2.1
Flask-Login >= 0.6.3
werkzeug >= 3.1.6
is-safe-url
certifi >= 2024.7.4
# https://www.wheelodex.org/projects/cryptography/
cryptography <= 42.0.8
dbus-python
paho-mqtt >= 2.0.0
setuptools-rust
# https://www.wheelodex.org/projects/bcrypt/
bcrypt
passlib[argon2] >= 1.7.4
prettytable
lxml
shapely
requests-toolbelt
pytz
mysql-connector-python
