### This file is targeted to Raspbian/Debian 12 and Python 3.10+
# https://www.wheelodex.org/projects/astropy/
astropy >= 6.1.0
pyerfa >= 2.0.1.4
# https://www.wheelodex.org/projects/numpy/
numpy >= 2.1.0
# https://www.wheelodex.org/projects/opencv-python-headless/
opencv-python-headless >= 4.10.0.84
# https://www.wheelodex.org/projects/scipy/
scipy >= 1.11.3
# https://www.wheelodex.org/projects/ccdproc/
ccdproc >= 2.4.2
# https://www.wheelodex.org/projects/scikit-image/
scikit-image >= 0.25.0
astroalign >= 2.6.0
bottleneck >= 1.4.0
python-dateutil
ephem
skyfield
paramiko
# https://www.wheelodex.org/projects/pycurl/ or https://www.piwheels.org/project/pycurl/
pycurl
# https://www.wheelodex.org/projects/pillow/ or https://www.piwheels.org/project/Pillow/
Pillow
piexif
imageio
imageio-ffmpeg
# https://www.wheelodex.org/projects/imagecodecs/
#imagecodecs
cython
rawpy >= 0.23.0
pygifsicle
gunicorn[gthread] >= 22.0.0
inotify
psutil
Flask >= 3.0.0
Flask-SQLAlchemy >= 3.1.1
Flask-Migrate >= 4.0.5
Flask-WTF >= 1.2.1
Flask-Login >= 0.6.3
werkzeug
is-safe-url
certifi >= 2024.7.4
# https://www.wheelodex.org/projects/cryptography/
cryptography >= 43.0.1
dbus-python
paho-mqtt >= 2.0.0
setuptools-rust
# https://www.wheelodex.org/projects/bcrypt/
bcrypt
passlib[argon2] >= 1.7.4
prettytable
lxml
shapely >= 2.0.6
requests-toolbelt
fish2pano >= 0.4.1
pytz
mysql-connector-python
