### Requirements for a web interface only interface
# https://www.wheelodex.org/projects/numpy/
numpy >= 1.22
# https://www.wheelodex.org/projects/opencv-python-headless/
opencv-python-headless
# https://www.wheelodex.org/projects/ccdproc/
ccdproc
# https://www.wheelodex.org/projects/scikit-image/
scikit-image
# https://www.wheelodex.org/projects/Pillow/
Pillow
bottleneck
ephem
paramiko
# https://www.wheelodex.org/projects/pycurl/ or https://www.piwheels.org/project/pycurl/
pycurl
gunicorn[gthread] >= 20.1.0
inotify
psutil
Flask >= 2.3.2
Flask-SQLAlchemy >= 3.0.4
Flask-Migrate >= 4.0.4
# needs at least 1.1.1 for flask 2.3
Flask-WTF >= 1.1.1
flask-login >= 0.6.2
is-safe-url
# https://www.wheelodex.org/projects/cryptography/
cryptography
dbus-python
paho-mqtt
setuptools-rust
# https://www.wheelodex.org/projects/bcrypt/
bcrypt
passlib[argon2]
prettytable
mysql-connector-python
PyMySQL
