### Requirements for a web interface only interface
# https://www.wheelodex.org/projects/astropy/
astropy >= 6.1.0
pyerfa >= 2.0.1.4
# https://www.wheelodex.org/projects/numpy/
numpy >= 2.1.0
# https://www.wheelodex.org/projects/opencv-python-headless/
opencv-python-headless >= 4.10.0.84
# https://www.wheelodex.org/projects/ccdproc/
ccdproc >= 2.4.2
# https://www.wheelodex.org/projects/scikit-image/
scikit-image >= 0.25.0
# https://www.wheelodex.org/projects/Pillow/
Pillow
simplejpeg
bottleneck >= 1.4.0
ephem
skyfield
# https://www.wheelodex.org/projects/pycurl/ or https://www.piwheels.org/project/pycurl/
pycurl
gunicorn[gthread] >= 23.0.0
inotify
psutil
Flask >= 3.1.3
Flask-SQLAlchemy >= 3.1.1
Flask-Migrate >= 4.0.5
Flask-WTF >= 1.2.1
Flask-Login >= 0.6.2
werkzeug >= 3.1.6
is-safe-url
certifi >= 2023.7.22
# https://www.wheelodex.org/projects/cryptography/
cryptography >= 46.0.5
dbus-python
setuptools-rust
# https://www.wheelodex.org/projects/bcrypt/
bcrypt
passlib[argon2] >= 1.7.4
prettytable
astroalign >= 2.6.0
requests[security]
lxml
shapely >= 2.0.6
pytz
mysql-connector-python
