Adafruit-Blinka
gpiod
pyserial
adafruit-circuitpython-dht
adafruit-circuitpython-bme280
adafruit-circuitpython-bme680
circuitpython-bmp180
adafruit-circuitpython-si7021
adafruit-circuitpython-sht31d
adafruit-circuitpython-sht4x
adafruit-circuitpython-ahtx0
adafruit-circuitpython-mlx90614
adafruit-circuitpython-mlx90640
adafruit-circuitpython-tsl2591
adafruit-circuitpython-tsl2561
adafruit-circuitpython-veml7700
adafruit-circuitpython-bh1750
adafruit-circuitpython-ads1x15
adafruit-circuitpython-si1145
adafruit-circuitpython-ltr390
adafruit-circuitpython-htu21d
adafruit-circuitpython-htu31d
adafruit-circuitpython-scd30
adafruit-circuitpython-scd4x
adafruit-circuitpython-hdc302x
adafruit-circuitpython-bmp3xx

### does not work on raspi
#adafruit-circuitpython-ds18x20

### Rpi5
#rpi-lgpio
