<!doctype html>
<html>
<title>{% block title %}{% endblock %}</title>
  <head>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="bg-dark bg-opacity-75">
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="{{ url_for('indi-allsky.index_view') }}" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">INDI-</span><span class="fs-5">AllSky</span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{{ url_for('indi-allsky.index_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('static', filename='svg/house-fill.svg') }}" width="16" height="16"><span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('indi-allsky.image_loop_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('static', filename='svg/play-btn-fill.svg') }}" width="16" height="16"><span class="ms-1 d-none d-sm-inline">Loop</span></a>
                    </li>
                    <!--
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </li>
                    -->
                    <li>
                        <a href="{{ url_for('indi-allsky.sqm_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('static', filename='svg/cloud-moon-fill.svg') }}" width="16" height="16"><span class="ms-1 d-none d-sm-inline">SQM</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('indi-allsky.chart_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('static', filename='svg/graph-up.svg') }}" width="16" height="16"><span class="ms-1 d-none d-sm-inline">Charts</span> </a>
                    </li>
                    <li>
                        <a href="{{ url_for('indi-allsky.config_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('static', filename='svg/toggles.svg') }}" width="16" height="16"><span class="ms-1 d-none d-sm-inline">Config</span> </a>
                    </li>
                </ul>
                <div class="py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    Status: {{ indi_allsky_status|safe }}
                </div>
                <!--
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Joe</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
                -->
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto">
                <div class="col pt-4">
                  {% block content %}{% endblock %}
                </div>
            </main>
            <!---
            <footer class="row bg-light py-4 mt-auto">
                <div class="col"> Footer content here... </div>
            </footer>
            -->
        </div>
    </div>
</div>
  </body>
</html>
