<!doctype html>
<html>
  <head>
<title>{% block title %}{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ url_for('indi_allsky.static', filename='images/favicon_32.png') }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ url_for('indi_allsky.static', filename='images/favicon_128.png') }}" sizes="128x128">
<link href="{{ url_for('indi_allsky.static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('indi_allsky.static', filename='css/style.css') }}" rel="stylesheet">
<script src="{{ url_for('indi_allsky.static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('indi_allsky.static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="bg-dark bg-opacity-75">
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <div>
                    <a id="indi_allsky_anchor" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none" href="https://github.com/aaronwmorris/indi-allsky" target="_blank">
                        <div class="fs-5 d-none d-sm-inline">
                            <img src="{{ url_for('indi_allsky.static', filename='images/logo_outline_full.png') }}" height="100" alt="indi-allsky">
                        </div>
                    </a>
                </div>

                <div class="d-none d-sm-inline" style="width:100%">
                </div>

                <div class="flex-shrink-1 d-sm-inline">
                    <div>
                        <form id="form_camera_select" onSubmit="return false;">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    {{ form_camera_select.CAMERA_SELECT(class='text-warning fw-bold form-select bg-secondary', style='font-size: 12px;') }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-secondary d-none d-sm-inline" style="font-size:10px">Cameras Available: {{ camera_count }}</div>
                </div>

                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{{ url_for('indi_allsky.index_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('indi_allsky.static', filename='svg/house-fill.svg') }}" width="16" height="16" alt="Latest"><span class="ms-1 d-none d-sm-inline">Latest</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('indi_allsky.image_loop_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('indi_allsky.static', filename='svg/repeat.svg') }}" width="16" height="16" alt="Loop"><span class="ms-1 d-none d-sm-inline">Loop</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('indi_allsky.sqm_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('indi_allsky.static', filename='svg/cloud-moon-fill.svg') }}" width="16" height="16" alt="SQM"><span class="ms-1 d-none d-sm-inline">SQM</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('indi_allsky.chart_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('indi_allsky.static', filename='svg/graph-up.svg') }}" width="16" height="16" alt="Charts"><span class="ms-1 d-none d-sm-inline">Charts</span></a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-5 bi-bootstrap"></i>
                            <img src="{{ url_for('indi_allsky.static', filename='svg/play-btn-fill.svg') }}" width="16" height="16" alt="Media">
                            <span class="ms-1 d-none d-sm-inline">Media</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                            <li>
                                <a href="{{ url_for('indi_allsky.gallery_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/grid-3x2-gap-fill.svg') }}" width="16" height="16" alt="Image Viewer"><span class="ms-1 d-none d-sm-inline">Gallery</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.imageviewer_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/image-fill.svg') }}" width="16" height="16" alt="Image Viewer"><span class="ms-1 d-none d-sm-inline">Images</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.videoviewer_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/film.svg') }}" width="16" height="16" alt="Timelapse Viewer"><span class="ms-1 d-none d-sm-inline">Timelapses</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.mini_videoviewer_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/film.svg') }}" width="16" height="16" alt="Mini Timelapse Viewer"><span class="ms-1 d-none d-sm-inline">Mini-Timelapses</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.latest_panorama_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/aspect-ratio.svg') }}" width="16" height="16" alt="Panorama"><span class="ms-1 d-none d-sm-inline">Panorama</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.panorama_loop_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/repeat.svg') }}" width="16" height="16" alt="Panorama Loop"><span class="ms-1 d-none d-sm-inline">Panorama Loop</span></a>
                            </li>
                            {% if current_user.is_authenticated or login_disabled %}
                            <li>
                                <a href="{{ url_for('indi_allsky.fitsimageviewer_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/image-fill.svg') }}" width="16" height="16" alt="FITS Viewer"><span class="ms-1 d-none d-sm-inline">FITS Viewer</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.realtime_keogram_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/input-cursor.svg') }}" width="16" height="16" alt="Realtime Keogram"><span class="ms-1 d-none d-sm-inline">Realtime Keogram</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.longterm_keogram_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/distribute-horizontal.svg') }}" width="16" height="16" alt="Long Term Keogram"><span class="ms-1 d-none d-sm-inline">Long Term Keogram</span></a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-5 bi-bootstrap"></i>
                            <img src="{{ url_for('indi_allsky.static', filename='svg/tools.svg') }}" width="16" height="16" alt="Tools">
                            <span class="ms-1 d-none d-sm-inline">Tools</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                            <li>
                                <a href="{{ url_for('indi_allsky.camera_lens_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/camera-fill.svg') }}" width="16" height="16" alt="Camera Info"><span class="ms-1 d-none d-sm-inline">Camera Info</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.camera_simulator_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/circle.svg') }}" width="16" height="16" alt="Camera Simulator"><span class="ms-1 d-none d-sm-inline">Camera Simulator</span> </a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.astropanel_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/newspaper.svg') }}" width="16" height="16" alt="Astropanel"><span class="ms-1 d-none d-sm-inline">Astropanel</span></a>
                            </li>
                            {% if current_user.is_authenticated or login_disabled %}
                            <li>
                                <a href="{{ url_for('indi_allsky.generate_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/plus-square-dotted.svg') }}" width="16" height="16" alt="Generate"><span class="ms-1 d-none d-sm-inline">Generate</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.darks_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/subtract.svg') }}" width="16" height="16" alt="Dark Library"><span class="ms-1 d-none d-sm-inline">Dark Library</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.rolling_adu_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/info-square-fill.svg') }}" width="16" height="16" alt="ADU History"><span class="ms-1 d-none d-sm-inline">ADU History</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.image_lag_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/journal-medical.svg') }}" width="16" height="16" alt="Image Lag"><span class="ms-1 d-none d-sm-inline">Image Lag</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.focus_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/stars.svg') }}" width="16" height="16" alt="Focus"><span class="ms-1 d-none d-sm-inline">Focus</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.image_processing_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/magic.svg') }}" width="16" height="16" alt="FITS Processing"><span class="ms-1 d-none d-sm-inline">Process FITS</span> </a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.mask_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/layers.svg') }}" width="16" height="16" alt="Mask"><span class="ms-1 d-none d-sm-inline">Mask Base</span> </a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.log_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/terminal-fill.svg') }}" width="16" height="16" alt="Log"><span class="ms-1 d-none d-sm-inline">Log</span> </a>
                            </li>
                            <li>
                                <a href="{{ url_for('indi_allsky.support_info_view') }}" class="dropdown-item">
                                    <img src="{{ url_for('indi_allsky.static', filename='svg/info-circle.svg') }}" width="16" height="16" alt="Log"><span class="ms-1 d-none d-sm-inline">Support Info</span> </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>


                    {% if current_user.is_authenticated or login_disabled %}
                    <li>
                        <a href="{{ url_for('indi_allsky.config_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('indi_allsky.static', filename='svg/toggles.svg') }}" width="16" height="16" alt="Config"><span class="ms-1 d-none d-sm-inline">Config</span> </a>
                    </li>
                    <li>
                        <a href="{{ url_for('indi_allsky.system_view') }}" class="nav-link px-sm-0 px-2">
                            <img src="{{ url_for('indi_allsky.static', filename='svg/gear-fill.svg') }}" width="16" height="16" alt="System"><span class="ms-1 d-none d-sm-inline">System</span> </a>
                    </li>
                    {% endif %}

                </ul>

                <div class="py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1 d-none d-sm-inline">
                    <hr>
                    <div id="status_text">{{ status_text|safe }}</div>
                    <hr>
                    <div>{{ username_text|safe }}</div>
                </div>
            </div>
        </div>
        <div class="col-xl col-9 d-flex flex-column h-sm-100">
            <main class="row vh-100 overflow-auto">
                <div class="col pt-4">
                  {% block content %}{% endblock %}
                </div>
            </main>
            <!---
            <footer class="row bg-light py-4 mt-auto">
                <div class="col"> Footer content here... </div>
            </footer>
            -->
        </div>
    </div>

<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="notificationLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="notification_date"></div>
        <br>
        <div id="notification_body"></div>
      </div>
      <div class="modal-footer">
        <button id="ack_button" type="button" class="btn btn-primary" data-bs-dismiss="modal">Acknowledge</button>
      </div>
    </div>
  </div>
</div>

</div>

<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
    }
});

function ackNotification(notice_id, onDone, onError) {
    postData = {
        'camera_id' : camera_id,
        'ack_id'    : notice_id,
    };

    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_notification_view') }}",
        contentType: "application/json",
        data: JSON.stringify(postData),
        success: function(rdata){
            onDone(rdata);
        },
        error: function(rdata){
            onError(rdata);
        },
    });
}


function loadNotification() {
    var getData={'camera_id' : camera_id};

    $.ajax({
        type: "GET",
        url: "{{ url_for('indi_allsky.ajax_notification_view') }}",
        contentType: "application/json",
        data: getData,
        success: function(rdata){
            showNotification(rdata);
        },
        error: function(rdata){
        },
    });
}

function showNotification(data) {
    if ( data.id == 0 ) {
        return;
    };

    $("#ack_button").off();
    $("#ack_button").on("click", function() {
        // show next notification (not working)
        ackNotification(data.id, showNotification);
    });

    notification_modal = $("#notificationModal");
    notificationTitle = notificationModal.querySelector('.modal-title');
    notificationDate = notificationModal.querySelector('#notification_date');
    notificationBody = notificationModal.querySelector('#notification_body');

    notificationTitle.textContent = "Notification: " + data.category;
    notificationDate.textContent = "Date: " + data.createDate;
    notificationBody.textContent = data.notification;

    notification_modal.modal('show');
}


function changeCamera() {
    postData = {
        'camera_id' : $("#CAMERA_SELECT").val()
    };

    var onDone=function(){
        location.reload();
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_select_camera_view') }}",
        contentType: "application/json",
        data: JSON.stringify(postData),
        success: function(rdata){
            onDone(rdata);
        },
        error: function(rdata){
            onError(rdata);
        },
    });
}


function getStatusText() {
    var getData={'camera_id' : camera_id};

    $.ajax({
        type: "GET",
        url: "{{ url_for('indi_allsky.ajax_status_update_view') }}",
        contentType: "application/json",
        data: getData,
        success: function(rdata){
            updateStatus(rdata);
        },
        error: function(rdata){
        },
    });
}


function updateStatus(data) {
    console.log('Update status');
    $("#status_text").html(data['status_text']);
    setTimeout(getStatusText, 101000);
}

$( document ).ready(function() {
    // Load notifications when ready
    loadNotification({'camera_id' : camera_id});

    setTimeout(getStatusText, 101000);  // prime number

    $("#CAMERA_SELECT").on("change", function() {
        changeCamera();
    });

});

</script>
  </body>
</html>
