{% extends 'base.html' %}

{% block title %}indi-allsky: Cameras{% endblock %}

{% block head %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
{% endblock %}

{% block content %}
<table>
<tr>
    <th>ID</th>
    <th>Camera</th>
    <th>Connect Date</th>
</tr>
{% for camera in camera_list %}
<tr>
    <td>{{ camera.id }}</td>
    <td>{{ camera.name }}</td>
    <td>{{ camera.connectDate.strftime('%Y-%m-%d %H:%M:%S') }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
