{% extends 'base.html' %}

{% block title %}indi-allsky: Camera Simulator{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
canvas {
    width:75%;
}
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/clipboard.min.js') }}"></script>
<script>
var camera_id = {{ camera_id }};

// lens image circle diameter (mm)
var icd = {
    'zwo_f2.0_2.1mm_1-3' :          6.7,
    'zwo_f1.2_2.5mm_1-2' :          6.7,
    'fe185c046ha_f1.4_1.4mm_1-2' :  4.6,
    'fe185c057ha_f1.4_1.8mm_2-3' :  5.7,
    'arecont_f2.0_1.55mm_1-2' :     4.8,
    'stardot_f1.5_1.55mm_1-2' :     4.8,
    'm12_f2.1_0.76mm_1-3.2' :       2.77,
    'm12_f2.0_1.44mm_1-2.5' :       3.55,
    'm12_f2.0_1.56mm_1-2.5' :       4.8,
    'm12_f2.0_1.7mm_1-2.5' :        5.6,
    'm12_f2.2_1.71mm_1-3' :         3.5,
    'm12_f2.4_1.8mm_1-4' :          4.8,
    'm12_f2.0_1.8mm_1-2.5' :        6.9,
    'm12_f2.0_1.85mm_1-1.8' :       5.8,
    'm12_f2.0_2.1mm_1-2.7' :        6.7,
    'fe185c086ha_f1.8_2.7mm_1' :    8.6,
    'vm2.8ir10mp_f1.6_2.8mm_1-1.8': 9.0,
    'meike_f2.8_3.5mm_4-3' :        12.5,
    'custom_f7_5.8mm_m42' :         17.3,
    '7artisans_f2.8_4.0mm_4-3' :    12.37,
    'laowa_f2.8_4.0mm_4-3' :        13.4,
    'cs-2.5ir_8mp_-f_f1.6_2.5mm_2-3' : 6.4,
}

//   '64mphawkeye_f1.8_5.1mm_1-1.7' : 0.0,
//   '64mpowlsight_f1.9_6.65mm_1-1.32' : 0.0,

// sensor dimensions
var sd = {
    'imx477' : {
        'w' : 4056,
        'h' : 3040,
        'p' : 1.55,
    },
    'imx378' : {
        'w' : 4056,
        'h' : 3040,
        'p' : 1.55,
    },
    'imx708' : {
        'w' : 4608,
        'h' : 2592,
        'p' : 1.4,
    },
    'imx462' : {
        'w' : 1920,
        'h' : 1080,
        'p' : 2.9,
    },
    'imx290' : {
        'w' : 1936,
        'h' : 1096,
        'p' : 2.9,
    },
    'imx519' : {
        'w' : 4656,
        'h' : 3496,
        'p' : 1.22,
    },
    'ov5647' : {
        'w' : 2592,
        'h' : 1944,
        'p' : 1.4,
    },
    'imx219' : {
        'w' : 3280,
        'h' : 2464,
        'p' : 1.12,
    },
    'imx296' : {
        'w' : 1456,
        'h' : 1088,
        'p' : 3.45,
    },
    'ar0130' : {
        'w' : 1280,
        'h' : 960,
        'p' : 3.75,
    },
    'sc2210' : {
        'w' : 1920,
        'h' : 1080,
        'p' : 4,
    },
    'imx224' : {
        'w' : 1304,
        'h' : 976,
        'p' : 3.75,
    },
    'imx225' : {
        'w' : 1304,
        'h' : 976,
        'p' : 3.75,
    },
    'imx185' : {
        'w' : 1944,
        'h' : 1224,
        'p' : 3.75,
    },
    'imx385' : {
        'w' : 1936,
        'h' : 1096,
        'p' : 3.75,
    },
    'imx183' : {
        'w' : 5472,
        'h' : 3648,
        'p' : 2.4,
    },
    'imx533' : {
        'w' : 3008,
        'h' : 3008,
        'p' : 3.76,
    },
    'imx485' : {
        'w' : 3840,
        'h' : 2160,
        'p' : 2.9,
    },
    'imx585' : {
        'w' : 3856,
        'h' : 2180,
        'p' : 2.9,
    },
    'imx715' : {
        'w' : 3864,
        'h' : 2192,
        'p' : 1.45,
    },
    'mt9m034' : {
        'w' : 1280,
        'h' : 960,
        'p' : 3.75,
    },
    'mt9t001' : {
        'w' : 2048,
        'h' : 1536,
        'p' : 3.2,
    },
    'imx571' : {
        'w' : 6248,
        'h' : 4176,
        'p' : 3.76,
    },
    'imx455' : {
        'w' : 9576,
        'h' : 6388,
        'p' : 3.76,
    },
    'imx178' : {
        'w' : 3096,
        'h' : 2080,
        'p' : 2.4,
    },
    'imx676' : {
        'w' : 3552,
        'h' : 3552,
        'p' : 2,
    },
    'imx678' : {
        'w' : 3840,
        'h' : 2160,
        'p' : 2,
    },
    'imx482' : {
        'w' : 1920,
        'h' : 1080,
        'p' : 5.8,
    },
    'imx174' : {
        'w' : 1936,
        'h' : 1216,
        'p' : 5.86,
    },
    'imx432' : {
        'w' : 1608,
        'h' : 1104,
        'p' : 9,
    },
    'imx662' : {
        'w' : 1920,
        'h' : 1080,
        'p' : 2.9,
    },
    'imx294' : {
        'w' : 4144,
        'h' : 2822,
        'p' : 4.63,
    },
    'imx664' : {
        'w' : 2704,
        'h' : 1540,
        'p' : 2.9,
    },
    'imx464' : {
        'w' : 2712,
        'h' : 1538,
        'p' : 2.9,
    },
    'imx287' : {
        'w' : 728,
        'h' : 544,
        'p' : 6.9,
    },
    'imx307' : {
        'w' : 1920,
        'h' : 1080,
        'p' : 2.9,
    },
    'imx415' : {
        'w' : 3864,
        'h' : 2160,
        'p' : 1.45,
    },
    'imx415_sv205' : {  // resolution is different vs regular imx415
        'w' : 3264,
        'h' : 2160,
        'p' : 1.45,
    },
    'imx249' : {
        'w' : 1936,
        'h' : 1216,
        'p' : 5.86,
    },
    'imx429' : {
        'w' : 1944,
        'h' : 1472,
        'p' : 4.5,
    },
    'imx230' : {
        'w' : 5344,
        'h' : 4016,
        'p' : 1.12,
    },
    'ar0234' : {
        'w' : 1920,
        'h' : 1200,
        'p' : 3,
    },
    'icx825al' : {
        'w' : 1392,
        'h' : 1040,
        'p' : 6.45,
    },
    'icx205al' : {
        'w' : 1392,
        'h' : 1040,
        'p' : 4.65,
    },
    'imx327' : {
        'w' : 1920,
        'h' : 1080,
        'p' : 2.9,
    },
    'imx269' : {
        'w' : 5280,
        'h' : 3956,
        'p' : 3.3,
    },
    'imx410' : {
        'w' : 6072,
        'h' : 4042,
        'p' : 5.94,
    },
    'icx274al' : {
        'w' : 1628,
        'h' : 1236,
        'p' : 4.4,
    },
    'imx273' : {
        'w' : 1456,
        'h' : 1088,
        'p' : 3.45,
    },
    'imx252' : {
        'w' : 2064,
        'h' : 1544,
        'p' : 3.45,
    },
    'imx250' : {
        'w' : 2464,
        'h' : 2056,
        'p' : 3.45,
    },
    'imx265' : {
        'w' : 2064,
        'h' : 1544,
        'p' : 3.45,
    },
    'imx264' : {
        'w' : 2464,
        'h' : 2056,
        'p' : 3.45,
    },
    'imx304' : {
        'w' : 4112,
        'h' : 3008,
        'p' : 3.45,
    },
    'imx253' : {
        'w' : 4112,
        'h' : 3008,
        'p' : 3.45,
    },
    'imx682' : {
        'w' : 9152,
        'h' : 6944,
        'p' : 0.8,
    },
    'ov64a40' : {
        'w' : 9152,
        'h' : 6944,
        'p' : 1.008,
    },
    'imx283' : {
        'w' : 5472,
        'h' : 3648,
        'p' : 2.4,
    },
    'imx298' : {
        'w' : 4640,
        'h' : 3472,
        'p' : 1.12,
    },
};
</script>
{% endblock %}

{% block content %}
<form id="form_camera_simulator" onSubmit="return false;">
    <div class="form-group row">
        <div class="col-sm-1">
            {{ form_camera_simulator.LENS_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_camera_simulator.LENS_SELECT(class='form-select bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_camera_simulator.SENSOR_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_camera_simulator.SENSOR_SELECT(class='form-select bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_camera_simulator.OFFSET_X.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_camera_simulator.OFFSET_X(class='form-control bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_camera_simulator.OFFSET_Y.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_camera_simulator.OFFSET_Y(class='form-control bg-secondary') }}
        </div>
    </div>
</form>

<hr>

<div class="row">
    <div class="text-center" style="font-size:10px">
        Only simulates the image circle.  Field of View is dependant on lens.
    </div>
</div>
<div class="row">
    <div class="text-center">
      <div class="col-sm-12">
        <canvas id="image-circle-canvas"></canvas>
      </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <span id="permalink"></span>
    </div>
<script>

function pixels2mm(pixels, pixel_um) {
    return pixels * (pixel_um / 1000);
}

function show_simulation() {
    lens = $("#LENS_SELECT").val();
    sensor = $("#SENSOR_SELECT").val();

    const canvas = document.getElementById("image-circle-canvas");
    const ctx = canvas.getContext("2d");

    // All geometry values are in millimeters

    // sensor rectangle
    var r = {
        w : pixels2mm(sd[sensor]['w'], sd[sensor]['p']),
        h : pixels2mm(sd[sensor]['h'], sd[sensor]['p']),
    };

    // image circle
    var c = {
        r : icd[lens] / 2,
    };

    //console.log('Sensor rect: ' + r.w + ' x ' + r.h)
    //console.log('Image circle: ' + c.r)

    var offset_x = pixels2mm($("#OFFSET_X").val(), sd[sensor]['p']);
    var offset_y = pixels2mm($("#OFFSET_Y").val(), sd[sensor]['p']);

    // clear canvas
    canvas.setAttribute("width", window.innerWidth);
    canvas.setAttribute("height", window.innerHeight);
    var hRatio = canvas.width  / r['w'];
    var vRatio = canvas.height / r['h'];
    var ratio  = Math.min ( hRatio, vRatio );
    //console.log('Ratio: ' + ratio);

    canvas.width = r.w * ratio;
    canvas.height = r.h * ratio;

    ctx.beginPath();
    ctx.fillStyle="#000000";
    ctx.rect(
        0,
        0,
        r.w * ratio,
        r.h * ratio
    );
    ctx.stroke();
    ctx.fill();

    ctx.beginPath();
    ctx.fillStyle="#444444";
    ctx.globalCompositeOperation="source-atop";
    //ctx.globalCompositeOperation="source-bottom";
    ctx.arc(
        (r.w * ratio / 2) + (offset_x * ratio),
        (r.h * ratio / 2) - (offset_y * ratio),
        c.r * ratio,
        0,
        2 * Math.PI,
        false
    );
    ctx.stroke();
    ctx.fill();


    ctx.lineWidth = 10;

    ctx.font = '20px serif';

    // round the background strokes to prevent spikes
    ctx.lineJoin = 'round';

    var lens_text = $("#LENS_SELECT option:selected").text()
    var camera_text = $("#SENSOR_SELECT option:selected").text()
    var resolution_text = sd[sensor]['w'] + " x " + sd[sensor]['h'] + " (" + sd[sensor]['p'] + "µm)";
    var size_text = r.w.toFixed(2) + " x " + r.h.toFixed(2) + "mm";
    var diag_text = Math.sqrt((r.w ** 2) + (r.h ** 2)).toFixed(2) + "mm diag";
    var img_c_text = (icd[lens] / sd[sensor]['p'] * 1000).toFixed(0) + "px circle";
    var offset_text = offset_x.toFixed(2) + " x " + offset_y.toFixed(2) + "mm offset";

    ctx.strokeStyle = 'black';
    ctx.fillStyle = 'lightgrey';

    ctx.textAlign = 'left';

    // top left
    ctx.strokeText(lens_text, 25, 40, 500);
    ctx.strokeText(camera_text, 25, 70, 500);
    ctx.fillText(lens_text, 25, 40, 500);
    ctx.fillText(camera_text, 25, 70, 500);


    var x_text = (r.w * ratio) - 25;
    var y_text = (r.h * ratio) - 180;
    var maxWidth = 200;

    ctx.textAlign = 'right';

    // top right
    ctx.strokeText(resolution_text, x_text, 40, maxWidth);
    ctx.strokeText(size_text, x_text, 70, maxWidth);
    ctx.strokeText(diag_text, x_text, 100, maxWidth);
    ctx.fillText(resolution_text, x_text, 40, maxWidth);
    ctx.fillText(size_text, x_text, 70, maxWidth);
    ctx.fillText(diag_text, x_text, 100, maxWidth);

    // bottom right
    ctx.strokeText(img_c_text, x_text, y_text + 130, maxWidth);
    ctx.strokeText(offset_text, x_text, y_text + 160, maxWidth);
    ctx.fillText(img_c_text, x_text, y_text + 130, maxWidth);
    ctx.fillText(offset_text, x_text, y_text + 160, maxWidth);


    // Add Loop here link
    $('#permalink').html(
        $('<span />', {
            'text' : "Copy Permalink to Clipboard",
            'class' : "badge pill bg-primary copy-clipboard",
            'style' : "cursor: pointer;",
            'data-clipboard-text' : "{{ url_for('indi_allsky.camera_simulator_view', _external=True) }}?lens=" + $("#LENS_SELECT").val() + "&sensor=" + $("#SENSOR_SELECT").val() + "&offset_x=" + $("#OFFSET_X").val() + "&offset_y=" + $("#OFFSET_Y").val(),
        })
    );


    if (window.history.replaceState) {
       //prevents browser from storing history with each change:
       window.history.replaceState({}, null, "{{ url_for('indi_allsky.camera_simulator_view') }}");
    }
}


$("#LENS_SELECT").on("change", function() {
    show_simulation();
});


$("#SENSOR_SELECT").on("change", function() {
    show_simulation();
});


$("#OFFSET_X").on("change", function() {
    show_simulation();
});


$("#OFFSET_Y").on("change", function() {
    show_simulation();
});


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    show_simulation();
}
setResizeHandler(resize_callback, 200);


function init() {
    show_simulation();
    new ClipboardJS('.copy-clipboard');
}


$( document ).ready(function() {
    init();
});

</script>

{% endblock %}
