{% extends 'base.html' %}

{% block title %}Charts{% endblock %}

{% block head %}
<meta charset="UTF-8"/>
<style>
#sqm-chart {
    width:100%;
    height:50%;
    max-height:500px;
};
</style>
<script type="text/javascript" src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
<script type="text/javascript">
var sqm_chart;
var json_data = {
    'chart_data' : {
        'sqm'   : [],
        'stars' : [],
    },
};

function init() {
    loadChartData();

    ctx = document.getElementById('sqm-chart').getContext('2d');
    sqm_chart = new Chart(ctx, {
        type: "line",
        data: {
            datasets: [{
                label: 'jSQM',
                //pointRadius: 4,
                pointBackgroundColor: "rgba(0, 0, 255, 1)",
                borderColor: "rgba(127, 127, 127, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });

    loop();
}

async function loop() {
    while(json_data['chart_data']['sqm'].length == 0) {
        await sleep(100);
    }

    drawChart();
    setTimeout(loop, 15000);
}


function loadChartData() {
    console.log('Loading chart data');
    loadJS("{{ url_for('indi-allsky.js_chart_view') }}", function() {});
    setTimeout(loadChartData, 15000);
}


function drawChart() {
    sqm_chart.data.datasets[0].data = json_data['chart_data']['sqm'].reverse();  // data is reversed in DB
    sqm_chart.update();
}


function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}


function loadJS(url, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};
    var xhr=new XMLHttpRequest();
    xhr.onreadystatechange=function() {
        if(xhr.readyState==4){
            if(xhr.status==200 || xhr.status==0) {
            try {
                json_data = JSON.parse(xhr.responseText);
            } catch(e) {
                onError(e);
                return;
            }
            onDone();
            } else {
                onError(xhr.status);
            }
        }
    }.bind(this);
    try {
        xhr.open("GET", url, true);
        xhr.send();
    } catch(e) {
        onError(e);
    }
}


document.addEventListener("DOMContentLoaded", function(event) {
    init();
});

</script>
{% endblock %}

{% block content %}
<div class="bg-dark">
    <canvas id="sqm-chart"></canvas>
</div>
{% endblock %}
