{% extends 'base.html' %}

{% block title %}indi-allsky: Charts{% endblock %}

{% block head %}
<meta charset="UTF-8"/>
<style>
canvas {
    width:100%;
    height:100%;
    max-height:300px;
};
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/chart.min.js') }}"></script>
<script type="text/javascript">
var history_seconds;  // set later
var json_data = {
    'chart_data' : {
        'sqm'   : [],
        'sqm_d' : [],
        'stars' : [],
        'temp'  : [],
        'exp'   : [],
    },
};

function init() {
    loadChartData();

    ctx_sqm = $('#sqm-chart')[0].getContext('2d');
    sqm_chart = new Chart(ctx_sqm, {
        type: "line",
        data: {
            datasets: [{
                label: 'jSQM',
                //pointRadius: 4,
                backgroundColor: "rgba(192, 0, 0, 1)",
                borderColor: "rgba(127, 127, 127, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });


    ctx_sqm_d = $('#sqm_d-chart')[0].getContext('2d');
    sqm_d_chart = new Chart(ctx_sqm_d, {
        type: "bar",
        data: {
            datasets: [{
                label: 'SQM delta',
                backgroundColor: "rgba(127, 0, 0, 1)",
                borderColor: "rgba(127, 127, 127, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:false,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: false,
                    },
                    suggestedMax: 250,
                    suggestedMin: -250,
                },
            }
        }
    });


    ctx_stars = $('#stars-chart')[0].getContext('2d');
    stars_chart = new Chart(ctx_stars, {
        type: "line",
        data: {
            datasets: [{
                label: 'Stars',
                //pointRadius: 4,
                backgroundColor: "rgba(192, 192, 192, 1)",
                borderColor: "rgba(127, 127, 127, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });

    ctx_temp = $('#temp-chart')[0].getContext('2d');
    temp_chart = new Chart(ctx_temp, {
        type: "line",
        data: {
            datasets: [{
                label: 'Temperature',
                //pointRadius: 4,
                backgroundColor: "rgba(0, 0, 192, 1)",
                borderColor: "rgba(127, 127, 127, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });

    ctx_exposure = $('#exposure-chart')[0].getContext('2d');
    exposure_chart = new Chart(ctx_exposure, {
        type: "line",
        data: {
            datasets: [{
                label: 'Exposure',
                //pointRadius: 4,
                backgroundColor: "rgba(0, 192, 0, 1)",
                borderColor: "rgba(127, 127, 127, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });

    loop();
}

async function loop() {
    while(json_data['chart_data']['sqm'].length == 0) {
        await sleep(100);
    }

    drawChart();
    setTimeout(loop, 15000);
}


function loadChartData() {
    console.log('Loading chart data');
    loadJS("{{ url_for('indi_allsky.js_chart_view') }}", {'limit_s' : history_seconds});
    setTimeout(loadChartData, 15000);
}


function drawChart() {
    sqm_chart.data.datasets[0].data = json_data['chart_data']['sqm'].reverse();  // data is reversed in DB
    sqm_d_chart.data.datasets[0].data = json_data['chart_data']['sqm_d'].reverse();
    stars_chart.data.datasets[0].data = json_data['chart_data']['stars'].reverse();
    temp_chart.data.datasets[0].data = json_data['chart_data']['temp'].reverse();
    exposure_chart.data.datasets[0].data = json_data['chart_data']['exp'].reverse();
    sqm_chart.update();
    sqm_d_chart.update();
    stars_chart.update();
    temp_chart.update();
    exposure_chart.update();
}


function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}


function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};
    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(data){
            json_data = data
        },
        error: function(data){
            onError(data.status);
        },
    });

}


$( document ).ready(function() {
    history_seconds = $('#HISTORY_SELECT').val();

    init();
});

</script>
{% endblock %}

{% block content %}
<form id="form_history" onSubmit="return false;">
    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_history.HISTORY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_history.HISTORY_SELECT(class='form-control bg-secondary') }}
        </div>
    </div>
</form>

<hr />

<div class="row bg-dark">
    <div class="col-sm-6">
        <canvas id="sqm-chart"></canvas>
    </div>

    <div class="col-sm-6">
        <canvas id="sqm_d-chart"></canvas>
    </div>
</div>

<div class="row bg-dark">
    <div class="col-sm-6">
        <canvas id="stars-chart"></canvas>
    </div>

    <div class="col-sm-6">
        <canvas id="exposure-chart"></canvas>
    </div>
</div>

<div class="row bg-dark">
    <div class="col-sm-6">
        <canvas id="temp-chart"></canvas>
    </div>
</div>

<script>

$("#HISTORY_SELECT").on("change", function() {
    history_seconds = $('#HISTORY_SELECT').val();
    console.log('Changing chart history: ' + history_seconds);
});

</script>

{% endblock %}
