{% extends 'base.html' %}

{% block title %}indi-allsky: Charts{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.loader {
  display: block;
  border: 3px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

canvas {
    width:100%;
    height:100%;
    max-height:300px;
};
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/chart.umd.js') }}"></script>
<script type="text/javascript">
var refreshInterval = {{ refreshInterval | int }};
var timestamp = {{ timestamp | int }};
var page_settings;  // set later
var history_seconds;  // set later
var json_data = {
    'chart_data' : {
        'sqm'   : [],
        'sqm_d' : [],
        'stars' : [],
        'temp'  : [],
        'exp'   : [],
        'detection' : [],
        'custom_1'  : [],
        'custom_2'  : [],
        'custom_3'  : [],
        'custom_4'  : [],
        'histogram' : {
            'red'   : [],
            'green' : [],
            'blue'  : [],
            'gray'  : [],
        }
    },
    'message' : '',
};

function init() {
    loadChartData();

    ctx_sqm = $('#sqm-chart')[0].getContext('2d');
    sqm_chart = new Chart(ctx_sqm, {
        type: "line",
        data: {
            datasets: [{
                label: 'jSQM',
                pointRadius: 3,
                backgroundColor: "rgba(192, 0, 0, 1)",
                borderColor: "rgba(128, 0, 0, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });


    ctx_sqm_d = $('#sqm_d-chart')[0].getContext('2d');
    sqm_d_chart = new Chart(ctx_sqm_d, {
        type: "bar",
        data: {
            datasets: [{
                label: 'SQM delta',
                backgroundColor: "rgba(128, 0, 0, 1)",
                //borderColor: "rgba(92, 0, 0, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:false,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: false,
                    },
                    suggestedMax: 250,
                    suggestedMin: -250,
                },
            }
        }
    });


    ctx_stars = $('#stars-chart')[0].getContext('2d');
    stars_chart = new Chart(ctx_stars, {
        type: "line",
        data: {
            datasets: [{
                label: 'Stars',
                pointRadius: 3,
                backgroundColor: "rgba(192, 192, 192, 1)",
                borderColor: "rgba(128, 128, 128, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });

    ctx_temp = $('#temp-chart')[0].getContext('2d');
    temp_chart = new Chart(ctx_temp, {
        type: "line",
        data: {
            datasets: [{
                label: 'Temperature',
                pointRadius: 3,
                backgroundColor: "rgba(0, 0, 192, 1)",
                borderColor: "rgba(0, 0, 160, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });

    ctx_exposure = $('#exposure-chart')[0].getContext('2d');
    exposure_chart = new Chart(ctx_exposure, {
        type: "line",
        data: {
            datasets: [{
                label: 'Exposure',
                pointRadius: 3,
                backgroundColor: "rgba(0, 192, 0, 1)",
                borderColor: "rgba(0, 128, 0, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                },
            }
        }
    });


    ctx_detection = $('#detection-chart')[0].getContext('2d');
    detection_chart = new Chart(ctx_detection, {
        type: "bar",
        data: {
            datasets: [{
                label: 'Detection',
                backgroundColor: "rgba(128, 0, 128, 1)",
                //borderColor: "rgba(92, 0, 0, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:false,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: false,
                    },
                    suggestedMax: 1,
                    suggestedMin: 0,
                },
            }
        }
    });


    ctx_custom_1 = $('#custom-1-chart')[0].getContext('2d');
    custom_1_chart = new Chart(ctx_custom_1, {
        type: "line",
        data: {
            datasets: [{
                label: '{{ label_custom_chart_1 }}',
                backgroundColor: "rgba(128, 0, 0, 1)",
                borderColor: "rgba(92, 0, 0, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:false,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: false,
                    },
                    suggestedMin: 0,
                },
            }
        }
    });

    ctx_custom_2 = $('#custom-2-chart')[0].getContext('2d');
    custom_2_chart = new Chart(ctx_custom_2, {
        type: "line",
        data: {
            datasets: [{
                label: '{{ label_custom_chart_2 }}',
                backgroundColor: "rgba(0, 128, 0, 1)",
                borderColor: "rgba(0, 92, 0, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:false,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: false,
                    },
                    suggestedMin: 0,
                },
            }
        }
    });

    ctx_custom_3 = $('#custom-3-chart')[0].getContext('2d');
    custom_3_chart = new Chart(ctx_custom_3, {
        type: "line",
        data: {
            datasets: [{
                label: '{{ label_custom_chart_3 }}',
                backgroundColor: "rgba(0, 0, 128, 1)",
                borderColor: "rgba(0, 0, 92, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:false,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: false,
                    },
                    suggestedMin: 0,
                },
            }
        }
    });

    ctx_custom_4 = $('#custom-4-chart')[0].getContext('2d');
    custom_4_chart = new Chart(ctx_custom_4, {
        type: "line",
        data: {
            datasets: [{
                label: '{{ label_custom_chart_4 }}',
                backgroundColor: "rgba(128, 128, 0, 1)",
                borderColor: "rgba(92, 92, 0, 1)",
                tension: 0.1,
                data: []
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:false,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: false,
                    },
                    suggestedMin: 0,
                },
            }
        }
    });


    ctx_histogram = $('#histogram-chart')[0].getContext('2d');
    histogram_chart = new Chart(ctx_histogram, {
        type: "line",
        data: {
            datasets: [
                {
                    label: 'red',
                    pointRadius: 0,
                    borderColor: "rgba(128, 0, 0, 1)",
                    tension: 0.1,
                    data: []
                },
                {
                    label: 'green',
                    pointRadius: 0,
                    borderColor: "rgba(0, 128, 0, 1)",
                    tension: 0.1,
                    data: []
                },
                {
                    label: 'blue',
                    pointRadius: 0,
                    borderColor: "rgba(0, 0, 192, 1)",
                    tension: 0.1,
                    data: []
                },
                {
                    label: 'gray',
                    pointRadius: 0,
                    borderColor: "rgba(128, 128, 128, 1)",
                    tension: 0.1,
                    data: []
                }
            ],
        },
        options: {
            plugins: {
                title: {
                    text: 'Latest Histogram',
                    display: true,
                    color: "rgba(127, 127, 127, 1)"
                },
                legend: {
                    display: false,
                    position: "top",
                    labels: {
                        color: "rgba(127, 127, 127, 1)",
                    }
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                },
                y: {
                    beginAtZero:true,
                    grid: {
                        display: true,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: false,
                    },
                },
            }
        }
    });


    loop();
}

async function loop() {
    while(json_data['chart_data']['sqm'].length == 0) {
        await sleep(100);
    }

    drawChart();
    setTimeout(loop, refreshInterval);
}


function loadChartData() {
    console.log('Loading chart data');
    loadJS("{{ url_for('indi_allsky.js_chart_view') }}", {'limit_s' : history_seconds, 'timestamp' : timestamp});
    setTimeout(loadChartData, refreshInterval);
}


function drawChart() {
    sqm_chart.data.datasets[0].data = json_data['chart_data']['sqm'].reverse();  // data is reversed in DB
    sqm_d_chart.data.datasets[0].data = json_data['chart_data']['sqm_d'].reverse();
    stars_chart.data.datasets[0].data = json_data['chart_data']['stars'].reverse();
    temp_chart.data.datasets[0].data = json_data['chart_data']['temp'].reverse();
    exposure_chart.data.datasets[0].data = json_data['chart_data']['exp'].reverse();
    detection_chart.data.datasets[0].data = json_data['chart_data']['detection'].reverse();
    custom_1_chart.data.datasets[0].data = json_data['chart_data']['custom_1'].reverse();
    custom_2_chart.data.datasets[0].data = json_data['chart_data']['custom_2'].reverse();
    custom_3_chart.data.datasets[0].data = json_data['chart_data']['custom_3'].reverse();
    custom_4_chart.data.datasets[0].data = json_data['chart_data']['custom_4'].reverse();

    histogram_chart.data.datasets[0].data = json_data['chart_data']['histogram']['red'];
    histogram_chart.data.datasets[1].data = json_data['chart_data']['histogram']['green'];
    histogram_chart.data.datasets[2].data = json_data['chart_data']['histogram']['blue'];
    histogram_chart.data.datasets[3].data = json_data['chart_data']['histogram']['gray'];

    sqm_chart.update();
    sqm_d_chart.update();
    stars_chart.update();
    temp_chart.update();
    exposure_chart.update();
    detection_chart.update();
    custom_1_chart.update();
    custom_2_chart.update();
    custom_3_chart.update();
    custom_4_chart.update();
    histogram_chart.update();
}


function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}


function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $("#loader_chart").css({'display' : 'block'});

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(data){
            $("#loader_chart").css({'display' : 'none'});
            json_data = data
            $('#message').html(json_data['message']);
        },
        error: function(data){
            $("#loader_chart").css({'display' : 'none'});
            onError(data.status);
            $('#message').text('Error loading data.  Please check the logs.');
        },
    });

}


$( document ).ready(function() {
    if(localStorage) {
        chart_settings = localStorage.getItem("chart_settings");
        if(chart_settings) {
            page_settings = JSON.parse(chart_settings);
        } else {
            page_settings = new Object();
            page_settings["history_seconds"] = 900;

            localStorage.setItem("chart_settings", JSON.stringify(page_settings));
        }
    }

    if(typeof page_settings["history_seconds"] !== "undefined") {
        $("#HISTORY_SELECT").val(page_settings["history_seconds"]);
    }

    history_seconds = $('#HISTORY_SELECT').val();

    init();
});

</script>
{% endblock %}

{% block content %}
<form id="form_history" onSubmit="return false;">
    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_history.HISTORY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_history.HISTORY_SELECT(class='form-select bg-secondary') }}
        </div>
        <div class="col-sm-1">
            <div class="loader" id="loader_chart"></div>
        </div>
    </div>
</form>

<hr>

<div class="row">
    <div class="text-center">
        <div class="text-muted" id="message"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="sqm-chart"></canvas>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="sqm_d-chart"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="stars-chart"></canvas>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="exposure-chart"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="temp-chart"></canvas>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="detection-chart"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="custom-1-chart"></canvas>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="custom-2-chart"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="custom-3-chart"></canvas>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="custom-4-chart"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="histogram-chart"></canvas>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="bg-dark" style="margin:3px">
            <canvas id="xxx"></canvas>
        </div>
    </div>
</div>

<script>

$("#HISTORY_SELECT").on("change", function() {
    history_seconds = $('#HISTORY_SELECT').val();
    console.log('Changing chart history: ' + history_seconds);

    if(localStorage) {
        page_settings["history_seconds"] = history_seconds;
        localStorage.setItem("chart_settings", JSON.stringify(page_settings));
    }
});

</script>

{% endblock %}
