{% extends 'base.html' %}

{% block title %}indi-allsky: Configs{% endblock %}

{% block head %}
<style>
</style>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>

{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-1 fw-bold">ID</div>
    <div class="col-sm-2 fw-bold">Create</div>
    <div class="col-sm-2 fw-bold">User</div>
    <div class="col-sm-2 fw-bold">Level</div>
    <div class="col-sm-1 fw-bold">Encrypted</div>
    <div class="col-sm-4 fw-bold">Note</div>
</div>
{% for config in config_list %}
<div class="row">
    <div class="col-sm-1">{{ config.id}}</div>
    <div class="col-sm-2">{{ config.createDate.strftime('%Y-%m-%d %H:%M:%S') }}</div>
    <div class="col-sm-2">{{ config.username }}</div>
    <div class="col-sm-2">{{ config.level }}</div>
    <div class="col-sm-1">{{ config.encrypted }}</div>
    <div class="col-sm-4">{{ config.note }}</div>
</div>
{% endfor %}
</div>
<div style="height:20px;"></div>
<div>Note: Configs from deleted users will not be displayed, but they are still in the database</div>
{% endblock %}
