{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
</style>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>
{% endblock %}

{% block content %}
<div class="container h-100">
    <form id="form_connections" onSubmit="return false;" autocomplete="off">

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.CONNECTIONS_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.CONNECTIONS_SELECT(class='form-select bg-secondary') }}
            <div id="CONNECTIONS_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.WIFI_DEVICES_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.WIFI_DEVICES_SELECT(class='form-select bg-secondary') }}
            <div id="WIFI_DEVICES_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-1">
            <button id="scan-button" class="btn btn-success">Scan</button>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.SSID_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.SSID_SELECT(class='form-select bg-secondary') }}
            <div id="SSID_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.SSID_PSK.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.SSID_PSK(class='form-control bg-secondary') }}
            <div id="SSID_PSK-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.HOTSPOT_SSID.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.HOTSPOT_SSID(class='form-control bg-secondary') }}
            <div id="HOTSPOT_SSID-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.HOTSPOT_PSK.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.HOTSPOT_PSK(class='form-control bg-secondary') }}
            <div id="HOTSPOT_PSK-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    </form>

</div>

<script type="text/javascript">

$('#scan-button').on('click', function() {
    if ( $('#WIFI_DEVICES_SELECT').val() == "" ){
        return false;
    }

    $("#scan-button").attr("class", "btn btn-primary");
    $("#scan-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Loading</span>'
    );


    var json_data = {
        'COMMAND' : 'scanap',
        'INTERFACE' : $('#WIFI_DEVICES_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_connections_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#scan-button").attr("class", "btn btn-success");
            $("#scan-button").html(
              'Scan'
            );


            $('#SSID_SELECT').removeAttr('readonly');
            $('#SSID_SELECT').removeAttr('disabled');
            $('#SSID_SELECT').removeClass('bg-dark');
            $('#SSID_SELECT').removeClass('text-secondary');

            $('#SSID_PSK').removeAttr('readonly');
            $('#SSID_PSK').removeAttr('disabled');
            $('#SSID_PSK').removeClass('bg-dark');
            $('#SSID_PSK').removeClass('text-secondary');


            $("#SSID_SELECT").empty();

            rdata.forEach(item => {
                $("#SSID_SELECT").append($('<option />', {'value' : item['path']}).text(item['ssid']));
            });
        },
        error: function(rdata){
            $("#scan-button").attr("class", "btn btn-danger");
            $("#scan-button").html(
              'Scan'
            );

            var errors = JSON.parse(rdata.responseText);
        },
    });
});


function init() {
    $('#SSID_SELECT').attr('readonly', true);
    $('#SSID_SELECT').attr('disabled', true);
    $('#SSID_SELECT').addClass('bg-dark');
    $('#SSID_SELECT').addClass('text-secondary');

    $('#SSID_PSK').attr('readonly', true);
    $('#SSID_PSK').attr('disabled', true);
    $('#SSID_PSK').addClass('bg-dark');
    $('#SSID_PSK').addClass('text-secondary');
}

$( document ).ready(function() {
    init();
});
</script>

{% endblock %}
