{% extends 'base.html' %}

{% block title %}indi-allsky: Dark Frames{% endblock %}

{% block head %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
{% endblock %}

{% block content %}
<table>
<tr>
    <th>ID</th>
    <th>Camera</th>
    <th>Date</th>
    <th>Bit Depth</th>
    <th>Exposure</th>
    <th>Gain</th>
    <th>Bin mode</th>
    <th>Temp</th>
</tr>
{% for dark in darkframe_list %}
<tr>
    <td>{{ dark.id }}</td>
    <td>{{ dark.camera_name }}</td>
    <td>{{ dark.createDate.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    <td>{{ dark.bitdepth }}</td>
    <td>{{ dark.exposure }}</td>
    <td>{{ dark.gain }}</td>
    <td>{{ dark.binmode }}</td>
    <td>{{ dark.temp }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
