{% extends 'base.html' %}

{% block title %}indi-allsky: Focus{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
canvas {
    width: 80%;
    height: auto;
};
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/chart.umd.js') }}"></script>
<script type="text/javascript">
var json_data = {
    'image_b64'  : null,
    'blur_score' : 0.0,
    'star_count' : 0,
    'focus_mode' : false,
};
var focuser_device = {{ focuser_device }};
var camera_id = {{ camera_id }};
var refreshInterval = 5000;
var zoom = 2;  // 2 is no zoom
var blur_score = 0.0;
var star_count = 0;
var focus_score_data = [];
var star_count_data = [];
var fullscreen = false;  //initial state
var steps_offset = 0;


async function loop() {
    console.log('Starting loop');

    while(json_data['image_b64'] == null) {
        await sleep(100);
    }

    showImage(json_data['image_b64']);

    setTimeout(loop, refreshInterval);
}


function showImage(image_b64) {
    console.log('Showing image');

    if (image_b64 == null) {
        return;
    }

    var image_canvas = document.getElementById("image-canvas");
    var context = image_canvas.getContext("2d");

    var img = new Image();
    img.src = "data:image/jpg;base64," + image_b64;
    img.onload = function() {
        image_canvas.setAttribute("width", window.innerWidth);
        image_canvas.setAttribute("height", window.innerHeight);

        var hRatio = image_canvas.width  / this.width;
        var vRatio = image_canvas.height / this.height;
        var ratio  = Math.min ( hRatio, vRatio );
        var centerShift_x = ( image_canvas.width - this.width * ratio ) / 2;
        var centerShift_y = ( image_canvas.height - this.height * ratio ) / 2;

        context.imageSmoothingEnabled = false;
        context.drawImage(this, 0, 0, this.width, this.height,
            centerShift_x, centerShift_y, this.width * ratio, this.height * ratio);


        // round the background strokes to prevent spikes
        context.lineJoin = 'round';
        //context.miterLimit = 2;


        context.textAlign = 'left';
        context.lineWidth = 10;
        var maxWidth = 200;
        var x = image_canvas.width-10-maxWidth;
        var y = image_canvas.height-150;

        context.font = '20px serif';

        var blur_score_text = "Score: " + parseFloat(blur_score).toFixed(2);
        context.strokeStyle = 'black';
        context.strokeText(blur_score_text, x-175, y+40, maxWidth);
        context.fillStyle = 'rgba(192, 75, 75, 1)';
        context.fillText(blur_score_text, x-175, y+40, maxWidth);

        var star_count_text = "Stars: " + star_count;
        context.strokeStyle = 'black';
        context.strokeText(star_count_text, x-175, y+75, maxWidth);
        context.fillStyle = 'rgba(75, 75, 192, 1)';
        context.fillText(star_count_text, x-175, y+75, maxWidth);

        var blur_score_text = "Focus Mode: " + json_data['focus_mode'];
        context.strokeStyle = 'black';
        context.strokeText(blur_score_text, x-175, y+110, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(blur_score_text, x-175, y+110, maxWidth);

    };
}


function loadNextImage() {
    console.log('Loading next image');
    var data = {
        'zoom' : zoom,
        'x_offset' : $('#X_OFFSET').val(),
        'y_offset' : $('#Y_OFFSET').val(),
    }
    loadJS("{{ url_for('indi_allsky.js_focus_view') }}", data, function() {});
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            json_data = rdata;

            // update data
            blur_score = json_data['blur_score'].toFixed(2);
            star_count = json_data['star_count'];

            // javascript is stupid
            focus_score_data.reverse()
            focus_score_data.unshift({
                'x': focus_score_data.length.toString(),
                'y': blur_score
            });
            focus_score_data.reverse()

            star_count_data.reverse()
            star_count_data.unshift({
                'x': star_count_data.length.toString(),
                'y': star_count
            });
            star_count_data.reverse()


            focus_chart.data.datasets[0].data = focus_score_data;
            focus_chart.data.datasets[1].data = star_count_data;
            focus_chart.update();

        },
        error: function(rdata){
            onError(rdata.status);
        },
    });
}


function focuserMove(direction, degrees) {
    var data = {
        "DIRECTION" : direction,
        "STEP_DEGREES" : degrees,
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.focus_controller_view') }}",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(response_data){
            $('#focus_controller_error').empty();

            $('#FOCUS_CCW').addClass("btn-primary");
            $('#FOCUS_CW').addClass("btn-danger");
            $('#FOCUS_CCW').prop("disabled", false);
            $('#FOCUS_CW').prop("disabled", false);

            steps_offset += response_data['steps'];

            $('#offset_div').text(steps_offset + " Steps Offset");
        },
        error: function(response_data){
            var errors = JSON.parse(response_data.responseText);

            $('#focus_controller_error').text(errors['focuser_error'][0]);

            // Leave disabled on errors
            //$('#FOCUS_CCW').addClass("btn-primary");
            //$('#FOCUS_CW').addClass("btn-danger");
            //$('#FOCUS_CCW').prop("disabled", false);
            //$('#FOCUS_CW').prop("disabled", false);
        },
    });
}


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    if (json_data['image_b64']) {
        showImage(json_data['image_b64']);
    };
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



</script>
{% endblock %}

{% block content %}
<form id="form_focus" onSubmit="return false;">
    <div class="form-group row">
        <div class="col-sm-1">
            <div>{{ form_focus.REFRESH_SELECT.label(class='col-form-label') }}</div>
            <div>{{ form_focus.ZOOM_SELECT.label(class='col-form-label') }}</div>
        </div>
        <div class="col-sm-2">
            <div>{{ form_focus.REFRESH_SELECT(class='form-select bg-secondary') }}</div>
            <div>{{ form_focus.ZOOM_SELECT(class='form-select bg-secondary') }}</div>
        </div>
        <div class="col-sm-1">
            <div>{{ form_focus.X_OFFSET.label(class='col-form-label') }}</div>
            <div>{{ form_focus.Y_OFFSET.label(class='col-form-label') }}</div>
        </div>
        <div class="col-sm-2">
            <div>{{ form_focus.X_OFFSET(class='form-control bg-secondary') }}</div>
            <div>{{ form_focus.Y_OFFSET(class='form-control bg-secondary') }}</div>
        </div>
        <div class="col-sm-3 offset-1 bg-dark">
            <canvas id="focus-chart"></canvas>
        </div>
    </div>
</form>

<hr>

<div class="row">
    <div class="text-center">
        <canvas id="image-canvas"/></canvas>
    </div>
</div>

<div class="row">
    <div class="text-center">
        Do not forget to enable <b>Focus Mode</b> in the configuration and reload the configuration!
    <div>
</div>

<div id="focus_controller_div" class="row justify-content-center" style="display: none;">
    <div class="col-sm-1"><button id="FOCUS_CCW" class="btn btn-primary">Focus<br>-</button></div>
    <div class="col-sm-2">
        <div>{{ form_focuscontroller.STEP_DEGREES(class='form-select bg-secondary') }}</div>
        <div id="offset_div">0 Steps Offset</div>
    </div>
    <div class="col-sm-1"><button id="FOCUS_CW" class="btn btn-danger">Focus<br>+</button></div>
</div>
<div class="row justify-content-center">
    <div id="focus_controller_error" class="text-danger"></div>
</div>


<script>
$("#REFRESH_SELECT").on("change", function() {
    refreshInterval = $('#REFRESH_SELECT').val() * 1000;
    console.log('Changing refresh interval: ' + refreshInterval);
});

$("#ZOOM_SELECT").on("change", function() {
    zoom = $('#ZOOM_SELECT').val();
    console.log('Changing zoom: ' + zoom);

    focus_data = [];  // remove existing focus score on zoom change
});

$("#FOCUS_CCW").on("click", function() {
    console.log('Focus CCW');
    $('#FOCUS_CCW').prop("disabled", true);
    $('#FOCUS_CW').prop("disabled", true);
    $('#FOCUS_CCW').removeClass("btn-primary");
    $('#FOCUS_CW').removeClass("btn-danger");
    focuserMove('ccw', $('#STEP_DEGREES').val());
});

$("#FOCUS_CW").on("click", function() {
    console.log('Focus CW');
    $('#FOCUS_CCW').prop("disabled", true);
    $('#FOCUS_CW').prop("disabled", true);
    $('#FOCUS_CCW').removeClass("btn-primary");
    $('#FOCUS_CW').removeClass("btn-danger");
    focuserMove('cw', $('#STEP_DEGREES').val());
});


function init() {
    if (focuser_device) {
        $('#focus_controller_div').css({'display' : 'flex'});
    };


    ctx_focus = $('#focus-chart')[0].getContext('2d');
    focus_chart = new Chart(ctx_focus, {
        type: "line",
        data: {
            datasets: [
            {
                label: 'Focus',
                pointRadius: 3,
                backgroundColor: "rgba(192, 75, 75, 1)",
                borderColor: "rgba(128, 75, 75, 1)",
                tension: 0.1,
                data: []
            },
            {
                label: 'Stars',
                yAxisID: 'y2',
                pointRadius: 3,
                backgroundColor: "rgba(75, 75, 192, 1)",
                borderColor: "rgba(75, 75, 128, 1)",
                tension: 0.1,
                data: []
            },

            ],
        },
        options: {
            plugins: {
                legend: {
                    display: true
                },
            },
            animation : false,
            scales: {
                x: {
                    grid: {
                        display: true,
                        drawTicks: false,
                        color: 'rgba(75, 75, 75, 1)',
                    },
                    ticks: {
                        display: false
                    }
                },
                y: {
                    position: 'left',
                    beginAtZero:true,
                    grid: {
                        display: false,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                    title: {
                        display: false,
                        text: "Score",
                        color: 'rgba(192, 75, 75, 1)'
                    }
                },
                y2: {
                    id: 'y2',
                    position: 'right',
                    beginAtZero:true,
                    grid: {
                        display: false,
                        drawTicks: false,
                        color: 'rgba(75, 75, 75, 1)',
                        stacked: true,
                    },
                    title: {
                        display: false,
                        text: "Stars",
                        color: 'rgba(75, 75, 192, 1)'
                    }
                },
            }
        }
    });

    loadNextImage();
    loop();
}


$( document ).ready(function() {
    $('#image-canvas').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>


{% endblock %}
