{% extends 'base.html' %}

{% block title %}indi-allsky: Gallery{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
figure {
  display: inline-block;
  margin: 0;
  float: left;
}
figure img {width: 100%;}
.spacer {height: 5em;}

.loader {
  display: block;
  border: 3px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<script src="{{ url_for('indi_allsky.static', filename='photoswipe/dist/umd/photoswipe.umd.min.js') }}"></script>
<script src="{{ url_for('indi_allsky.static', filename='photoswipe/dist/umd/photoswipe-lightbox.umd.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('indi_allsky.static', filename='photoswipe/dist/photoswipe.css') }}">
<script type="text/javascript">
var camera_id = {{ camera_id }};
var lightbox = null;
</script>

{% endblock %}

{% block content %}
<form id="form_viewer" onSubmit="return false;">
    {{ form_viewer.csrf_token }}
    <div class="text-danger my-2" id="csrf_token-error"></div>

    <div class="form-group row">
        <div class="col-sm-1">
            {{ form_viewer.CAMERA_ID(class='form-control bg-secondary') }}
            {{ form_viewer.YEAR_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_viewer.YEAR_SELECT(class='form-select bg-secondary') }}
            <div id="YEAR_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.MONTH_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_viewer.MONTH_SELECT(class='form-select bg-secondary') }}
            <div id="MONTH_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.DAY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_viewer.DAY_SELECT(class='form-select bg-secondary') }}
            <div id="DAY_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.HOUR_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_viewer.HOUR_SELECT(class='form-select bg-secondary') }}
            <div id="HOUR_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9"></div>

        <div class="col-sm-1">
            {{ form_viewer.FILTER_DETECTIONS.label }}
        </div>

        <div class="col-sm-1">
            <div class="form-switch">
                {{ form_viewer.FILTER_DETECTIONS(class='form-check-input') }}
                <div id="FILTER_DETECTIONS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="loader" id="loader_filter"></div>
        </div>
    </div>

    <div id="success-message" class="text-success" style="display: none;"></div>
    <div id="failure-message" class="invalid-feedback text-danger" style="display: none;"></div>

</form>

<hr>

<div class="row">
    <div class="text-center" style="font-size:10px">
        Use arrow keys, WASD, or VIM keys to cycle images - Hour: Up/Down - Image: Left/Right
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="allsky-gallery" class="pswp-gallery"></div>
    </div>
  </div>
</div>

<div class="spacer"></div>


<script>
const successMessage = $('#success-message');
const failureMessage = $('#failure-message');
const field_names = [
    'csrf_token',
    'CAMERA_ID',
    'YEAR_SELECT',
    'MONTH_SELECT',
    'DAY_SELECT',
    'HOUR_SELECT',
];

const checkbox_field_names = [
    'FILTER_DETECTIONS',
];

var fields = {};
// Populate fields object
field_names.forEach(item => {
    fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

// Checkboxes
checkbox_field_names.forEach(item => {
    fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

fields['form_global'] = {
    'input' : failureMessage,
    'error' : failureMessage,
};


function populate_gallery(gallery_data) {
    if (lightbox) {
        lightbox.destroy();
        lightbox = null;
    }


    $('#allsky-gallery').empty();

    gallery_data.forEach(item => {
        var a_tag = $('<a />', {
            'href'        : item['url'],
            'data-pswp-width'  : item['width'],
            'data-pswp-height' : item['height'],
            'target'      : "_blank",
            'rel'         : "noopener noreferrer",
            'class'       : "text-decoration-none",
        });
        a_tag.appendTo($('#allsky-gallery'));

        var img_tag = $('<img />', {
            'src'       : item['thumbnail_url'],
            'loading'   : 'lazy',
            'alt'       : item['date'],
        });
        img_tag.appendTo(a_tag);

    });


    lightbox = new PhotoSwipeLightbox({
        gallery: '#allsky-gallery',
        children: 'a',
        preloadFirstSlide: false,
        preload: [1, 1],
        preloaderDelay: 0,
        loop: false,
        // dynamic import is not supported in UMD version
        pswpModule: PhotoSwipe
    });

    lightbox.init();
}


function hour_change(json_data) {
    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_gallery_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            gallery_data = [];
            rdata['IMAGE_DATA'].forEach(item => {
                gallery_data.push({
                    'src' : item['url'],
                    'width' : item['width'],
                    'height' : item['height'],
                    'alt' : item['date'],
                });
            });

            populate_gallery(rdata['IMAGE_DATA']);

            $("#loader_filter").css({'display' : 'none'});
            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
}


$("#HOUR_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'MONTH_SELECT'      : fields["MONTH_SELECT"].input.val(),
        'DAY_SELECT'        : fields["DAY_SELECT"].input.val(),
        'HOUR_SELECT'       : fields["HOUR_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    hour_change(json_data);
});


function day_change(json_data) {
    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_gallery_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#HOUR_SELECT").empty()
            rdata['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            gallery_data = [];
            rdata['IMAGE_DATA'].forEach(item => {
                gallery_data.push({
                    'src' : item['url'],
                    'width' : item['width'],
                    'height' : item['height'],
                    'alt' : item['date'],
                });
            });

            populate_gallery(rdata['IMAGE_DATA']);

            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
}


$("#DAY_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'MONTH_SELECT'      : fields["MONTH_SELECT"].input.val(),
        'DAY_SELECT'        : fields["DAY_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    day_change(json_data);
});


function month_change(json_data) {
    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_gallery_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#DAY_SELECT").empty()
            rdata['DAY_SELECT'].forEach(item => {
                $("#DAY_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#HOUR_SELECT").empty()
            rdata['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            gallery_data = [];
            rdata['IMAGE_DATA'].forEach(item => {
                gallery_data.push({
                    'src' : item['url'],
                    'width' : item['width'],
                    'height' : item['height'],
                    'alt' : item['date'],
                });
            });

            populate_gallery(rdata['IMAGE_DATA']);

            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
}


$("#MONTH_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'MONTH_SELECT'      : fields["MONTH_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    month_change(json_data);
});


function year_change(json_data) {
    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_gallery_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#MONTH_SELECT").empty()
            rdata['MONTH_SELECT'].forEach(item => {
                $("#MONTH_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#DAY_SELECT").empty()
            rdata['DAY_SELECT'].forEach(item => {
                $("#DAY_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#HOUR_SELECT").empty()
            rdata['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            populate_gallery(rdata['IMAGE_DATA']);

            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
};


$("#YEAR_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    year_change(json_data);
});


$("#FILTER_DETECTIONS").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'          : fields["CAMERA_ID"].input.val(),
        'FILTER_DETECTIONS'  : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_gallery_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#YEAR_SELECT").empty()
            rdata['YEAR_SELECT'].forEach(item => {
                $("#YEAR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#MONTH_SELECT").empty()
            rdata['MONTH_SELECT'].forEach(item => {
                $("#MONTH_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#DAY_SELECT").empty()
            rdata['DAY_SELECT'].forEach(item => {
                $("#DAY_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#HOUR_SELECT").empty()
            rdata['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            populate_gallery(rdata['IMAGE_DATA']);

            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
});


function init() {
    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    year_change(json_data);
}


function nextHour() {
    var hour_select_val = $("#HOUR_SELECT").val();

    newest_image_default = false;  // load oldest image when changing hours

    $('#HOUR_SELECT option').each(function(index, element) {
        if (index == 0) {
            console.log('At latest hour');
        } else if (element.value == hour_select_val) {
            console.log('Next hour');
            $("#HOUR_SELECT").val($("#HOUR_SELECT")[0].options[index - 1].value).change();
            return false;
        };
    });
}


function previousHour() {
    var hour_select_val = $("#HOUR_SELECT").val();

    newest_image_default = true;  // load newest image when changing hours

    $('#HOUR_SELECT option').each(function(index, element) {
        if (index == $("#HOUR_SELECT")[0].options.length - 1) {
            console.log('At oldest hour');
        } else if (element.value == hour_select_val) {
            console.log('Previous hour');
            $("#HOUR_SELECT").val($("#HOUR_SELECT")[0].options[index + 1].value).change();
            return false;
        };
    });
}


$( document ).ready(function() {
    // Uncheck checkboxes
    $("#FILTER_DETECTIONS").prop('checked', false);

    init();


    $(document).keydown(function(e) {
        var key_press = {
            "up"    : 38,
            "down"  : 40,

            "w"     : 87,  // up
            "s"     : 83,  // down

            "j"     : 74,  // down
            "k"     : 75,  // up
        };

        switch (e.which) {
            // arrow keys
            case key_press.up:
                nextHour();
                break;
            case key_press.down:
                previousHour();
                break;

            // wasd
            case key_press.w:
                nextHour();
                break;
            case key_press.s:
                previousHour();
                break;

            // vim bindings
            case key_press.j:
                previousHour();
                break;
            case key_press.k:
                nextHour();
                break;

            default:
                return;
        }

        e.preventDefault();
    });

});

</script>

{% endblock %}
