{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
</style>
<link href="{{ url_for('indi_allsky.static', filename='DataTables/datatables.min.css') }}" rel="stylesheet">
<script src="{{ url_for('indi_allsky.static', filename='DataTables/datatables.min.js') }}"></script>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>

{% endblock %}

{% block content %}

<hr>

<div><span class="badge rounded-pill bg-info text-dark">Note</span> indi-allsky has to be in a Running state to generate assets</div>

<hr>


<form id="form_timelapsegen" onSubmit="return false;">
    {{ form_timelapsegen.csrf_token }}
    <div class="text-danger my-2" id="csrf_token-error"></div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_timelapsegen.CAMERA_ID(class='form-control bg-secondary') }}
            {{ form_timelapsegen.ACTION_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_timelapsegen.ACTION_SELECT(class='form-control bg-secondary') }}
            <div id="ACTION_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-2">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Timelapses" class="text-decoration-none link-info" target="_blank">Timelapse Wiki</a></div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Mini-Timelapses" class="text-decoration-none link-info" target="_blank">Mini-Timelapse Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_timelapsegen.DAY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_timelapsegen.DAY_SELECT(class='form-control bg-secondary') }}
            <div id="DAY_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
            <div>T = Timelapse exists</div>
            <div>K = Keogram exists</div>
            <div>P = Panorama timelapse exists</div>
            <div>S = Star trail exists</div>
            <div>ST = Star trail timelapse exists</div>
            <div>! = Failed to generate</div>
            <div>#/# = Images/Panorama images</div>
        </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1">
        <button id="generate-button" class="btn btn-success">Generate</button>
      </div>
      <div class="col-sm-1">
        <input class="form-check-input" id="CONFIRM1" name="CONFIRM1" type="checkbox" value="y">
        <label>Confirm</label>
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3">
        <div id="form_timelapsegen_success-message" class="alert alert-success" role="alert" style="display: none;"></div>
        <div id="form_timelapsegen_failure-message" class="alert alert-danger" role="alert" style="display: none;"></div>
      </div>
    </div>
</form>

<hr>

Tasks
<table id="tasks-table" class="table table-striped compact" data-bs-theme="dark">
  <thead>
    <th>ID</th>
    <th>Date</th>
    <th>Queue</th>
    <th>Action</th>
    <th>State</th>
    <th>Result</th>
  </thead>
  <tbody>
    {% for task in task_list %}
    <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.createDate.strftime('%Y-%m-%d %H:%M:%S') }}</td>
      <td>{{ task.queue }}</td>
      <td>{{ task.action }}</td>
      <td>{{ task.state }}</td>
      <td>{{ task.result }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
const form_timelapsegen_successMessage = $('#form_timelapsegen_success-message');
const form_timelapsegen_failureMessage = $('#form_timelapsegen_failure-message');
const form_timelapsegen_field_names = [
    'csrf_token',
    'CAMERA_ID',
    'ACTION_SELECT',
    'DAY_SELECT',
];
const form_timelapsegen_checkbox_field_names = [];

var form_timelapsegen_fields = {};
// Populate fields object
form_timelapsegen_field_names.forEach(item => {
    form_timelapsegen_fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

// Checkboxes
form_timelapsegen_checkbox_field_names.forEach(item => {
    form_timelapsegen_fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

form_timelapsegen_fields['form_global'] = {
    'input' : form_timelapsegen_failureMessage,
    'error' : form_timelapsegen_failureMessage,
};


// ajax setup later


$('#form_timelapsegen').on('submit', function() {
    if (! $("#CONFIRM1").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    };


    $("#CONFIRM1").prop('checked', false);


    if ($("#ACTION_SELECT").val() == 'none') {
        console.log('No action selected');
        return;
    };


    $("#generate-button").attr("class", "btn btn-primary");
    $("#generate-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Generate</span>'
    );


    // hide all errors
    form_timelapsegen_successMessage.css({'display' : 'none'});
    Object.keys(form_timelapsegen_fields).forEach((key) => {
        form_timelapsegen_fields[key].error.css({'display' : 'none'});
    });


    // Populate fields object
    var json_data = {};

    form_timelapsegen_field_names.forEach(item => {
        json_data[item] = form_timelapsegen_fields[item].input.val();
    });

    // checkboxes
    form_timelapsegen_checkbox_field_names.forEach(item => {
        json_data[item] = form_timelapsegen_fields[item].input.prop('checked');
    });


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_generate_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#generate-button").attr("class", "btn btn-success");
            $("#generate-button").html(
              'Generate'
            );

            $("#ACTION_SELECT").val('none');
            form_timelapsegen_successMessage.html(rdata['success-message']);
            form_timelapsegen_successMessage.css({'display' : 'block'});
            setTimeout(function() {
                form_timelapsegen_successMessage.css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#generate-button").attr("class", "btn btn-danger");
            $("#generate-button").html(
              'Generate'
            );

            var errors = JSON.parse(rdata.responseText);
            Object.keys(errors).forEach((key) => {
                form_timelapsegen_fields[key].input.addClass('is-invalid');
                form_timelapsegen_fields[key].error.html(errors[key][0]);
                form_timelapsegen_fields[key].error.css({'display' : 'block'});
            });
        },
    });

});


$( document ).ready(function() {
    // Uncheck checkboxes
    $("#CONFIRM1").prop('checked', false);

    // Reset select
    $("#ACTION_SELECT").val('none');


    new DataTable('#tasks-table', {
        searching: true,
        order: [[1, 'desc']],
        layout: {
            topEnd: ['buttons', 'search'],
        },
        buttons: [
            'copy',
            'csv',
            'excel',
        ]
    });
});

</script>

{% endblock %}
