{% extends 'base.html' %}

{% block title %}indi-allsky: Generate{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.loader {
  display: none;
  border: 3px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>

{% endblock %}

{% block content %}

<hr>

<div><span class="badge rounded-pill bg-info text-dark">Note</span> indi-allsky has to be in a Running state to generate assets</div>

<hr>


<form id="form_timelapsegen" onSubmit="return false;">
    {{ form_timelapsegen.csrf_token }}
    <div class="text-danger my-2" id="csrf_token-error"></div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_timelapsegen.CAMERA_ID(class='form-control bg-secondary') }}
            {{ form_timelapsegen.ACTION_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-3">
            {{ form_timelapsegen.ACTION_SELECT(class='form-control bg-secondary') }}
            <div id="ACTION_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-2">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Timelapses" class="text-decoration-none link-info" target="_blank">Timelapse Wiki</a></div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Mini-Timelapses" class="text-decoration-none link-info" target="_blank">Mini-Timelapse Wiki</a></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_timelapsegen.DAY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-5">
            {{ form_timelapsegen.DAY_SELECT(class='form-control bg-secondary') }}
            <div id="DAY_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-5">
            <div>T = Timelapse exists</div>
            <div>K = Keogram exists</div>
            <div>S = Star trail exists</div>
            <div>ST = Star trail timelapse exists</div>
            <div>P = Panorama timelapse exists</div>
            <div>! = Failed to generate</div>
            <div>#/# = Images/Panorama images</div>
        </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <div id="form_timelapsegen_success-message" class="text-success" style="display: none;"></div>
        <div id="form_timelapsegen_failure-message" class="invalid-feedback text-danger" style="display: none;"></div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1">
        <button class="btn btn-primary">Execute</button>
      </div>
      <div class="col-sm-1">
        <input class="form-check-input" id="CONFIRM1" name="CONFIRM1" type="checkbox" value="y">
        <label>Confirm</label>
      </div>
      <div class="col-sm-1">
        <div class="loader" id="loader_generate"></div>
      </div>
    </div>
</form>

<hr>

Tasks
<div class="row">
    <div class="col-sm-1" style="font-weight: bold;">ID</div>
    <div class="col-sm-2" style="font-weight: bold;">Date</div>
    <div class="col-sm-1" style="font-weight: bold;">Queue</div>
    <div class="col-sm-2" style="font-weight: bold;">Action</div>
    <div class="col-sm-1" style="font-weight: bold;">State</div>
    <div class="col-sm-5" style="font-weight: bold;">Result</div>
</div>

{% for task in task_list %}
<div class="row">
    <div class="col-sm-1">{{ task.id }}</div>
    <div class="col-sm-2">{{ task.createDate.strftime('%Y-%m-%d %H:%M:%S') }}</div>
    <div class="col-sm-1">{{ task.queue }}</div>
    <div class="col-sm-2">{{ task.action }}</div>
    <div class="col-sm-1">{{ task.state }}</div>
    <div class="col-sm-5">{{ task.result }}</div>
</div>
{% endfor %}

<script>
const form_timelapsegen_successMessage = $('#form_timelapsegen_success-message');
const form_timelapsegen_failureMessage = $('#form_timelapsegen_failure-message');
const form_timelapsegen_field_names = [
    'csrf_token',
    'CAMERA_ID',
    'ACTION_SELECT',
    'DAY_SELECT',
];
const form_timelapsegen_checkbox_field_names = [];

var form_timelapsegen_fields = {};
// Populate fields object
form_timelapsegen_field_names.forEach(item => {
    form_timelapsegen_fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

// Checkboxes
form_timelapsegen_checkbox_field_names.forEach(item => {
    form_timelapsegen_fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

form_timelapsegen_fields['form_global'] = {
    'input' : form_timelapsegen_failureMessage,
    'error' : form_timelapsegen_failureMessage,
};


// ajax setup later


$('#form_timelapsegen').on('submit', function() {
    if (! $("#CONFIRM1").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    };


    $("#CONFIRM1").prop('checked', false);


    if ($("#ACTION_SELECT").val() == 'none') {
        console.log('No action selected');
        return;
    };


    // hide all errors
    form_timelapsegen_successMessage.css({'display' : 'none'});
    Object.keys(form_timelapsegen_fields).forEach((key) => {
        form_timelapsegen_fields[key].error.css({'display' : 'none'});
    });


    $("#loader_generate").css({'display' : 'block'});


    // Populate fields object
    var json_data = {};

    form_timelapsegen_field_names.forEach(item => {
        json_data[item] = form_timelapsegen_fields[item].input.val();
    });

    // checkboxes
    form_timelapsegen_checkbox_field_names.forEach(item => {
        json_data[item] = form_timelapsegen_fields[item].input.prop('checked');
    });


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_generate_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#loader_generate").css({'display' : 'none'});

            $("#ACTION_SELECT").val('none');
            form_timelapsegen_successMessage.html(rdata['success-message']);
            form_timelapsegen_successMessage.css({'display' : 'block'});
            setTimeout(function() {
                form_timelapsegen_successMessage.css({'display' : 'none'});
            }, 15000);

        },
        error: function(rdata){
            $("#loader_generate").css({'display' : 'none'});

            var errors = JSON.parse(rdata.responseText);
            Object.keys(errors).forEach((key) => {
                form_timelapsegen_fields[key].input.addClass('is-invalid');
                form_timelapsegen_fields[key].error.html(errors[key][0]);
                form_timelapsegen_fields[key].error.css({'display' : 'block'});
            });
        },
    });

});


$( document ).ready(function() {
    // Uncheck checkboxes
    $("#CONFIRM1").prop('checked', false);

    // Reset select
    $("#ACTION_SELECT").val('none');
});

</script>

{% endblock %}
