{% extends 'base.html' %}

{% block title %}indi-allsky: Image viewer{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<form id="form_viewer" onSubmit="return false;">
    {{ form_viewer.csrf_token }}
    <div class="text-danger my-2" id="csrf_token-error"></div>

    <div class="form-group row">
        <div class="col-sm-1">
            {{ form_viewer.YEAR_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_viewer.YEAR_SELECT(class='form-control bg-secondary') }}
            <div id="YEAR_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.MONTH_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_viewer.MONTH_SELECT(class='form-control bg-secondary') }}
            <div id="MONTH_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.DAY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_viewer.DAY_SELECT(class='form-control bg-secondary') }}
            <div id="DAY_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.HOUR_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_viewer.HOUR_SELECT(class='form-control bg-secondary') }}
            <div id="HOUR_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            <button class="btn btn-primary" id="form_viewer_submit">Submit</button>
        </div>
    </div>

    <div id="success-message" class="text-success" style="display: none;"></div>
    <div id="failure-message" class="invalid-feedback text-danger" style="display: none;"></div>

</form>

<script>
const form_viewer = document.getElementById('form_viewer');
const successMessage = document.getElementById('success-message');
const failureMessage = document.getElementById('failure-message');
const field_names = [
    'csrf_token',
    'YEAR_SELECT',
    'MONTH_SELECT',
    'DAY_SELECT',
    'HOUR_SELECT',
];

const checkbox_field_names = [
];

var fields = {};
// Populate fields object
field_names.forEach(item => {
    fields[item] = {
        'input' : document.getElementById(item),
        'error' : document.getElementById(item + '-error'),
    };
});

// Checkboxes
checkbox_field_names.forEach(item => {
    fields[item] = {
        'input' : document.getElementById(item),
        'error' : document.getElementById(item + '-error'),
    };
});

fields['form_global'] = {
    'input' : failureMessage,
    'error' : failureMessage,
};


$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
    }
});


function formViewerSubmit() {
    // hide all errors
    successMessage.style.display = 'none';
    Object.keys(fields).forEach((key) => {
        fields[key].error.style.display = 'none';
    });


    // Populate fields object
    var json_data = {};
    field_names.forEach(item => {
        json_data[item] = fields[item].input.value;
    });

    // checkboxes
    checkbox_field_names.forEach(item => {
        json_data[item] = fields[item].input.checked;
    });

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(data){
            successMessage.innerHTML = data['success-message'];
            //form_viewer.style.display = 'none';
            successMessage.style.display = 'block';
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 5000);
        },
        error: function(data){
            Object.keys(data).forEach((key) => {
                fields[key].input.classList.add('is-invalid');
                fields[key].error.innerHTML = errors[key][0];
                fields[key].error.style.display = 'block';
            });
        },
    });

    return false;
};


$("#form_viewer").on("submit", function() {
    formViewerSubmit();
    return false;
});


$("#DAY_SELECT").on("change", function() {
    // hide all errors
    successMessage.style.display = 'none';
    Object.keys(fields).forEach((key) => {
        fields[key].error.style.display = 'none';
    });

    var json_data = {
        'YEAR_SELECT'  : fields["YEAR_SELECT"].input.value,
        'MONTH_SELECT' : fields["MONTH_SELECT"].input.value,
        'DAY_SELECT'   : fields["DAY_SELECT"].input.value,
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(data){
            successMessage.innerHTML = data['success-message'];
            //form_viewer.style.display = 'none';
            successMessage.style.display = 'block';
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 5000);


            $("#HOUR_SELECT").empty()
            data['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append('<option value="' + item[0] + '">' + item[1] + '</option>');
            });
        },
        error: function(data){
            Object.keys(data).forEach((key) => {
                fields[key].input.classList.add('is-invalid');
                fields[key].error.innerHTML = errors[key][0];
                fields[key].error.style.display = 'block';
            });
        },
    });

});


$("#MONTH_SELECT").on("change", function() {
    // hide all errors
    successMessage.style.display = 'none';
    Object.keys(fields).forEach((key) => {
        fields[key].error.style.display = 'none';
    });

    var json_data = {
        'YEAR_SELECT'  : fields["YEAR_SELECT"].input.value,
        'MONTH_SELECT' : fields["MONTH_SELECT"].input.value,
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(data){
            successMessage.innerHTML = data['success-message'];
            //form_viewer.style.display = 'none';
            successMessage.style.display = 'block';
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 5000);

            $("#DAY_SELECT").empty()
            data['DAY_SELECT'].forEach(item => {
                $("#DAY_SELECT").append('<option value="' + item[0] + '">' + item[1] + '</option>');
            });

            $("#HOUR_SELECT").empty()
            data['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append('<option value="' + item[0] + '">' + item[1] + '</option>');
            });
        },
        error: function(data){
            Object.keys(data).forEach((key) => {
                fields[key].input.classList.add('is-invalid');
                fields[key].error.innerHTML = errors[key][0];
                fields[key].error.style.display = 'block';
            });
        },
    });

});

$("#YEAR_SELECT").on("change", function() {
    // hide all errors
    successMessage.style.display = 'none';
    Object.keys(fields).forEach((key) => {
        fields[key].error.style.display = 'none';
    });

    var json_data = {
        'YEAR_SELECT'  : fields["YEAR_SELECT"].input.value,
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(data){
            successMessage.innerHTML = data['success-message'];
            //form_viewer.style.display = 'none';
            successMessage.style.display = 'block';
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 5000);

            $("#MONTH_SELECT").empty()
            data['MONTH_SELECT'].forEach(item => {
                $("#MONTH_SELECT").append('<option value="' + item[0] + '">' + item[1] + '</option>');
            });

            $("#DAY_SELECT").empty()
            data['DAY_SELECT'].forEach(item => {
                $("#DAY_SELECT").append('<option value="' + item[0] + '">' + item[1] + '</option>');
            });

            $("#HOUR_SELECT").empty()
            data['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append('<option value="' + item[0] + '">' + item[1] + '</option>');
            });
        },
        error: function(data){
            Object.keys(data).forEach((key) => {
                fields[key].input.classList.add('is-invalid');
                fields[key].error.innerHTML = errors[key][0];
                fields[key].error.style.display = 'block';
            });
        },
    });

});



</script>

{% endblock %}
