{% extends 'base.html' %}

{% block title %}indi-allsky: Image viewer{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.loader {
  display: block;
  border: 3px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

canvas {
    width: 95%;
    height: auto;
};
</style>
<script type="text/javascript">
var img;
var fullscreen = false;  //initial state
var newest_image_default = true;  // load last image by default
var camera_id = {{ camera_id }};
var panorama__enable = {{ panorama__enable }};
var image_data = [];
var image_index = -1;


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    //img.src = fields['IMG_SELECT'].input.val();
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}

</script>


{% endblock %}

{% block content %}
<form id="form_viewer" onSubmit="return false;">
    {{ form_viewer.csrf_token }}
    <div class="text-danger my-2" id="csrf_token-error"></div>

    <div class="form-group row">
        <div class="col-sm-1">
            {{ form_viewer.YEAR_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            <?-- form-control until there is a better layout -->
            {{ form_viewer.YEAR_SELECT(class='form-control bg-secondary') }}
            <div id="YEAR_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>

            {{ form_viewer.CAMERA_ID(class='form-control bg-secondary') }}
            <div id="CAMERA_ID-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.MONTH_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_viewer.MONTH_SELECT(class='form-select bg-secondary') }}
            <div id="MONTH_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.DAY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_viewer.DAY_SELECT(class='form-select bg-secondary') }}
            <div id="DAY_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.HOUR_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            {{ form_viewer.HOUR_SELECT(class='form-select bg-secondary') }}
            <div id="HOUR_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>

        <div class="col-sm-1">
            {{ form_viewer.IMG_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_viewer.IMG_SELECT(class='form-select bg-secondary') }}
            <div id="IMG_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
    </div>

    <div class="form-group row">
        <form id="form_image_exclude" onSubmit="return false;">
        <div class="col-sm-1">
            <div class="form-switch">
                {{ form_image_exclude.EXCLUDE_EXCLUDE(class='form-check-input') }}
                <div id="EXCLUDE_EXCLUDE-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
            <div>
                {{ form_image_exclude.EXCLUDE_IMAGE_ID(class='form-control bg-secondary') }}
                <div id="EXCLUDE_IMAGE_ID-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_image_exclude.EXCLUDE_EXCLUDE.label }}
        </div>

        </form>

        <div class="col-sm-4"></div>

        <div class="col-sm-1">
            {{ form_image_exclude.csrf_token }}
            <div class="text-danger my-2" id="csrf_token-error2"></div>
            {{ form_viewer.FILTER_DETECTIONS.label }}
        </div>

        <div class="col-sm-1">
            <div class="form-switch">
                {{ form_viewer.FILTER_DETECTIONS(class='form-check-input') }}
                <div id="FILTER_DETECTIONS-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="loader" id="loader_filter"></div>
        </div>
    </div>

    <div id="success-message" class="text-success" style="display: none;"></div>
    <div id="failure-message" class="invalid-feedback text-danger" style="display: none;"></div>

</form>

<hr>

<div class="row">
    <div class="text-center" style="font-size:10px">
        Use arrow keys, WASD, or VIM keys to cycle images - Hour: Up/Down - Image: Left/Right
    </div>
</div>

<div class="row">
    <div class="text-center">
        <canvas id="canvas"></canvas>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <span id="loop_here"></span>
        <span id="mini_generate_here"></span>
        <span id="chart_here"></span>
        <span id="img_download"></span>
        <span id="fits_download"></span>
        <span id="fits_processing"></span>
        <span id="raw_download"></span>
        <span id="panorama_download"></span>
        <span id="panorama_loop_here"></span>
    </div>
</div>

<script>
const successMessage = $('#success-message');
const failureMessage = $('#failure-message');
const field_names = [
    'csrf_token',
    'CAMERA_ID',
    'YEAR_SELECT',
    'MONTH_SELECT',
    'DAY_SELECT',
    'HOUR_SELECT',
    'IMG_SELECT',
];

const checkbox_field_names = [
    'FILTER_DETECTIONS',
];

var fields = {};
// Populate fields object
field_names.forEach(item => {
    fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

// Checkboxes
checkbox_field_names.forEach(item => {
    fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

fields['form_global'] = {
    'input' : failureMessage,
    'error' : failureMessage,
};


$("#IMG_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });


    // Populate fields object
    var json_data = {};
    field_names.forEach(item => {
        json_data[item] = fields[item].input.val();
    });

    // checkboxes
    checkbox_field_names.forEach(item => {
        json_data[item] = fields[item].input.prop('checked');
    });

    img.src = fields['IMG_SELECT'].input.val();

    return false;
});


function hour_change(json_data) {
    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            image_data = rdata['IMAGE_DATA']

            $("#IMG_SELECT").empty()
            rdata['IMAGE_DATA'].forEach(item => {
                $("#IMG_SELECT").append($('<option />', {'value' : item['url']}).text(item['date']));
            });

            if (newest_image_default) {
                // newest image is first index
                $("#IMG_SELECT").val($("#IMG_SELECT")[0].options[0].value).change();
            } else {
                // oldst image is last index
                img_options_count = $('#IMG_SELECT option').length
                $("#IMG_SELECT").val($("#IMG_SELECT")[0].options[img_options_count - 1].value).change();
            }

            img.src = fields['IMG_SELECT'].input.val();


            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
}


$("#HOUR_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'MONTH_SELECT'      : fields["MONTH_SELECT"].input.val(),
        'DAY_SELECT'        : fields["DAY_SELECT"].input.val(),
        'HOUR_SELECT'       : fields["HOUR_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    hour_change(json_data);
});


function day_change(json_data) {
    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            image_data = rdata['IMAGE_DATA']

            $("#HOUR_SELECT").empty()
            rdata['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#IMG_SELECT").empty()
            rdata['IMAGE_DATA'].forEach(item => {
                $("#IMG_SELECT").append($('<option />', {'value' : item['url']}).text(item['date']));
            });

            img.src = fields['IMG_SELECT'].input.val();

            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
}


$("#DAY_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'MONTH_SELECT'      : fields["MONTH_SELECT"].input.val(),
        'DAY_SELECT'        : fields["DAY_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    day_change(json_data);
});


function month_change(json_data) {
    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            image_data = rdata['IMAGE_DATA']

            $("#DAY_SELECT").empty()
            rdata['DAY_SELECT'].forEach(item => {
                $("#DAY_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#HOUR_SELECT").empty()
            rdata['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#IMG_SELECT").empty()
            rdata['IMAGE_DATA'].forEach(item => {
                $("#IMG_SELECT").append($('<option />', {'value' : item['url']}).text(item['date']));
            });

            img.src = fields['IMG_SELECT'].input.val();

            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
}


$("#MONTH_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'MONTH_SELECT'      : fields["MONTH_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    month_change(json_data);
});


function year_change(json_data) {
    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            image_data = rdata['IMAGE_DATA']

            $("#MONTH_SELECT").empty()
            rdata['MONTH_SELECT'].forEach(item => {
                $("#MONTH_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#DAY_SELECT").empty()
            rdata['DAY_SELECT'].forEach(item => {
                $("#DAY_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#HOUR_SELECT").empty()
            rdata['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#IMG_SELECT").empty()
            rdata['IMAGE_DATA'].forEach(item => {
                $("#IMG_SELECT").append($('<option />', {'value' : item['url']}).text(item['date']));
            });

            img.src = fields['IMG_SELECT'].input.val();

            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
};


$("#YEAR_SELECT").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    year_change(json_data);
});


$("#FILTER_DETECTIONS").on("change", function() {
    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });

    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'          : fields["CAMERA_ID"].input.val(),
        'FILTER_DETECTIONS'  : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_imageviewer_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            image_data = rdata['IMAGE_DATA']

            $("#YEAR_SELECT").empty()
            rdata['YEAR_SELECT'].forEach(item => {
                $("#YEAR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#MONTH_SELECT").empty()
            rdata['MONTH_SELECT'].forEach(item => {
                $("#MONTH_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#DAY_SELECT").empty()
            rdata['DAY_SELECT'].forEach(item => {
                $("#DAY_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#HOUR_SELECT").empty()
            rdata['HOUR_SELECT'].forEach(item => {
                $("#HOUR_SELECT").append($('<option />', {'value' : item[0]}).text(item[1]));
            });

            $("#IMG_SELECT").empty()
            rdata['IMAGE_DATA'].forEach(item => {
                $("#IMG_SELECT").append($('<option />', {'value' : item['url']}).text(item['date']));
            });

            img.src = fields['IMG_SELECT'].input.val();

            $("#loader_filter").css({'display' : 'none'});
        },
        error: function(rdata){
            Object.keys(rdata).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });
});


function init() {
    var json_data = {
        'CAMERA_ID'         : fields["CAMERA_ID"].input.val(),
        'YEAR_SELECT'       : fields["YEAR_SELECT"].input.val(),
        'FILTER_DETECTIONS' : fields["FILTER_DETECTIONS"].input.prop("checked"),
    };

    year_change(json_data);


    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    img = new Image();
    img.onload = function() {
        canvas.setAttribute("width", window.innerWidth);
        canvas.setAttribute("height", window.innerHeight);

        var hRatio = canvas.width  / this.width;
        var vRatio =  canvas.height / this.height;
        var ratio  = Math.min ( hRatio, vRatio );

        //canvas.width = this.width * ratio;
        //canvas.height = this.height * ratio;

        var centerShift_x = ( canvas.width - this.width * ratio ) / 2;
        var centerShift_y = ( canvas.height - this.height * ratio ) / 2;

        //context.imageSmoothingEnabled = false;
        context.drawImage(this, 0, 0, this.width, this.height,
                                centerShift_x, centerShift_y, this.width * ratio, this.height * ratio);


        $('#IMG_SELECT option').each(function(index, element) {
            if (element.value == $("#IMG_SELECT").val()) {
                image_index = index;
                return false;
            };
        });


        if (image_index > -1) {
            $('#img_download').html(
                $('<a />', {
                    'href'   : "{{ url_for('indi_allsky.timelapse_image_view')}}?id=" + image_data[image_index]['id'],
                    'target' : '_blank',
                    'rel'    : 'noopener noreferrer',
                }).html(
                    $('<span />', {
                        'text'  : 'Image',
                        'class' : "badge pill bg-info text-dark",
                    })
                )
            );


            // Update exclude form
            $('#EXCLUDE_IMAGE_ID').val(image_data[image_index]['id']);

            if (image_data[image_index]['exclude']) {
                $('#EXCLUDE_EXCLUDE').prop('checked', true);
            } else {
                $('#EXCLUDE_EXCLUDE').prop('checked', false);
            }


            // Add Loop here link
            $('#loop_here').html(
                $('<a />', {
                    'href' : "{{ url_for('indi_allsky.image_loop_view') }}?timestamp=" + image_data[image_index]['ts'],
                    'target' : '_blank',
                    'rel'    : 'noopener noreferrer',
                }).html(
                    $('<span />', {
                        'text'  : 'Loop',
                        'class' : "badge pill bg-primary",
                    })
                )
            );


            // Add Mini Timelapse generator
            $('#mini_generate_here').html(
                $('<a />', {
                    'href' : "{{ url_for('indi_allsky.mini_generate_view') }}?image_id=" + image_data[image_index]['id'],
                    'target' : '_blank',
                    'rel'    : 'noopener noreferrer',
                }).html(
                    $('<span />', {
                        'text'  : 'Mini Timelapse',
                        'class' : "badge pill bg-success",
                    })
                )
            );


            $('#chart_here').html(
                $('<a />', {
                    'href' : "{{ url_for('indi_allsky.chart_view') }}?timestamp=" + image_data[image_index]['ts'],
                    'target' : '_blank',
                    'rel'    : 'noopener noreferrer',
                }).html(
                    $('<span />', {
                        'text'  : 'Chart',
                        'class' : "badge pill bg-secondary",
                    })
                )
            );


            // Add FITS download link if it exists
            if (image_data[image_index]['fits']) {
                $('#fits_download').html(
                    $('<a />', {
                        'href'   : image_data[image_index]['fits'],
                        'rel'    : 'noopener noreferrer',
                        'class'  : "text-decoration-none link-warning",
                        'download' : '',
                    }).html(
                        $('<span />', {
                            'text'  : 'FITS',
                            'class' : "badge pill bg-danger",
                        })
                    )
                );

                $('#fits_processing').html(
                    $('<a />', {
                        'href'   : "{{ url_for('indi_allsky.image_processing_view') }}?type=light&id=" + image_data[image_index]['fits_id'],
                        'target' : '_blank',
                        'rel'    : 'noopener noreferrer',
                        'class'  : "text-decoration-none link-warning",
                    }).html(
                        $('<span />', {
                            'text'  : 'FITS Processing',
                            'class' : "badge pill bg-success",
                        })
                    )
                );
            } else {
                $('#fits_download').empty();
                $('#fits_processing').empty();
            };

            // Add RAW download link if it exists
            if (image_data[image_index]['raw']) {
                $('#raw_download').html(
                    $('<a />', {
                        'href'   : "{{ url_for('indi_allsky.raw_image_view')}}?id=" + image_data[image_index]['raw_id'],
                        'target' : '_blank',
                        'rel'    : 'noopener noreferrer',
                        'class'  : "text-decoration-none link-warning",
                    }).html(
                        $('<span />', {
                            'text'  : 'RAW',
                            'class' : "badge pill bg-warning text-dark",
                        })
                    )
                );
            } else {
                $('#raw_download').empty();
            };

            // Add panorama download link if it exists
            if (image_data[image_index]['panorama']) {
                $('#panorama_download').html(
                    $('<a />', {
                        'href'   : "{{ url_for('indi_allsky.panorama_image_view')}}?id=" + image_data[image_index]['panorama_id'],
                        'target' : '_blank',
                        'rel'    : 'noopener noreferrer',
                        'class'  : "text-decoration-none link-warning",
                    }).html(
                        $('<span />', {
                            'text'  : 'Panorama',
                            'class' : "badge pill bg-success",
                        })
                    )
                );
            } else {
                $('#panorama_download').empty();
            };

            // Panorama Loop
            if (panorama__enable) {
                $('#panorama_loop_here').html(
                    $('<a />', {
                        'href' : "{{ url_for('indi_allsky.panorama_loop_view') }}?timestamp=" + image_data[image_index]['ts'],
                        'target' : '_blank',
                        'rel'    : 'noopener noreferrer',
                    }).html(
                        $('<span />', {
                            'text'  : 'Panorama Loop',
                            'class' : "badge pill bg-primary",
                        })
                    )
                );
            };

        } else {
            // this should never happen, but just in case
            $('#fits_download').empty();
            $('#fits_processing').empty();
            $('#raw_download').empty();
            $('#panorama_download').empty();
        };

    };


    img.src = $("#IMG_SELECT").val();

}


$("#EXCLUDE_EXCLUDE").on("change", function() {
    $("#loader_filter").css({'display' : 'block'});

    var json_data = {
        'CAMERA_ID'        : fields["CAMERA_ID"].input.val(),
        'EXCLUDE_IMAGE_ID' : $('#EXCLUDE_IMAGE_ID').val(),
        'EXCLUDE_EXCLUDE'  : $('#EXCLUDE_EXCLUDE').prop('checked'),
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_image_exclude_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#loader_filter").css({'display' : 'none'});
            image_data[image_index]['exclude'] = rdata['exclude'];  // update image exclude value
        },
        error: function(rdata){
            $("#loader_filter").css({'display' : 'none'});
        },
    });
});


function nextImage() {
    var img_select_val = $("#IMG_SELECT").val();

    newest_image_default = false;  // load oldest image when changing hours

    $('#IMG_SELECT option').each(function(index, element) {
        if (index == 0) {
            console.log('At newest image');
        } else if (element.value == img_select_val) {
            console.log('Next image');
            $("#IMG_SELECT").val($("#IMG_SELECT")[0].options[index - 1].value).change();
            return false;
        };
    });
}


function previousImage() {
    var img_select_val = $("#IMG_SELECT").val();

    newest_image_default = true;  // load newest image when changing hours

    $('#IMG_SELECT option').each(function(index, element) {
        if (index == $("#IMG_SELECT")[0].options.length - 1) {
            console.log('At oldest image');
        } else if (element.value == img_select_val) {
            console.log('Previous image');
            $("#IMG_SELECT").val($("#IMG_SELECT")[0].options[index + 1].value).change();
            return false;
        };
    });
}


function nextHour() {
    var hour_select_val = $("#HOUR_SELECT").val();

    newest_image_default = false;  // load oldest image when changing hours

    $('#HOUR_SELECT option').each(function(index, element) {
        if (index == 0) {
            console.log('At latest hour');
        } else if (element.value == hour_select_val) {
            console.log('Next hour');
            $("#HOUR_SELECT").val($("#HOUR_SELECT")[0].options[index - 1].value).change();
            return false;
        };
    });
}


function previousHour() {
    var hour_select_val = $("#HOUR_SELECT").val();

    newest_image_default = true;  // load newest image when changing hours

    $('#HOUR_SELECT option').each(function(index, element) {
        if (index == $("#HOUR_SELECT")[0].options.length - 1) {
            console.log('At oldest hour');
        } else if (element.value == hour_select_val) {
            console.log('Previous hour');
            $("#HOUR_SELECT").val($("#HOUR_SELECT")[0].options[index + 1].value).change();
            return false;
        };
    });
}


function firstImage() {
    console.log('First image');
    $("#IMG_SELECT").val($("#IMG_SELECT")[0].options[0].value).change();
    return false;
}


function lastImage() {
    console.log('Last image');
    var last_index = $("#IMG_SELECT")[0].options.length - 1;
    $("#IMG_SELECT").val($("#IMG_SELECT")[0].options[last_index].value).change();
    return false;
}


$( document ).ready(function() {
    $('#canvas').on("click", function() {
        goFullscreen(this);
    });

    // Uncheck checkboxes
    $("#FILTER_DETECTIONS").prop('checked', false);

    {% if current_user.is_authenticated or login_disabled %}
        $('#EXCLUDE_EXCLUDE').removeAttr('disabled');
    {% endif %}

    init();


    $(document).keydown(function(e) {
        var key_press = {
            "left"  : 37,
            "up"    : 38,
            "right" : 39,
            "down"  : 40,

            "w"     : 87,  // up
            "a"     : 65,  // left
            "s"     : 83,  // down
            "d"     : 68,  // right

            "h"     : 72,  // right
            "j"     : 74,  // down
            "k"     : 75,  // up
            "l"     : 76,  // left
            "g"     : 71,  // end
            "zero"  : 48,  // start

        };

        switch (e.which) {
            // arrow keys
            case key_press.left:
                previousImage();
                break;
            case key_press.right:
                nextImage();
                break;
            case key_press.up:
                nextHour();
                break;
            case key_press.down:
                previousHour();
                break;

            // wasd
            case key_press.w:
                nextHour();
                break;
            case key_press.a:
                previousImage();
                break;
            case key_press.s:
                previousHour();
                break;
            case key_press.d:
                nextImage();
                break;

            // vim bindings
            case key_press.h:
                previousImage();
                break;
            case key_press.l:
                nextImage();
                break;
            case key_press.j:
                previousHour();
                break;
            case key_press.k:
                nextHour();
                break;
            case key_press.g:
                lastImage();
                break;
            case key_press.zero:
                firstImage();
                break;

            default:
                return;
        }

        e.preventDefault();
    });

});

</script>

{% endblock %}
