{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
canvas {
    width: 100%;
    height: auto;
}
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/settings_latest.js') }}"></script>
<script type="text/javascript">
var json_data = {
    'latest_image' : {
        'url' : null,
        'message' : ''
    }
};
var max_age = 900;
var camera_id = {{ camera_id }};
var refreshInterval = {{ refreshInterval | int }};
var night = {{ night }};
var fullscreen = false;  //initial state

function init() {
    loadNextImage();
    loop();
}

async function loop() {
    //console.log('Starting loop');

    while(json_data['latest_image']['url'] == null) {
        await sleep(100);
    }

    showImage(json_data['latest_image']);

    setTimeout(loop, refreshInterval);
}


function showImage(entry) {
    console.log('Showing image ' + entry["url"]);

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    var img = new Image();
    img.src = entry["url"];
    img.onload = function() {
        canvas.setAttribute("width", window.innerWidth);
        canvas.setAttribute("height", window.innerHeight);

        var hRatio = canvas.width  / this.width;
        var vRatio = canvas.height / this.height;
        var ratio  = Math.min ( hRatio, vRatio );

        //canvas.width = this.width * ratio;
        //canvas.height = this.height * ratio;

        var centerShift_x = ( canvas.width - this.width * ratio ) / 2;
        var centerShift_y = ( canvas.height - this.height * ratio ) / 2;

        //context.imageSmoothingEnabled = false;
        context.drawImage(this, 0, 0, this.width, this.height,
            centerShift_x, centerShift_y, this.width * ratio, this.height * ratio);

    };
}


function loadNextImage() {
    console.log('Loading next image');
    loadJS("{{ url_for(latest_image_view) }}", {'camera_id' : camera_id, 'limit_s' : max_age, 'night' : night}, function() {});
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            json_data = rdata
            $('#message').html(json_data['latest_image']['message']);
        },
        error: function(rdata){
            onError(rdata.status);
            $('#message').html('Error loading data.  Please check the logs.');
        },
    });

}


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    if (json_data['latest_image']) {
        showImage(json_data['latest_image']);
    };
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



$( document ).ready(function() {
    $('#canvas').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="text-muted text-center" id="message">Loading...</div>
</div>
<div class="row">
    <div class="text-center">
        <canvas id="canvas"></canvas>
    </div>
</div>
{% endblock %}
