{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('indi_allsky.static', filename='css/allsky_player.css', v='1') }}">
<style>
.fit {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
</style>
<script type="text/javascript">
var img;
var json_data = {
    'latest_image' : {
        'url' : null,
        'width': 0,
        'height': 0,
        'message' : ''
    }
};
var max_age = 900;
var camera_id = {{ camera_id }};
var refreshInterval = {{ refreshInterval | int }};
var night = {{ night }};
var fullscreen = false;  //initial state
var player = null;  // AllskyPlayer instance

function init() {
    loadNextImage();
    loop();
}

async function loop() {
    //console.log('Starting loop');
    while(json_data['latest_image']['url'] == null) {
        await sleep(100);
    }


    img = new Image();
    img.onload = function() {
        // Only update the static image if player is not in live mode
        if (!liveLoopActive) {
            $('#latest-image').attr({
                'src': this.src,
            });
        }
    };


    showImage(json_data['latest_image']);

    setTimeout(loop, refreshInterval);
}


function showImage(entry) {
    if (!liveLoopActive) {
        console.log('Showing image ' + entry["url"]);
        img.src = entry["url"];
    }
}


function loadNextImage() {
    if (!liveLoopActive) {
        console.log('Loading next image');
        loadJS("{{ url_for(latest_image_view) }}", {'camera_id' : camera_id, 'limit_s' : max_age, 'night' : night}, function() {});
    }
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            json_data = rdata
            $('#message').html(json_data['latest_image']['message']);
        },
        error: function(rdata){
            onError(rdata.status);
            $('#message').html('Error loading data.  Please check the logs.');
        },
    });

}


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    if (json_data['latest_image']) {
        showImage(json_data['latest_image']);
    };
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



$( document ).ready(function() {
    // Initialize AllskyPlayer on the player container
    var playerContainer = document.getElementById('allsky-player-container');
    if (playerContainer) {
        player = new AllskyPlayer({
            container: playerContainer,
            wsUrl: '/indi-allsky/api/stream/ws',
            feedUrl: '/indi-allsky/api/stream/feed.mjpeg',
            metadataUrl: '/indi-allsky/api/stream/metadata',
            preferWs: true,
            onstatuschange: function(online) {
                if (!online && liveLoopActive) {
                    $('#live-status').text('Stream disconnected');
                }
            },
            onmetadata: function(meta) {
                if (typeof syncControlsFromMetadata === "function") {
                    syncControlsFromMetadata(meta);
                }
            },
        });
        // Auto-connect the live stream on page load
        player.connect();
        liveLoopActive = true;
    }

    // Click on static image for fullscreen (when not in live mode)
    $('#latest-image').on("click", function() {
        if (!liveLoopActive) {
            goFullscreen(this);
        }
    });

    init();
});

</script>
<script src="{{ url_for('indi_allsky.static', filename='js/allsky_player.js', v='1') }}"></script>
<script src="{{ url_for('indi_allsky.static', filename='js/capture_buttons.js', v='8') }}"></script>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row">
        <div class="text-muted text-center" id="message">Loading...</div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-center">
            <button id="btn-capture-one" class="btn btn-outline-info btn-sm me-2" onclick="captureOne()">Capture One</button>
            <button id="btn-live-loop" class="btn btn-outline-success btn-sm me-2" onclick="toggleLiveLoop()">Live View</button>
            <button class="btn btn-outline-secondary btn-sm me-2" data-bs-toggle="collapse" data-bs-target="#slider-panel-wrap">Camera Settings</button>
            <span id="live-status" class="text-muted small"></span>
        </div>
    </div>
    <div class="collapse" id="slider-panel-wrap">
        <div class="card card-body bg-dark border-success p-2 mb-2">
            <div id="slider-panel"></div>
        </div>
    </div>
    <div class="row h-75 align-items-center">
        <div class="col-12 text-center">
            <!-- AllskyPlayer container (live stream) -->
            <div id="allsky-player-container"></div>
            <!-- Static latest image (hidden when live stream is active) -->
            <img id="latest-image" class="fit" style="display:none">
        </div>
    </div>
</div>
{% endblock %}
