{% extends 'base.html' %}

{% block title %}indi-allsky: Image Lag{% endblock %}

{% block head %}
<style>
pre {
    white-space: pre-wrap;
}
</style>
<link href="{{ url_for('indi_allsky.static', filename='DataTables/datatables.min.css') }}" rel="stylesheet">
<script src="{{ url_for('indi_allsky.static', filename='DataTables/datatables.min.js') }}"></script>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>

{% endblock %}

{% block content %}
<div class="container">

<div class="row" style="display:block;">
  <div class="col-sm-12">
    <table id="lag-table" class="table table-striped compact">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Exposure</th>
          <th>Elapsed</th>
          <th>Delta</th>
          <th>Period</th>
          <th>Processing</th>
        </tr>
      </thead>
      <tbody>
        {% for row in image_lag_q %}
        <tr>
          <td>{{ row.id }}</td>
          <td>{{ row.createDate.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>{{ "%0.7f"|format(row.exposure) }}</td>
          <td>{{ "%0.2f"|format(row.exp_elapsed | float) }}</td>
          <td>{{ "%+0.3f"|format(row.delta | float) }}</td>
          <td>{{ row.lag_diff }}</td>
          <td>{{ "%0.2f"|format(row.process_elapsed | float) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
function init() {
    new DataTable('#lag-table', {
        searching: true,
        lengthMenu: [20, 50, 100, -1],
        layout: {
            topEnd: ['buttons', 'search'],
        },
        buttons: [
            'copy',
            'csv',
            'excel',
        ]
    });
}


$( document ).ready(function() {
    init();
});

</script>

{% endblock %}
