{% extends 'base.html' %}

{% block title %}indi-allsky: Image Lag{% endblock %}

{% block head %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
{% endblock %}

{% block content %}
<table>
<tr>
    <th>ID</th>
    <th>Date</th>
    <th>Exposure</th>
    <th>Delta</th>
</tr>
{% for image in image_lag_list %}
<tr>
    <td>{{ image.id }}</td>
    <td>{{ image.createDate.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    <td>{{ image.exposure }}</td>
    <td>{{ image.lag_diff }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
