{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
</style>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>
{% endblock %}

{% block content %}

{% if docker %}
<hr>
<div><span class="badge rounded-pill bg-warning text-dark">Warning</span> Containerized environment detected. Direct log access is not available.</div>
<hr>
{% endif %}


<div class="row">
    <div class="col-sm-12 text-center">
      <span id="drive-loader" class="spinner-border" aria-hidden="false"></span><span> Streaming Capture Log...</span>
      <pre>
        <textarea id="log_data" rows="35" style="width:95%;background-color:#888888;"></textarea>
      </pre>
    </div>

    <div class="col-12 text-center">
        <a href="{{ url_for('indi_allsky.log_download_view') }}"><span class="badge pill bg-success">Capture Log<br>Download</span></a>
        <a href="{{ url_for('indi_allsky.log_webapp_download_view') }}"><span class="badge pill bg-secondary">Webapp Log<br>Download</span></a>
        <a href="{{ url_for('indi_allsky.log_syslog_download_view') }}"><span class="badge pill bg-primary">OS System Log<br>Download</span></a>
        <a href="{{ url_for('indi_allsky.log_kern_download_view') }}"><span class="badge pill bg-warning text-dark">Kernel Log<br>Download</span></a>
    </div>
</div>

<script>
function init() {
    const eventSource = new EventSource("{{ url_for('indi_allsky.stream_log_view') }}");
    const logDiv = document.getElementById("log_data");

    logDiv.append("\n");  // Messages on new line

    // Listen for message events
    eventSource.onmessage = function(event) {
        logDiv.append(event.data + "\n");
        //logDiv.scrollTop = logDiv.scrollHeight; // Auto-scroll
        logDiv.scrollTo({
          top: logDiv.scrollHeight,
          behavior: 'smooth'
        });
    };

    // Handle connection errors
    eventSource.onerror = function(error) {
        console.error("EventSource failed:", error);
        logDiv.append("Connection lost. Reconnecting...\n");
        //logDiv.scrollTop = logDiv.scrollHeight; // Auto-scroll
        logDiv.scrollTo({
          top: logDiv.scrollHeight,
          behavior: 'smooth'
        });
    };
}


$( document ).ready(function() {
    init();
});
</script>


{% endblock %}
