<!doctype html>
<html>
  <head>
<title>Login</title>
<link rel="icon" type="image/png" href="{{ url_for('indi_allsky.static', filename='images/favicon_32.png') }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ url_for('indi_allsky.static', filename='images/favicon_128.png') }}" sizes="128x128">
<link href="{{ url_for('indi_allsky.static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('indi_allsky.static', filename='css/style.css') }}" rel="stylesheet">
<script src="{{ url_for('indi_allsky.static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('indi_allsky.static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
<style>
html, body {
    height: 100%;
};
</style>
  </head>
  <body class="bg-dark bg-opacity-75">

<div class="row h-100 justify-content-center">
  <div class="col-4 align-self-center">
  <div class="card card-block bg-dark bg-opacity-25">
    <div class="text-center text-white pt-2 fs-5">
        <img src="{{ url_for('indi_allsky.static', filename='images/logo_outline_full.png') }}" height="200" alt="indi-allsky">
    </div>

    <form id="form_login" onSubmit="return false;">
        {{ form_login.csrf_token }}
        <div class="text-danger my-2" id="csrf_token-error"></div>

        <div class="form-group row">
            <div class="col-2 offset-1">
                {{ form_login.USERNAME.label(class='col-form-label') }}
            </div>
            <div class="col-8">
                {{ form_login.NEXT(class='form-control bg-secondary') }}
                {{ form_login.USERNAME(class='form-control bg-secondary') }}
                <div id="USERNAME-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 offset-1">
                {{ form_login.PASSWORD.label(class='col-form-label') }}
            </div>
            <div class="col-sm-8">
                {{ form_login.PASSWORD(class='form-control bg-secondary') }}
                <div id="PASSWORD-error" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="text-center">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div class="form-group">
            <div class="text-center">
                <div id="success-message" class="text-success" style="display: none;"></div>
                <div id="failure-message" class="invalid-feedback text-danger" style="display: none;"></div>
            </div>
        </div>
    </form>
  </div>
  </div>
</div>

<script>
const successMessage = $('#success-message');
const failureMessage = $('#failure-message');
const field_names = [
    'csrf_token',
    'USERNAME',
    'PASSWORD',
    'NEXT',
];
const checkbox_field_names = [];

var fields = {};
// Populate fields object
field_names.forEach(item => {
    fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

// Checkboxes
checkbox_field_names.forEach(item => {
    fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

fields['form_global'] = {
    'input' : failureMessage,
    'error' : failureMessage,
};


$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
    }
});


$('#form_login').on('submit', function() {

    // hide all errors
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });


    // Populate fields object
    var json_data = {};
    field_names.forEach(item => {
        json_data[item] = fields[item].input.val();
    });

    // checkboxes
    checkbox_field_names.forEach(item => {
        json_data[item] = fields[item].input.prop('checked');
    });


    $.ajax({
        type: "POST",
        url: "{{ url_for('auth_indi_allsky.login_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(data){
            if (data.redirect) {
                window.location.replace(data.redirect);
            }
        },
        error: function(data){
            var errors = JSON.parse(data.responseText);
            Object.keys(errors).forEach((key) => {
                fields[key].input.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });
        },
    });

});

</script>

  </body>
</html>
