{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.fit {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

#longterm_keogram_form_div {
    display: none;
}
</style>
<script type="text/javascript">
var img;
var json_data = {
    'image_b64'  : null,
    'processing_time' : 0,
    'message'    : '',
};
var camera_id = {{ camera_id }};
var keogram_age = "{{ keogram_age }}";
var keogram_uri = "{{ keogram_uri }}";
var fullscreen = false;  //initial state
var page_settings;  // set later

{% if current_user.is_authenticated or login_disabled %}
var is_authenticated = true;
{% else %}
var is_authenticated = false;
{% endif %}

function showImage(image_b64, image_uri) {
    if (image_b64 == null && image_uri == "") {
        return;
    }


    img = new Image();
    img.onload = function() {
        $('#keogram-image').attr({
            'src': this.src,
        });
    };


    // Prefer base64 data to static URI
    if (image_b64) {
        img.src = "data:image/jpeg;base64," + image_b64;
    } else {
        img.src = image_uri + "?t=" + new Date().getTime();

        $("#img_download").html(
            $('<a />', {
                'href'     : image_uri + "?t=" + new Date().getTime(),
                'download' : "keogram_longterm_" + Math.floor(Date.now() / 1000) + ".jpg",
            }).html(
                $('<span />', {
                    'text'  : 'Download',
                    'class' : "badge pill bg-info text-dark",
                })
            )
        );

        $('#processing_time').text(keogram_age);
    }
}


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}

</script>
{% endblock %}

{% block content %}
<div class="container h-100">

<div id="longterm_keogram_form_div">
    <form id="form_longterm_keogram" onSubmit="return false; "autocomplete="off">
        <div class="form-group row" style="font-size:12px">
            {{ form_longterm_keogram.CAMERA_ID() }}

            <div class="col-sm-2">
                {{ form_longterm_keogram.END_SELECT.label(class='col-form-label') }}
            </div>
            <div class="col-sm-2">
                {{ form_longterm_keogram.DAYS_SELECT.label(class='col-form-label') }}
            </div>
            <div class="col-sm-1">
                {{ form_longterm_keogram.PIXELS_SELECT.label(class='col-form-label') }}
            </div>
            <div class="col-sm-2">
                {{ form_longterm_keogram.ALIGNMENT_SELECT.label(class='col-form-label') }}
            </div>
            <div class="col-sm-1">
                {{ form_longterm_keogram.OFFSET_SELECT.label(class='col-form-label') }}
            </div>
            <div class="col-sm-1">
                {{ form_longterm_keogram.REVERSE.label(class='col-form-label') }}
                <div class="form-switch">
                    {{ form_longterm_keogram.REVERSE(class='form-check-input') }}
                </div>
            </div>
            <div class="col-sm-2">
                <div><a href="https://github.com/aaronwmorris/indi-allsky/wiki/Long-Term-Keogram" class="text-decoration-none link-info" target="_blank">Long Term Keogram Wiki</a></div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                {{ form_longterm_keogram.END_SELECT(class='form-select bg-secondary') }}
            </div>
            <div class="col-sm-2">
                {{ form_longterm_keogram.DAYS_SELECT(class='form-select bg-secondary') }}
            </div>
            <div class="col-sm-1">
                {{ form_longterm_keogram.PIXELS_SELECT(class='form-select bg-secondary') }}
            </div>
            <div class="col-sm-2">
                {{ form_longterm_keogram.ALIGNMENT_SELECT(class='form-select bg-secondary') }}
            </div>
            <div class="col-sm-1">
                {{ form_longterm_keogram.OFFSET_SELECT(class='form-select bg-secondary') }}
            </div>
            <div class="col-sm-1" style="font-size:12px">
                {{ form_longterm_keogram.LABEL.label(class='col-form-label') }}
                <div class="form-switch">
                    {{ form_longterm_keogram.LABEL(class='form-check-input') }}
                </div>
            </div>
            <div class="col-sm-1">
                <button id="generate-button" class="btn btn-success">Generate</button>
            </div>
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="text-success text-center" id="success_message" style="display: none;"></div>
        <div class="text-danger text-center" id="failure_message" style="display: none;"></div>
        <div class="text-muted text-center" id="message"></div>
    </div>
</div>

<div class="row h-75 align-items-center">
    <div class="col-12 text-center">
        <img id="keogram-image" class="fit">

        <div style="margin-top: 20px;">
            <span id="processing_time"></span>
            <span id="img_download"></span>
        </div>
    </div>
</div>

</div>


<script>
function init() {
    if (is_authenticated) {
        // Only show form if logged in
        $('#longterm_keogram_form_div').css({'display' : 'block'});
    }

    showImage(json_data['image_b64'], keogram_uri);
}


$( document ).ready(function() {
    if(localStorage) {
        ltk_settings = localStorage.getItem("longterm_keogram_settings");
        if(ltk_settings) {
            page_settings = JSON.parse(ltk_settings);
        } else {
            console.log('Recording new settings');
            page_settings = new Object();
            page_settings["end"] = $("#END_SELECT").val();
            page_settings["days"] = $("#DAYS_SELECT").val();
            page_settings["pixels_per_day"] = $("#PIXELS_SELECT").val();
            page_settings["alignment_seconds"] = $("#ALIGNMENT_SELECT").val();
            page_settings["offset_seconds"] = $("#OFFSET_SELECT").val();
            page_settings["reverse"] = $("#REVERSE").prop('checked');
            page_settings["label"] = $("#LABEL").prop('checked');

            localStorage.setItem("longterm_keogram_settings", JSON.stringify(page_settings));
        }
    }

    if(typeof page_settings["end"] !== "undefined") {
        $("#END_SELECT").val(page_settings["end"]);
    }

    if(typeof page_settings["days"] !== "undefined") {
        $("#DAYS_SELECT").val(page_settings["days"]);
    }

    if(typeof page_settings["pixels_per_day"] !== "undefined") {
        $("#PIXELS_SELECT").val(page_settings["pixels_per_day"]);
    }

    if(typeof page_settings["alignment_seconds"] !== "undefined") {
        $("#ALIGNMENT_SELECT").val(page_settings["alignment_seconds"]);
    }

    if(typeof page_settings["offset_seconds"] !== "undefined") {
        $("#OFFSET_SELECT").val(page_settings["offset_seconds"]);
    }

    if(typeof page_settings["reverse"] !== "undefined") {
        if (page_settings["reverse"]) {
            $("#REVERSE").prop('checked', true);
        }
    }

    if(typeof page_settings["label"] !== "undefined") {
        if (page_settings["label"]) {
            $("#LABEL").prop('checked', true);
        }
    }


    $('#keogram-image').on("click", function() {
        goFullscreen(this);
    });

    init();
});


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    showImage(json_data['image_b64'], keogram_uri);
}
setResizeHandler(resize_callback, 200);


$('#form_longterm_keogram').on('submit', function() {
    var form_data = {
        'CAMERA_ID' : $('#CAMERA_ID').val(),
        'END_SELECT' : $('#END_SELECT').val(),
        'DAYS_SELECT' : $('#DAYS_SELECT').val(),
        'PIXELS_SELECT' : $('#PIXELS_SELECT').val(),
        'ALIGNMENT_SELECT' : $('#ALIGNMENT_SELECT').val(),
        'OFFSET_SELECT' : $('#OFFSET_SELECT').val(),
        'REVERSE' : $('#REVERSE').prop('checked'),
        'LABEL' : $('#LABEL').prop('checked'),
    }


    if(localStorage) {
        page_settings["end"] = form_data['END_SELECT'];
        page_settings["days"] = form_data['DAYS_SELECT'];
        page_settings["pixels_per_day"] = form_data['PIXELS_SELECT'];
        page_settings["alignment_seconds"] = form_data['ALIGNMENT_SELECT'];
        page_settings["offset_seconds"] = form_data['OFFSET_SELECT'];
        page_settings["reverse"] = form_data['REVERSE'];
        page_settings["label"] = form_data['LABEL'];
        localStorage.setItem("longterm_keogram_settings", JSON.stringify(page_settings));
    }


    $("#generate-button").attr("class", "btn btn-primary");
    $("#generate-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Loading</span>'
    );

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.js_longterm_keogram_view') }}",
        contentType: "application/json",
        data: JSON.stringify(form_data),
        success: function(rdata){
            json_data = rdata;

            $("#generate-button").attr("class", "btn btn-success");
            $("#generate-button").html(
              'Generate'
            );

            showImage(json_data['image_b64'], keogram_uri);


            $("#img_download").html(
                $('<a />', {
                    'href'     : "data:image/jpeg;base64," + json_data['image_b64'],
                    'download' : "keogram_longterm_" + Math.floor(Date.now() / 1000) + ".jpg",
                }).html(
                    $('<span />', {
                        'text'  : 'Download',
                        'class' : "badge pill bg-info text-dark",
                    })
                )
            );

            $('#processing_time').text('Processed in ' + json_data['processing_time'] + 's');

            $('#success_message').html(json_data['success-message']);
            $('#success_message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success_message').css({'display' : 'none'});
            }, 15000);

            // Also show errors
            $('#failure_message').html(json_data['failure-message']);
            $('#failure_message').css({'display' : 'block'});

            setTimeout(function() {
                $('#failure_message').css({'display' : 'none'});
            }, 30000);
        },
        error: function(rdata){
            $("#generate-button").attr("class", "btn btn-success");
            $("#generate-button").html(
              'Generate'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure_message').html(errors['failure-message']);
            $('#failure_message').css({'display' : 'block'});

            setTimeout(function() {
                $('#failure_message').css({'display' : 'none'});
            }, 15000);
        },
    });

});

</script>

{% endblock %}
