{% extends 'base.html' %}

{% block title %}indi-allsky: Loop{% endblock %}

{% block head %}
<meta charset="UTF-8"/>
<style>
canvas {
    width: 100%;
    height: auto;
};
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/settings_loop.js') }}"></script>
<script type="text/javascript">
var history_seconds;  // set later
var frame_delay_ms;  // set later
var page_settings;  // set later
var rock;  // set later
var json_data = {
    'image_list' : [],
};
var fullscreen = false;  //initial state

function init() {
    loadNextImage();
    loop();
}

async function loop() {
    console.log('Starting loop');

    while(json_data['image_list'].length == 0) {
        await sleep(100);
    }

    // prevent concurrent updates to list
    var image_list_copy = JSON.parse(JSON.stringify(json_data['image_list']));

    if (rock) {
        for (var i = 0; i < image_list_copy.length; i++) {
            showImage(image_list_copy[i], i);
            await sleep(frame_delay_ms);
        };
    };

    for (var i = image_list_copy.length - 1; i >= 0; i--) {
        showImage(image_list_copy[i], i);
        await sleep(frame_delay_ms);
    };

    setTimeout(loop, 3000);
}


function showImage(entry, idx) {
    console.log('Showing image ' + entry["file"]);

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    var img = new Image();
    img.src = entry["file"];
    img.onload = function() {
        canvas.setAttribute("width", window.innerWidth);
        canvas.setAttribute("height", window.innerHeight);

        var hRatio = canvas.width  / this.width;
        var vRatio = canvas.height / this.height;
        var ratio  = Math.min ( hRatio, vRatio );
        var centerShift_x = ( canvas.width - this.width * ratio ) / 2;
        var centerShift_y = ( canvas.height - this.height * ratio ) / 2;

        context.drawImage(this, 0, 0, this.width, this.height,
            centerShift_x, centerShift_y, this.width * ratio, this.height * ratio);

        if(drawIndex) {
            var text = idx;
            var maxWidth = 10;
            var x = canvas.width-10-maxWidth;
            var y = canvas.height-10;

            context.strokeStyle = 'black';
            context.lineWidth = 2;
            context.strokeText(idx, x, y, maxWidth);
            context.fillStyle = 'lightgrey';
            context.fillText(idx, x, y, maxWidth);
        }

    };
}


function loadNextImage() {
    console.log('Loading next images');
    loadJS("{{ url_for('indi_allsky.js_image_loop_view') }}", {'limit_s' : history_seconds}, function() {
        //while (json_data['image_list'].length > maxFrames) {
        //    json_data['image_list'].splice(0, 1);  // remove first image
        //};
    });
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(data){
            json_data = data
        },
        error: function(data){
            onError(data.status);
        },
    });

}


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}

$( document ).ready(function() {
    if(localStorage) {
        loop_settings = localStorage.getItem("loop_settings");
        if(loop_settings) {
            page_settings = JSON.parse(loop_settings);
        } else {
            page_settings = new Object();
            page_settings["history_seconds"] = 900;
            page_settings["frame_delay_ms"] = 75;
            page_settings["rock"] = true;

            localStorage.setItem("loop_settings", JSON.stringify(page_settings));
        }
    }

    if(typeof page_settings["history_seconds"] !== "undefined") {
        $("#HISTORY_SELECT").val(page_settings["history_seconds"]);
    }
    if(typeof page_settings["frame_delay_ms"] !== "undefined") {
        $("#FRAMEDELAY_SELECT").val(page_settings["frame_delay_ms"]);
    }
    if(typeof page_settings["rock"] !== "undefined") {
        $("#ROCK_CHECKBOX").prop("checked", page_settings["rock"]);
    }

    history_seconds = $('#HISTORY_SELECT').val();
    frame_delay_ms = $('#FRAMEDELAY_SELECT').val();
    rock = $('#ROCK_CHECKBOX').prop('checked');

    $('#canvas').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>
{% endblock %}

{% block content %}
<form id="form_history" onSubmit="return false;">
    <div class="form-group row">
        <div class="col-sm-1">
            {{ form_history.HISTORY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_history.HISTORY_SELECT(class='form-control bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_history.FRAMEDELAY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_history.FRAMEDELAY_SELECT(class='form-control bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_history.ROCK_CHECKBOX.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_history.ROCK_CHECKBOX(class='form-check-input bg-secondary') }}
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col-sm-12">
        <canvas id="canvas"/>
    </div>
</div>

<script>

$("#HISTORY_SELECT").on("change", function() {
    history_seconds = $('#HISTORY_SELECT').val();
    console.log('Changing loop history: ' + history_seconds);

    if(localStorage) {
        page_settings["history_seconds"] = history_seconds;
        localStorage.setItem("loop_settings", JSON.stringify(page_settings));
    }
});

$("#FRAMEDELAY_SELECT").on("change", function() {
    frame_delay_ms = $('#FRAMEDELAY_SELECT').val();
    console.log('Changing frame delay: ' + frame_delay_ms);

    if(localStorage) {
        page_settings["frame_delay_ms"] = frame_delay_ms;
        localStorage.setItem("loop_settings", JSON.stringify(page_settings));
    }
});

$("#ROCK_CHECKBOX").on("change", function() {
    rock = $('#ROCK_CHECKBOX').prop('checked');
    console.log('Changing rock: ' + rock);

    if(localStorage) {
        page_settings["rock"] = rock;
        localStorage.setItem("loop_settings", JSON.stringify(page_settings));
    }
});

</script>

{% endblock %}
