{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.loader {
  display: block;
  border: 3px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fit {
    max-width:100%;
    height:auto;
}
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/settings_loop.js') }}"></script>
<script type="text/javascript">
var camera_id = {{ camera_id }};
var refreshInterval = {{ refreshInterval | int }};
var timestamp = {{ timestamp | int }};
var history_seconds;  // set later
var frame_delay_ms;  // set later
var page_settings;  // set later
var rock;  // set later
var json_data = {
    'image_list' : [],
    'message' : '',
};
var fullscreen = false;  //initial state

function init() {
    loadNextImage();
    loop();
}

async function loop() {
    console.log('Starting loop');

    while(json_data['image_list'].length == 0) {
        await sleep(100);
    }

    // prevent concurrent updates to list
    var image_list_copy = JSON.parse(JSON.stringify(json_data['image_list']));

    if (rock) {
        for (var i = 0; i < image_list_copy.length; i++) {
            showImage(image_list_copy[i], i);
            await sleep(frame_delay_ms);
        };
    };

    for (var i = image_list_copy.length - 1; i >= 0; i--) {
        showImage(image_list_copy[i], i);
        await sleep(frame_delay_ms);
    };

    setTimeout(loop, 3000);
}


function showImage(entry, idx) {
    console.log('Showing image ' + entry["url"]);

    var hRatio = window.innerWidth / entry["width"];
    var vRatio = window.innerHeight / entry["height"];
    var ratio  = Math.min ( hRatio, vRatio );


    $('#loop-image').attr({
        'src': entry["url"],
        'width': (entry["width"] * ratio) * 0.85,
        'height': (entry["height"] * ratio) * 0.85
    });
}


function loadNextImage() {
    console.log('Loading next images');
    loadJS("{{ url_for(image_loop_view) }}", {'camera_id' : camera_id, 'limit_s' : history_seconds, 'timestamp' : timestamp}, function() {
        //while (json_data['image_list'].length > maxFrames) {
        //    json_data['image_list'].splice(0, 1);  // remove first image
        //};
    });
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $("#loader_loop").css({'display' : 'block'});

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            $("#loader_loop").css({'display' : 'none'});
            json_data = rdata
            $('#message').html(json_data['message']);
        },
        error: function(rdata){
            $("#loader_loop").css({'display' : 'none'});
            onError(rdata.status);
            $('#message').text('Error loading data.  Please check the logs.');
        },
    });

}


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}

$( document ).ready(function() {
    if(localStorage) {
        loop_settings = localStorage.getItem("loop_settings");
        if(loop_settings) {
            page_settings = JSON.parse(loop_settings);
        } else {
            page_settings = new Object();
            page_settings["history_seconds"] = 900;
            page_settings["frame_delay_ms"] = 100;
            page_settings["rock"] = false;

            localStorage.setItem("loop_settings", JSON.stringify(page_settings));
        }
    }

    if(typeof page_settings["history_seconds"] !== "undefined") {
        $("#HISTORY_SELECT").val(page_settings["history_seconds"]);
    }
    if(typeof page_settings["frame_delay_ms"] !== "undefined") {
        $("#FRAMEDELAY_SELECT").val(page_settings["frame_delay_ms"]);
    }
    if(typeof page_settings["rock"] !== "undefined") {
        $("#ROCK_CHECKBOX").prop("checked", page_settings["rock"]);
    }

    history_seconds = $('#HISTORY_SELECT').val();
    frame_delay_ms = $('#FRAMEDELAY_SELECT').val();
    rock = $('#ROCK_CHECKBOX').prop('checked');

    $('#loop-image').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>
{% endblock %}

{% block content %}
<form id="form_history" onSubmit="return false;">
    <div class="form-group row">
        <div class="col-sm-1">
            {{ form_history.HISTORY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_history.HISTORY_SELECT(class='form-select bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_history.FRAMEDELAY_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_history.FRAMEDELAY_SELECT(class='form-select bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_history.ROCK_CHECKBOX.label(class='col-form-label') }}
        </div>
        <div class="col-sm-1">
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="Rocks the images from newest to oldest to newest">
            {{ form_history.ROCK_CHECKBOX(class='form-check-input bg-secondary') }}
            </span>
        </div>
        <div class="col-sm-1">
            <div class="loader" id="loader_loop"></div>
        </div>
    </div>
</form>

<hr>

<div class="row">
    <div class="text-muted text-center" id="message"></div>
</div>
<div class="row">
    <div class="text-center">
        <img id="loop-image" class="fit">
    </div>
</div>

<script>

$("#HISTORY_SELECT").on("change", function() {
    history_seconds = $('#HISTORY_SELECT').val();
    console.log('Changing loop history: ' + history_seconds);

    if(localStorage) {
        page_settings["history_seconds"] = history_seconds;
        localStorage.setItem("loop_settings", JSON.stringify(page_settings));
    }
});

$("#FRAMEDELAY_SELECT").on("change", function() {
    frame_delay_ms = $('#FRAMEDELAY_SELECT').val();
    console.log('Changing frame delay: ' + frame_delay_ms);

    if(localStorage) {
        page_settings["frame_delay_ms"] = frame_delay_ms;
        localStorage.setItem("loop_settings", JSON.stringify(page_settings));
    }
});

$("#ROCK_CHECKBOX").on("change", function() {
    rock = $('#ROCK_CHECKBOX').prop('checked');
    console.log('Changing rock: ' + rock);

    if(localStorage) {
        page_settings["rock"] = rock;
        localStorage.setItem("loop_settings", JSON.stringify(page_settings));
    }
});

</script>

{% endblock %}
