{% extends 'base.html' %}

{% block title %}indi-allsky: Mask Base{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
#mask_img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
</style>
<script>
var camera_id = {{ camera_id }};
var url = '{{ mask_image_uri }}';
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 text-center" style="font-size:10px">
        This image is the original camera output.  It is not rotated, flipped, or cropped.
    </div>
</div>

<div class="row">
    <div class="text-center">
        <img id="mask_img">
    </div>
</div>

<div class="row">
    <div class="text-center" style="font-size:10px">
        <span>Generated: {{ mask_date }}</span>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <span id="mask_download"></span>
    </div>
</div>
<script>
function init() {
    $('#mask_img').attr('src', url + '?' + new Date().getTime());

    $('#mask_download').html(
        $('<a />', {
            'href'   : $('#mask_img').attr('src'),
            'rel'    : 'noopener noreferrer',
            'download' : 'mask_base.png',
        }).html(
            $('<span />', {
                'text'  : 'Download Mask Base',
                'class' : "badge pill bg-info text-dark",
            })
        )
    );
}

$( document ).ready(function() {
    init();
});

</script>

{% endblock %}
