{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.loader {
  display: block;
  border: 3px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

canvas {
    width: 100%;
    height: auto;
};
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/settings_loop.js') }}"></script>
<script type="text/javascript">
var camera_id = {{ camera_id }};
var timestamp = {{ timestamp | int }};
var endDate_timestamp;  // set later
var history_seconds;  // set later
var framerate;  // set later
var json_data = {
    'image_list' : [],
    'message' : '',
};
var fullscreen = false;  //initial state

var framerate_delay_lut = {
    '0.25' : 4000,
    '0.5'  : 2000,
    '0.75' : 1333,
    '1'    : 1000,
    '2'    : 500,
    '5'    : 200,
    '10'   : 100,
    '25'   : 40,
};

function init() {
    loadImages();
    loop();
}

async function loop() {
    console.log('Starting loop');

    while(json_data['image_list'].length == 0) {
        await sleep(100);
    }


    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    // Need separate Image for every image of the loop, otherwise browser will not load properly
    var image_list = [];
    for (var i = 0; i < json_data['image_list'].length; i++) {
        var img = new Image();
        img.onload = function() {
            canvas.setAttribute("width", window.innerWidth);
            canvas.setAttribute("height", window.innerHeight);

            var hRatio = canvas.width  / this.width;
            var vRatio = canvas.height / this.height;
            var ratio  = Math.min ( hRatio, vRatio );
            var centerShift_x = ( canvas.width - this.width * ratio ) / 2;
            var centerShift_y = ( canvas.height - this.height * ratio ) / 2;

            //context.imageSmoothingEnabled = false;
            context.drawImage(this, 0, 0, this.width, this.height,
                centerShift_x, centerShift_y, this.width * ratio, this.height * ratio);
        };

        image_list.push(img);
    }



    for (var i = image_list.length - 1; i >= 0; i--) {
        showImage(image_list[i], json_data['image_list'][i]);
        await sleep(framerate_delay_lut[framerate]);
    };

    setTimeout(loop, 3000);
}


function showImage(img, entry) {
    console.log('Showing image ' + entry["url"]);
    img.src = entry["url"];
}


function loadImages() {
    console.log('Loading next images');
    loadJS("{{ url_for(image_loop_view) }}", {'camera_id' : camera_id, 'limit_s' : history_seconds, 'timestamp' : endDate_timestamp}, function() {});
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $("#loader_generate").css({'display' : 'block'});

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            $("#loader_generate").css({'display' : 'none'});
            json_data = rdata

            var image_count = rdata['image_list'].length;
            $('#video_length').html(image_count + ' Frames - Approximately ' + image_count / parseFloat(framerate) + 's');

            $('#message').html(json_data['message']);
        },
        error: function(rdata){
            $("#loader_generate").css({'display' : 'none'});
            onError(rdata.status);
            $('#message').text('Error loading data.  Please check the logs.');
            $('#video_length').html('');
        },
    });

}


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}

$( document ).ready(function() {
    var pre_seconds = parseInt($('#PRE_SECONDS_SELECT').val());
    var post_seconds = parseInt($('#PRE_SECONDS_SELECT').val());
    endDate_timestamp = timestamp + post_seconds;
    history_seconds = pre_seconds + post_seconds;
    framerate = $('#FRAMERATE_SELECT').val();

    $('#canvas').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>
{% endblock %}

{% block content %}
<form id="form_mini_timelapse" onSubmit="return false; "autocomplete="off">
    <div class="form-group row">
        {{ form_mini_timelapse.CAMERA_ID() }}
        {{ form_mini_timelapse.IMAGE_ID() }}

        <div class="col-sm-1">
            {{ form_mini_timelapse.PRE_SECONDS_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_mini_timelapse.PRE_SECONDS_SELECT(class='form-select bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_mini_timelapse.POST_SECONDS_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_mini_timelapse.POST_SECONDS_SELECT(class='form-select bg-secondary') }}
        </div>

        <div class="col-sm-1">
            {{ form_mini_timelapse.FRAMERATE_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-2">
            {{ form_mini_timelapse.FRAMERATE_SELECT(class='form-select bg-secondary') }}
        </div>

        <div class="col-sm-1">
            <button class="btn btn-success">Create</button>
        </div>

        <div class="col-sm-1">
            <div class="loader" id="loader_generate"></div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-1">
            {{ form_mini_timelapse.NOTE.label(class='col-form-label') }}
        </div>
        <div class="col-sm-8">
            {{ form_mini_timelapse.NOTE(class='form-control bg-secondary') }}
        </div>
    </div>
</form>

<hr>

<div class="row">
    <div class="text-success text-center" id="success_message" style="display: none;"></div>
    <div class="text-danger text-center" id="failure_message" style="display: none;"></div>
    <div class="text-muted text-center" id="message"></div>
    <div class="text-muted text-center" id="video_length"></div>
</div>
<div class="row">
    <div class="text-center">
        <canvas id="canvas"></canvas>
    </div>
</div>

<script>

function updateImages() {
    var pre_seconds = parseInt($('#PRE_SECONDS_SELECT').val());
    var post_seconds = parseInt($('#POST_SECONDS_SELECT').val());
    endDate_timestamp = timestamp + post_seconds;
    history_seconds = pre_seconds + post_seconds;
    framerate = $('#FRAMERATE_SELECT').val();

    loadImages();
}

$("#PRE_SECONDS_SELECT").on("change", function() {
    updateImages();
});

$("#POST_SECONDS_SELECT").on("change", function() {
    updateImages();
});

$("#FRAMERATE_SELECT").on("change", function() {
    framerate = $('#FRAMERATE_SELECT').val();

    var image_count = json_data['image_list'].length;
    $('#video_length').html(image_count + ' frames - Approximately ' + image_count / parseFloat(framerate) + 's');
});


$('#form_mini_timelapse').on('submit', function() {
    var form_data = {
        'IMAGE_ID' : $('#IMAGE_ID').val(),
        'CAMERA_ID' : $('#CAMERA_ID').val(),
        'PRE_SECONDS' : parseInt($('#PRE_SECONDS_SELECT').val()),
        'POST_SECONDS' : parseInt($('#POST_SECONDS_SELECT').val()),
        'FRAMERATE' : $('#FRAMERATE_SELECT').val(),
        'NOTE' : $('#NOTE').val(),
    }

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_mini_generate_view') }}",
        contentType: "application/json",
        data: JSON.stringify(form_data),
        success: function(rdata){
            $("#loader_generate").css({'display' : 'none'});
            $('#NOTE').val('');

            $('#success_message').html(rdata['success-message']);
            $('#success_message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success_message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#loader_config").css({'display' : 'none'});

            var errors = JSON.parse(rdata.responseText);

            $('#failure_message').html(errors['failure-message']);
            $('#failure_message').css({'display' : 'block'});

            setTimeout(function() {
                $('#failure_message').css({'display' : 'none'});
            }, 15000);
        },
    });

});

</script>

{% endblock %}
