{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
#nav-connections-tab, #nav-wificonnect-tab, #nav-hotspot-tab {
	width: 150px;
	margin-top: 10px;
	margin-right: 5px;
	height: 50px;
}
</style>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>
{% endblock %}

{% block content %}
<div class="container h-100">
<form id="form_connections" onSubmit="return false;" autocomplete="off">

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link link-danger bg-dark active" id="nav-connections-tab" data-bs-toggle="tab" data-bs-target="#nav-connections" type="button" role="tab" aria-controls="nav-connections" aria-selected="true">Connections</button>
    <button class="nav-link link-light bg-dark" id="nav-wificonnect-tab" data-bs-toggle="tab" data-bs-target="#nav-wificonnect" type="button" role="tab" aria-controls="nav-wificonnect" aria-selected="false">Wi-Fi</button>
    <button class="nav-link link-success bg-dark" id="nav-hotspot-tab" data-bs-toggle="tab" data-bs-target="#nav-hotspot" type="button" role="tab" aria-controls="nav-hotspot" aria-selected="false">Hotspot</button>
  </div>
</nav>


<!-- should be above tab contents -->
{% if not nm_installed %}
<hr>
<div><span class="badge rounded-pill bg-warning text-dark">Warning</span> Network Manager is not available</div>
{% endif %}

<hr>

<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-connections" role="tabpanel" aria-labelledby="nav-connections-tab">
    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.CONNECTIONS_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.CONNECTIONS_SELECT(class='form-select bg-secondary') }}
            <div id="CONNECTIONS_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
            <div style="font-size:10px">* Indicates Auto-start</div>
        </div>
        <div class="col-sm-3">
            <button id="activate-button" class="btn btn-success">Activate</button>
            <button id="deactivate-button" class="btn btn-warning">Deactivate</button>
            <button id="delete-button" class="btn btn-dark text-danger">Delete</button>
            <hr>
            <button id="autostart-button" class="btn btn-info">Enable auto-start</button>
            <button id="no-autostart-button" class="btn btn-secondary">Disable auto-start</button>
            <hr>
            <button id="incpriority-button" class="btn btn-primary">+10 priority</button>
            <button id="decpriority-button" class="btn btn-secondary">-10 priority</button>
        </div>
        <div class="col-sm-3">
            <input class="form-check-input" id="CONN_CONFIRM1" name="CONN_CONFIRM1" type="checkbox" value="y"> Confirm
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6">
            <div><span class="badge rounded-pill bg-warning text-dark">Warning</span> Use care when deactivating connections.  If you deactivate the primary connection which is used for management, you will lose access to the web interface.  If you lose access, you should be able to power cycle and the connection should reactivate.</div>
        </div>
    </div>


</div><!-- end connections tab -->
<div class="tab-pane fade" id="nav-wificonnect" role="tabpanel" aria-labelledby="nav-wificonnect-tab">

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.WIFI_DEVICES_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.WIFI_DEVICES_SELECT(class='form-select bg-secondary') }}
            <div id="WIFI_DEVICES_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-1">
            <button id="scan-button" class="btn btn-primary">Scan</button>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.SSID_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.SSID_SELECT(class='form-select bg-secondary') }}
            <div id="SSID_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-1">
            <button id="connect-button" class="btn btn-success">Connect</button>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.SSID_PSK.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.SSID_PSK(class='form-control bg-secondary') }}
            <div id="SSID_PSK-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.SSID_PRIORITY.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.SSID_PRIORITY(class='form-control bg-secondary') }}
            <div id="SSID_PRIORITY-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
            Connection Priority
        </div>
    </div>

</div><!-- end wificonnect tab -->
<div class="tab-pane fade" id="nav-hotspot" role="tabpanel" aria-labelledby="nav-hotspot-tab">

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.HOTSPOT_DEVICES_SELECT.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.HOTSPOT_DEVICES_SELECT(class='form-select bg-secondary') }}
            <div id="HOTSPOT_DEVICES_SELECT-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.HOTSPOT_SSID.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.HOTSPOT_SSID(class='form-control bg-secondary') }}
            <div id="HOTSPOT_SSID-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-1">
            <button id="create-hotspot-button" class="btn btn-success">Create</button>
        </div>
        <div class="col-sm-5">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.HOTSPOT_BAND.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.HOTSPOT_BAND(class='form-select bg-secondary') }}
            <div id="HOTSPOT_BAND-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_connections.HOTSPOT_PSK.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_connections.HOTSPOT_PSK(class='form-control bg-secondary') }}
            <div id="HOTSPOT_PSK-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6">
            <div>The Hotspot will be created with a static IP of <b>10.42.0.1</b> (/24 or 255.255.255.0) and IPv6 will be configured with a link-local address (fe80::).</div>
            <br>
            <div>It should not be necessary to configure your wifi connection with a static address, a DHCP server should be started with the hotspot connection and the IPv6 link-local connectivity should be sufficient to access by the mDNS name:</div>
            <br>
            <b><pre>https://{{ hostname }}.local</pre></b>
            <br>
            <div>The Hotspot connection is created with a lower priority (-90) than the standard wireless connections, so if the primary wireless connection fails, it should fallback to activating the Hotspot connection.</div>
        </div>
    </div>

</div><!-- end hotspot tab -->

    <hr> <hr> <hr>

    <div class="form-group row" style="height:100px;">
        <div class="col-sm-5">
            <div id="success-message" class="alert alert-success" role="alert" style="display: none;"></div>
            <div id="failure-message" class="alert alert-danger" role="alert" style="display: none;"></div>
        </div>
    </div>

    </form>

</div>

<script type="text/javascript">

$('#activate-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if (! $("#CONN_CONFIRM1").prop('checked')) {
        console.log('Confirm checkbox not checked');
        return;
    }
    $("#CONN_CONFIRM1").prop('checked', false);


    if ( $('#CONNECTIONS_SELECT').val() == "" ){
        return;
    }

    $("#activate-button").attr("class", "btn btn-success");
    $("#activate-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Activate</span>'
    );


    var json_data = {
        'COMMAND' : 'activate',
        'CONNECTION' : $('#CONNECTIONS_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#activate-button").html(
              'Activate'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);

        },
        error: function(rdata){
            $("#activate-button").attr("class", "btn btn-danger");
            $("#activate-button").html(
              'Activate'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


$('#deactivate-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if (! $("#CONN_CONFIRM1").prop('checked')) {
        console.log('Confirm checkbox not checked');
        return;
    }
    $("#CONN_CONFIRM1").prop('checked', false);


    if ( $('#CONNECTIONS_SELECT').val() == "" ){
        return;
    }


    $("#deactivate-button").attr("class", "btn btn-warning");
    $("#deactivate-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Dectivate</span>'
    );


    var json_data = {
        'COMMAND' : 'deactivate',
        'CONNECTION' : $('#CONNECTIONS_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#deactivate-button").html(
              'Deactivate'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#deactivate-button").attr("class", "btn btn-danger");
            $("#deactivate-button").html(
              'Deactivate'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });

});


$('#delete-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if (! $("#CONN_CONFIRM1").prop('checked')) {
        console.log('Confirm checkbox not checked');
        return;
    }
    $("#CONN_CONFIRM1").prop('checked', false);


    if ( $('#CONNECTIONS_SELECT').val() == "" ){
        return;
    }


    $("#delete-button").attr("class", "btn btn-dark text-danger");
    $("#delete-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Delete</span>'
    );


    var json_data = {
        'COMMAND' : 'delete',
        'CONNECTION' : $('#CONNECTIONS_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#delete-button").html(
              'Delete'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#delete-button").attr("class", "btn btn-danger text-light");
            $("#delete-button").html(
              'Delete'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


$('#autostart-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if (! $("#CONN_CONFIRM1").prop('checked')) {
        console.log('Confirm checkbox not checked');
        return;
    }
    $("#CONN_CONFIRM1").prop('checked', false);


    if ( $('#CONNECTIONS_SELECT').val() == "" ){
        return;
    }


    $("#autostart-button").attr("class", "btn btn-info");
    $("#autostart-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Enable auto-start</span>'
    );


    var json_data = {
        'COMMAND' : 'autostart',
        'CONNECTION' : $('#CONNECTIONS_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#autostart-button").html(
              'Enable auto-start'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#autostart-button").attr("class", "btn btn-danger");
            $("#autostart-button").html(
              'Enable auto-start'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


$('#no-autostart-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if (! $("#CONN_CONFIRM1").prop('checked')) {
        console.log('Confirm checkbox not checked');
        return;
    }
    $("#CONN_CONFIRM1").prop('checked', false);


    if ( $('#CONNECTIONS_SELECT').val() == "" ){
        return;
    }


    $("#no-autostart-button").attr("class", "btn btn-secondary");
    $("#no-autostart-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Disable auto-start</span>'
    );


    var json_data = {
        'COMMAND' : 'noautostart',
        'CONNECTION' : $('#CONNECTIONS_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#no-autostart-button").html(
              'Disable auto-start'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#no-autostart-button").attr("class", "btn btn-danger");
            $("#no-autostart-button").html(
              'Disable auto-start'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


$('#incpriority-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if (! $("#CONN_CONFIRM1").prop('checked')) {
        console.log('Confirm checkbox not checked');
        return;
    }
    $("#CONN_CONFIRM1").prop('checked', false);


    if ( $('#CONNECTIONS_SELECT').val() == "" ){
        return;
    }


    $("#incpriority-button").attr("class", "btn btn-primary");
    $("#incpriority-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">+10 priority</span>'
    );


    var json_data = {
        'COMMAND' : 'incpriority',
        'CONNECTION' : $('#CONNECTIONS_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#incpriority-button").html(
              '+10 priority'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#incpriority-button").attr("class", "btn btn-danger");
            $("#incpriority-button").html(
              'Enable auto-start'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


$('#decpriority-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if (! $("#CONN_CONFIRM1").prop('checked')) {
        console.log('Confirm checkbox not checked');
        return;
    }
    $("#CONN_CONFIRM1").prop('checked', false);


    if ( $('#CONNECTIONS_SELECT').val() == "" ){
        return;
    }


    $("#decpriority-button").attr("class", "btn btn-secondary");
    $("#decpriority-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">-10 priority</span>'
    );


    var json_data = {
        'COMMAND' : 'decpriority',
        'CONNECTION' : $('#CONNECTIONS_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#decpriority-button").html(
              '+10 priority'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#decpriority-button").attr("class", "btn btn-danger");
            $("#decpriority-button").html(
              '-10 priority'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


$('#scan-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if ( $('#WIFI_DEVICES_SELECT').val() == "" ){
        return false;
    }


    $("#scan-button").attr("class", "btn btn-primary");
    $("#scan-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Scan</span>'
    );


    var json_data = {
        'COMMAND' : 'scanap',
        'INTERFACE' : $('#WIFI_DEVICES_SELECT').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#scan-button").attr("class", "btn btn-primary");
            $("#scan-button").html(
              'Scan'
            );


            $('#SSID_SELECT').removeAttr('readonly');
            $('#SSID_SELECT').removeAttr('disabled');
            $('#SSID_SELECT').removeClass('bg-dark');
            $('#SSID_SELECT').removeClass('text-secondary');

            $('#SSID_PSK').removeAttr('readonly');
            $('#SSID_PSK').removeAttr('disabled');
            $('#SSID_PSK').removeClass('bg-dark');
            $('#SSID_PSK').removeClass('text-secondary');

            $('#SSID_PRIORITY').removeAttr('readonly');
            $('#SSID_PRIORITY').removeAttr('disabled');
            $('#SSID_PRIORITY').removeClass('bg-dark');
            $('#SSID_PRIORITY').removeClass('text-secondary');

            $('#connect-button').removeAttr('disabled');
            $("#connect-button").attr("class", "btn btn-success");


            $("#SSID_SELECT").empty();

            rdata['data'].forEach(item => {
                $("#SSID_SELECT").append($('<option />', {'value' : item['path']}).text(item['ssid']));
            });
        },
        error: function(rdata){
            $("#scan-button").attr("class", "btn btn-danger");
            $("#scan-button").html(
              'Scan'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


$('#connect-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if ( $('#WIFI_DEVICES_SELECT').val() == "" ){
        return false;
    }


    $("#connect-button").attr("class", "btn btn-success");
    $("#connect-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Connect</span>'
    );


    var json_data = {
        'COMMAND' : 'connectap',
        'INTERFACE' : $('#WIFI_DEVICES_SELECT').val(),
        'AP_PATH' : $('#SSID_SELECT').val(),
        'PSK' : $('#SSID_PSK').val(),
        'PRIORITY' : $('#SSID_PRIORITY').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#connect-button").attr("class", "btn btn-success");
            $("#connect-button").html(
              'Connect'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#connect-button").attr("class", "btn btn-danger");
            $("#connect-button").html(
              'Connect'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


$('#create-hotspot-button').on('click', function() {
    $('#success-message').css({'display' : 'none'});
    $('#failure-message').css({'display' : 'none'});


    if ( $('#HOTSPOT_DEVICES_SELECT').val() == "" ){
        return false;
    }


    $("#create-hotspot-button").attr("class", "btn btn-success");
    $("#create-hotspot-button").html(
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status">Create</span>'
    );


    var json_data = {
        'COMMAND' : 'createhotspot',
        'INTERFACE' : $('#HOTSPOT_DEVICES_SELECT').val(),
        'SSID' : $('#HOTSPOT_SSID').val(),
        'BAND' : $('#HOTSPOT_BAND').val(),
        'PSK' : $('#HOTSPOT_PSK').val(),
    };


    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_network_manager_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            $("#create-hotspot-button").attr("class", "btn btn-success");
            $("#create-hotspot-button").html(
              'Create'
            );

            $('#success-message').html(rdata['success-message']);
            $('#success-message').css({'display' : 'block'});
            setTimeout(function() {
                $('#success-message').css({'display' : 'none'});
            }, 15000);
        },
        error: function(rdata){
            $("#create-hotspot-button").attr("class", "btn btn-danger");
            $("#create-hotspot-button").html(
              'Create'
            );

            var errors = JSON.parse(rdata.responseText);

            $('#failure-message').html(errors['failure-message']);
            $('#failure-message').css({'display' : 'block'});
        },
    });
});


function init() {
    $('#SSID_SELECT').attr('readonly', true);
    $('#SSID_SELECT').attr('disabled', true);
    $('#SSID_SELECT').addClass('bg-dark');
    $('#SSID_SELECT').addClass('text-secondary');

    $('#SSID_PSK').attr('readonly', true);
    $('#SSID_PSK').attr('disabled', true);
    $('#SSID_PSK').addClass('bg-dark');
    $('#SSID_PSK').addClass('text-secondary');

    $('#SSID_PRIORITY').attr('readonly', true);
    $('#SSID_PRIORITY').attr('disabled', true);
    $('#SSID_PRIORITY').addClass('bg-dark');
    $('#SSID_PRIORITY').addClass('text-secondary');

    $('#connect-button').attr('disabled', true);
    $('#connect-button').attr('class', 'btn btn-secondary');

    if ($('#WIFI_DEVICES_SELECT').val() == '') {
        $('#scan-button').attr('disabled', true);
        $('#scan-button').attr('class', 'btn btn-secondary');
    }

    if ($('#HOTSPOT_DEVICES_SELECT').val() == '') {
        $('#create-hotspot-button').attr('disabled', true);
        $('#create-hotspot-button').attr('class', 'btn btn-secondary');
    }

    $("#CONN_CONFIRM1").prop('checked', false);
}

$( document ).ready(function() {
    init();
});
</script>

{% endblock %}
