{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.fit {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
</style>
<script type="text/javascript">
var img;
var camera_id = {{ camera_id }};
var url = '{{ keogram_uri }}';
var refreshInterval = {{ refreshInterval | int }};
var img;
var fullscreen = false;  //initial state

function init() {
    loop();
}

function loop() {
    img = new Image();
    img.onload = function() {
        $('#message').empty();

        $('#keogram-image').attr({
            'src': this.src,
        });
    };


    showImage(url);


    $('#download').html(
        $('<a />', {
            'href' : "{{ keogram_uri }}",
            'rel' : "noopener noreferrer",
            'download' : '',
        }).html(
            $('<span />', {
                'text'  : 'Download',
                'class' : "badge pill bg-danger",
            })
        )
    );


    setTimeout(loop, refreshInterval);
}


function showImage(url) {
    console.log('Showing image ' + url);
    img.src = url + "?t=" + new Date().getTime();
}


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    showImage(url);
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



$( document ).ready(function() {
    $('#keogram-image').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <div class=text-muted" id="message">
                Loading...
            </div>

            <img id="keogram-image" class="fit">

            <div style="margin-top: 20px;">
                <div id="download"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
