{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<script type="text/javascript">
var img;
var camera_id = {{ camera_id }};
var url = '{{ keogram_uri }}';
var refreshInterval = {{ refreshInterval | int }};
var img;
var fullscreen = false;  //initial state

function init() {
    loop();
}

function loop() {
    img = new Image();
    img.onload = function() {
        $('#message').empty();

        $('#keogram-image').attr({
            'src': this.src,
        });
    };


    showImage(url);


    $('#download').html(
        $('<a />', {
            'href' : "{{ keogram_uri }}",
            'rel' : "noopener noreferrer",
            'download' : '',
        }).html(
            $('<span />', {
                'text'  : 'Download',
                'class' : "tw:badge tw:badge-error tw:font-bold tw:text-error-content",
            })
        )
    );


    setTimeout(loop, refreshInterval);
}


function showImage(url) {
    console.log('Showing image ' + url);
    img.src = url + "?t=" + new Date().getTime();
}


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    showImage(url);
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



$( document ).ready(function() {
    $('#keogram-image').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>
{% endblock %}

{% block content %}
<div class="tw:container tw:h-full tw:mx-auto tw:flex tw:flex-col tw:gap-4">
    
    <div class="tw:flex tw:justify-center">
        <div class="tw:text-base-content tw:text-center tw:font-medium" id="message">
            Loading...
        </div>
    </div>

    <div class="tw:h-3/4 tw:flex tw:items-center tw:justify-center">
        <div class="tw:w-full tw:text-center">
            <img id="keogram-image" 
                 class="fit tw:mx-auto tw:max-h-full tw:max-w-full tw:object-contain" 
                 style="display: none;"
                 onerror="this.style.display='none';"
                 onload="this.style.display='block';">
        </div>
    </div>

    <div class="tw:flex tw:justify-center tw:mt-2">
        <div id="download" class="tw:flex tw:gap-2"></div>
    </div>

</div>
{% endblock %}