{% extends 'base.html' %}

{% block title %}indi-allsky: SQM{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
canvas {
    width: 100%;
    height: auto;
};
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/settings_latest.js') }}"></script>
<script type="text/javascript">
var json_data = {
    'image_list'  : [],
    'sqm_data'    : {'min' : 0, 'max' : 0, 'avg' : 0},
    'stars_data'  : {'min' : 0, 'max' : 0, 'avg' : 0},
    'message' : '',
};
var camera_id = {{ camera_id }};
var refreshInterval = {{ refreshInterval | int }};
var fullscreen = false;  //initial state

function init() {
    loadNextImage();
    loop();
}

async function loop() {
    console.log('Starting loop');

    while(json_data['image_list'].length == 0) {
        await sleep(100);
    }

    showImage(json_data['image_list'][0]);

    setTimeout(loop, refreshInterval);
}


function showImage(entry) {
    console.log('Showing image ' + entry["url"]);

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    var img = new Image();
    img.src = entry["url"];
    img.onload = function() {
        canvas.setAttribute("width", window.innerWidth);
        canvas.setAttribute("height", window.innerHeight);

        var hRatio = canvas.width  / this.width;
        var vRatio = canvas.height / this.height;
        var ratio  = Math.min ( hRatio, vRatio );

        //canvas.width = this.width * ratio;
        //canvas.height = this.height * ratio;

        var centerShift_x = ( canvas.width - this.width * ratio ) / 2;
        var centerShift_y = ( canvas.height - this.height * ratio ) / 2;

        //context.imageSmoothingEnabled = false;
        context.drawImage(this, 0, 0, this.width, this.height,
            centerShift_x, centerShift_y, this.width * ratio, this.height * ratio);


        context.textAlign = 'left';
        context.lineWidth = 10;
        var maxWidth = 200;
        var x = canvas.width-10-maxWidth;
        var y = canvas.height-150;


        // round the background strokes to prevent spikes
        context.lineJoin = 'round';
        //context.miterLimit = 2;


        // Lines
        if (entry["detections"] > 0) {
            context.font = '20px serif';

            var sqm_text = "*** Detection ***";
            context.strokeStyle = 'black';
            context.strokeText(sqm_text, x-110, y-40, maxWidth);
            context.fillStyle = 'lightgrey';
            context.fillText(sqm_text, x-110, y-40, maxWidth);
        }


        // Stars
        context.font = '32px serif';

        var sqm_text = "Stars " + parseFloat(entry["stars"]);
        context.strokeStyle = 'black';
        context.strokeText(sqm_text, x-175, y, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(sqm_text, x-175, y, maxWidth);

        context.font = '20px serif';

        var stars_max_text = "Max " + parseFloat(json_data['stars_data']['max']);
        context.strokeStyle = 'black';
        context.strokeText(stars_max_text, x-175, y+40, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(stars_max_text, x-175, y+40, maxWidth);

        var stars_avg_text = "Avg " + parseFloat(json_data['stars_data']['avg']).toFixed(1);
        context.strokeStyle = 'black';
        context.strokeText(stars_avg_text, x-175, y+80, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(stars_avg_text, x-175, y+80, maxWidth);

        var stars_min_text = "Min " + parseFloat(json_data['stars_data']['min']);
        context.strokeStyle = 'black';
        context.strokeText(stars_min_text, x-175, y+120, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(stars_min_text, x-175, y+120, maxWidth);



        // SQM
        context.font = '32px serif';

        var sqm_text = "jSQM " + parseFloat(entry["sqm"]).toFixed(1);
        context.strokeStyle = 'black';
        context.strokeText(sqm_text, x, y, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(sqm_text, x, y, maxWidth);



        context.font = '20px serif';

        var sqm_max_text = "Max " + parseFloat(json_data['sqm_data']['max']).toFixed(1);
        context.strokeStyle = 'black';
        context.strokeText(sqm_max_text, x, y+40, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(sqm_max_text, x, y+40, maxWidth);

        var sqm_avg_text = "Avg " + parseFloat(json_data['sqm_data']['avg']).toFixed(1);
        context.strokeStyle = 'black';
        context.strokeText(sqm_avg_text, x, y+80, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(sqm_avg_text, x, y+80, maxWidth);

        var sqm_min_text = "Min " + parseFloat(json_data['sqm_data']['min']).toFixed(1);
        context.strokeStyle = 'black';
        context.strokeText(sqm_min_text, x, y+120, maxWidth);
        context.fillStyle = 'lightgrey';
        context.fillText(sqm_min_text, x, y+120, maxWidth);
    };
}


function loadNextImage() {
    console.log('Loading next images');
    loadJS("{{ url_for('indi_allsky.js_image_loop_view') }}", {'camera_id' : camera_id, 'limit' : 1, 'limit_s' : 300}, function() {});
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            json_data = rdata
            $('#message').html(json_data['message']);
        },
        error: function(rdata){
            onError(rdata.status);
            $('#message').text('Error loading data.  Please check the logs.');
        },
    });

}


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    if (json_data['image_list'][0]) {
        showImage(json_data['image_list'][0]);
    };
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



$( document ).ready(function() {
    $('#canvas').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="text-center">
        <div class="text-muted" id="message">Loading...</div>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <canvas id="canvas"></canvas>
    </div>
</div>
{% endblock %}
