{% extends 'base.html' %}

{% block title %}indi-allsky: Support Info{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
pre {
    white-space: pre-wrap;
}
</style>
<script type="text/javascript">

</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div id="support_data"></div>
    </div>
</div>

<script>
function init() {
    var pre_div = $('<pre />');

    $('<div />', {
        'text'  : "{{ support_info }}",
    }).appendTo(pre_div);

    $("#support_data").html(pre_div);
}


$( document ).ready(function() {
    init();
});

</script>


{% endblock %}
