{% extends 'base.html' %}

{% block title %}indi-allsky: System Info{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2">CPU Count</div>
    <div class="col-sm-1">{{cpu_count}}</div>
</div>

<hr />

<div class="row">
    <div class="col-sm-2">CPU Usage</div>
    <div class="col-sm-1">{{"%.1f"|format(cpu_usage)}}%</div>
    <div class="col-sm-9">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{cpu_usage|int}}%"></div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-2">Load Average</div>
    <div class="col-sm-1">5 min</div>
    <div class="col-sm-1">{{"%.2f"|format(cpu_load5)}}</div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">10 min</div>
    <div class="col-sm-1">{{"%.2f"|format(cpu_load10)}}</div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">15 min</div>
    <div class="col-sm-1">{{"%.2f"|format(cpu_load15)}}</div>
</div>

<hr />

<div class="row">
    <div class="col-sm-2">Memory Usage</div>
    <div class="col-sm-1">{{"%.1f"|format(mem_usage)}}%</div>
    <div class="col-sm-9">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{mem_usage|int}}%"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">Swap Usage</div>
    <div class="col-sm-1">{{"%.1f"|format(swap_usage)}}%</div>
    <div class="col-sm-9">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{swap_usage|int}}%"></div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-2">Filesystem Usage</div>
    <div class="col-sm-1">{{"%.1f"|format(rootfs_usage)}}%</div>
    <div class="col-sm-9">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{rootfs_usage|int}}%"></div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-2">Environment</div>
    {% for t in temp_list %}
        {% if loop.index0 != 0 %}
            <div class="row">
                <div class="col-sm-2"></div>
        {% endif %}

            <div class="col-sm-2">{{t['name']}}</div>
            <div class="col-sm-1">{{"%.1f"|format(t['temp'])}}c</div>

        {% if loop.index0 != 0 %}
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr />

<div class="row">
    <div class="col-sm-4">
        <div id="success-message" class="text-success" style="display: none;"></div>
        <div id="failure-message" class="invalid-feedback text-danger" style="display: none;"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-primary" id="button_restart">Restart indi-allsky</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-primary" id="button_reboot">Reboot system</button>
    </div>
</div>


<script>
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
    }
});



function button_click(command) {
    // hide all errors
    $("#failure-message").css({'display' : 'none'});
    $("#success-message").css({'display' : 'none'});

    var json_data = {
        'COMMAND_hidden' : command,
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_system_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(data){
            $("#success-message").html(data['success-message']);
            $("#success-message").css({'display' : 'block'});
            setTimeout(function() {
                $("#success-message").css({'display' : 'none'});
            }, 10000);

        },
        error: function(data){
            var errors = JSON.parse(data.responseText);
            $("#failure-message").html(errors['COMMAND_hidden'][0]);
            $("#failure-message").css({'display' : 'block'});
        },
    });

};


$("#button_restart").on("click", function() {
    button_click('restart');
});


$("#button_reboot").on("click", function() {
    button_click('reboot');
});



</script>
{% endblock %}
