{% extends 'base.html' %}

{% block title %}indi-allsky: System Info{% endblock %}

{% block head %}
<style>
#nav-info-tab, #nav-time-tab, #nav-services-tab, #nav-powercontrol-tab {
	width: 150px;
	margin-top: 10px;
	margin-right: 5px;
	height: 50px;
}

.loader {
  display: none;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>

{% endblock %}

{% block content %}

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link link-info bg-dark active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="true">Information</button>
    <button class="nav-link link-warning bg-dark" id="nav-time-tab" data-bs-toggle="tab" data-bs-target="#nav-time" type="button" role="tab" aria-controls="nav-time" aria-selected="false">Time</button>
    <button class="nav-link link-success bg-dark" id="nav-services-tab" data-bs-toggle="tab" data-bs-target="#nav-services" type="button" role="tab" aria-controls="nav-services" aria-selected="false">Services</button>
    <button class="nav-link link-danger bg-dark" id="nav-powercontrol-tab" data-bs-toggle="tab" data-bs-target="#nav-powercontrol" type="button" role="tab" aria-controls="nav-powercontrol" aria-selected="false">Utilities</button>
  </div>
</nav>


<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">


<hr>

<div class="row">
    <div class="col-sm-2"><h4>Release</h4></div>
    <div class="col-sm-6">{{release}}</div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"><h4>Uptime</h4></div>
    <div class="col-sm-6">{{uptime_str}}</div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"><h4>System</h4></div>
    <div class="col-sm-6">{{system_type}}</div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"><h4>CPUs</h4></div>
    <div class="col-sm-1">{{cpu_count}}</div>
    <div class="col-sm-2">{{python_platform}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">Usage</div>
    <div class="col-sm-9">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{cpu_usage.user|int}}" aria-valuemin="0" aria-valuemax="100" style="width: {{cpu_usage.user|int}}%">{{"%.0f"|format(cpu_usage.user)}}%</div>
            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="{{cpu_usage.system|int}}" aria-valuemin="0" aria-valuemax="100" style="width: {{cpu_usage.system|int}}%">{{"%.0f"|format(cpu_usage.system)}}%</div>
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="{{cpu_usage.nice|int}}" aria-valuemin="0" aria-valuemax="100" style="width: {{cpu_usage.nice|int}}%">{{"%.0f"|format(cpu_usage.nice)}}%</div>
            <div class="progress-bar bg-warning progress-bar-striped text-dark" role="progressbar" aria-valuenow="{{cpu_usage.iowait|int}}" aria-valuemin="0" aria-valuemax="100" style="width: {{cpu_usage.iowait|int}}%">{{"%.0f"|format(cpu_usage.iowait)}}%</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <span class="badge bg-primary">User</span>
        <span class="badge bg-danger">System</span>
        <span class="badge bg-success">Nice</span>
        <span class="badge bg-warning text-dark">I/O Wait</span>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-sm-2"><h4>Load Average</h4></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">5 min</div>
    <div class="col-sm-1">{{"%.2f"|format(cpu_load5)}}</div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">10 min</div>
    <div class="col-sm-1">{{"%.2f"|format(cpu_load10)}}</div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">15 min</div>
    <div class="col-sm-1">{{"%.2f"|format(cpu_load15)}}</div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"><h4>Memory</h4></div>
    <div class="col-sm-1">{{mem_total}} MB</div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">System</div>
    <div class="col-sm-9">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{mem_usage.user_percent|int}}%">{{"%.0f"|format(mem_usage.user_percent)}}%</div>
            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{mem_usage.cached_percent|int}}%">{{"%.0f"|format(mem_usage.cached_percent)}}%</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">Swap</div>
    <div class="col-sm-9">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{swap_usage|int}}%">{{"%.0f"|format(swap_usage)}}%</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <span class="badge bg-success">Used</span>
        <span class="badge bg-secondary">Cache</span>
        <span class="badge bg-danger">Swap</span>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"><h4>Filesystems</h4></div>
    <div class="col-sm-1">MB</div>
</div>

{% for fs in fs_data %}
    <div class="row">
        <div class="col-sm-2">{{fs.mountpoint}}</div>
        <div class="col-sm-1">{{"%.0f"|format(fs.total_mb)}}</div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning text-dark" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{fs.percent|int}}%">{{"%.0f"|format(fs.percent)}}%</div>
            </div>
        </div>
    </div>
{% endfor %}

<hr>

<div class="row">
    <div class="col-sm-3"><h4>Network</h4></div>
</div>

{% for net in net_list %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">{{net.name}}</div>
        <div class="col-sm-3">
            {{ net.inet4 | join('<br>') | safe }}
        </div>
        <div class="col-sm-6">
            {{ net.inet6 | join('<br>') | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
	<div class="col-sm-10"><hr></div>
    </div>
{% endfor %}

<hr>

<div class="row">
    <div class="col-sm-2"><h4>Environment</h4></div>
</div>
{% for t in temp_list %}
    <div class="row">
        <div class="col-sm-3 text-end">{{t['name']}}</div>
        <div class="col-sm-1">{{"%.1f"|format(t['temp'])}}&deg;{{t['sys']}}</div>
    </div>
{% endfor %}

<hr>

<div class="row">
    <div class="col-sm-2"><h4>System</h4></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">Python</div>
    <div class="col-sm-1">{{python_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">gunicorn</div>
    <div class="col-sm-1">{{gunicorn_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">cryptography</div>
    <div class="col-sm-1">{{cryptography_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">pyindi</div>
    <div class="col-sm-1">{{pyindi_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">cv2</div>
    <div class="col-sm-1">{{cv2_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">numpy</div>
    <div class="col-sm-1">{{numpy_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">ephem</div>
    <div class="col-sm-1">{{ephem_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">astropy</div>
    <div class="col-sm-1">{{astropy_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">flask</div>
    <div class="col-sm-1">{{flask_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">ccdproc</div>
    <div class="col-sm-1">{{ccdproc_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">dbus</div>
    <div class="col-sm-1">{{dbus_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">paramiko</div>
    <div class="col-sm-1">{{paramiko_version}}</div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">paho.mqtt</div>
    <div class="col-sm-1">{{pahomqtt_version}}</div>
</div>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">pycurl</div>
    <div class="col-sm-1">{{pycurl_version}}</div>
</div>


</div><!-- end tab -->
<div class="tab-pane fade" id="nav-time" role="tabpanel" aria-labelledby="nav-time-tab">

<hr>

<div class="row">
    <div class="col-sm-2">NTP Available</div>
    <div class="col-sm-4">{{ timedate1_dict.CanNTP }}</div>
</div>

<div class="row">
    <div class="col-sm-2">NTP Enabled</div>
    <div class="col-sm-4">{{ timedate1_dict.NTP }}</div>
</div>

<div class="row">
    <div class="col-sm-2">NTP Synchronized</div>
    <div class="col-sm-4">{{ timedate1_dict.NTPSynchronized }}</div>
</div>

<div class="row">
    <div class="col-sm-2">RTC Available</div>
    <div class="col-sm-4">{{ timedate1_dict.LocalRTC }}</div>
</div>

<div class="row">
    <div class="col-sm-2">Timezone</div>
    <div class="col-sm-4">{{ timedate1_dict.Timezone }}</div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2">System time</div>
    <div class="col-sm-4">&nbsp;&nbsp;&nbsp;{{ now.strftime('%m / %d / %Y, %I : %M : %S %P') }}</div>
</div>

<form id="form_settime" onSubmit="return false;">
    {{ form_settime.csrf_token }}
    <div class="text-danger my-2" id="csrf_token-error"></div>

    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_settime.NEW_DATETIME.label(class='col-form-label') }}
        </div>
        <div class="col-sm-4">
            {{ form_settime.NEW_DATETIME(class='form-control bg-secondary') }}
            <div id="NEW_DATETIME-error" class="invalid-feedback text-danger" style="display: none;"></div>
        </div>
        <div class="col-sm-6">Field populated by browser</div>
    </div>

    <div id="form_settime_success-message" class="text-success" style="display: none;"></div>
    <div id="form_settime_failure-message" class="invalid-feedback text-danger" style="display: none;"></div>

    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary">Update Time</button>
        </div>
        <div class="col-sm-1 loader" id="loader_settime"></div>
    </div>
</form>

<hr>


<div class="row">
    <div>
        <span class="badge rounded-pill bg-danger">Danger</span>
        <span class="col-sm-12 text-danger font-weight-bold"> Changing the system time during operation can cause unpredictable behavior.  It is recommend restarting both indiserver and indi-allsky.</span>
    </div>
</div>
<div class="row">
    <div>
        <span class="badge rounded-pill bg-warning text-dark">Warning</span>
        <span class="col-sm-12 text-warning"> Manually setting time will disable NTP time sync (permanently)</span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">Time sync can be manually re-enabled on the CLI by issuing the following command</div>
    <div class="col-sm-12"><pre>timedatectl set-ntp true</pre></div>
</div>


<script>
const form_settime_successMessage = $('#form_settime_success-message');
const form_settime_failureMessage = $('#form_settime_failure-message');
const form_settime_field_names = [
    'csrf_token',
    'NEW_DATETIME',
];
const form_settime_checkbox_field_names = [];

var form_settime_fields = {};
// Populate fields object
form_settime_field_names.forEach(item => {
    form_settime_fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});

form_settime_fields['form_settime_global'] = {
    'input' : form_settime_failureMessage,
    'error' : form_settime_failureMessage,
};

// Checkboxes
form_settime_checkbox_field_names.forEach(item => {
    form_settime_fields[item] = {
        'input' : $('#' + item),
        'error' : $('#' + item + '-error'),
    };
});


// ajax setup later


$('#form_settime').on('submit', function() {

    // hide all errors
    form_settime_successMessage.css({'display' : 'none'});
    Object.keys(form_settime_fields).forEach((key) => {
        form_settime_fields[key].error.css({'display' : 'none'});
    });


    // Populate fields object
    var json_data = {};
    form_settime_field_names.forEach(item => {
        json_data[item] = form_settime_fields[item].input.val();
    });

    // checkboxes
    form_settime_checkbox_field_names.forEach(item => {
        json_data[item] = form_settime_fields[item].input.prop('checked');
    });


    $("#loader_settime").css({'display' : 'block'});

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_settime_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(data){
            form_settime_successMessage.html(data['success-message']);
            form_settime_successMessage.css({'display' : 'block'});
            setTimeout(function() {
                form_settime_successMessage.css({'display' : 'none'});
            }, 60000);

            $("#loader_settime").css({'display' : 'none'});
        },
        error: function(data){
            var errors = JSON.parse(data.responseText);
            Object.keys(errors).forEach((key) => {
                form_settime_fields[key].input.addClass('is-invalid');
                form_settime_fields[key].error.html(errors[key][0]);
                form_settime_fields[key].error.css({'display' : 'block'});
            });

            $("#loader_settime").css({'display' : 'none'});
        },
    });

});

</script>




</div><!-- end tab -->
<div class="tab-pane fade" id="nav-services" role="tabpanel" aria-labelledby="nav-services-tab">

<hr>

<div class="row">
    <div class="col-sm-2"><h4>Services</h4></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">indiserver service</div>
    <div class="col-sm-2">{{indiserver_service_activestate}}{% if indiserver_next_trigger > 0 %} [T-minus {{indiserver_next_trigger}}s]{% endif %}</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indiserver_service_stop">Stop indiserver</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indiserver_service_start">Start indiserver</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">indiserver timer</div>
    <div class="col-sm-2">{{indiserver_timer_unitstate}}</div>

    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indiserver_timer_disable">Disable indiserver</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indiserver_timer_enable">Enable indiserver</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">indi-allsky service</div>
    <div class="col-sm-2">{{indi_allsky_service_activestate}}{% if indi_allsky_next_trigger > 0 %} [T-minus {{indi_allsky_next_trigger}}s]{% endif %}</div>

    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indi_allsky_service_hup">Reload config</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indi_allsky_service_stop">Stop indi-allsky</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indi_allsky_service_start">Start indi-allsky</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">indi-allsky timer</div>
    <div class="col-sm-2">{{indi_allsky_timer_unitstate}}</div>

    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indi_allsky_timer_disable">Disable indi-allsky</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_indi_allsky_timer_enable">Enable indi-allsky</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">gunicorn-indi-allsky</div>
    <div class="col-sm-2">{{gunicorn_indi_allsky_service_activestate}}</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_gunicorn_indi_allsky_service_stop">Stop gunicorn</button>
    </div>
    <div class="col-sm-2">
        Auto restarted
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">gunicorn socket</div>
    <div class="col-sm-2">{{gunicorn_indi_allsky_socket_unitstate}}</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
    </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-12">
    <div>
        <span class="badge rounded-pill bg-info">Info</span>
        <span> Services are activated at boot by their respective timer or sockets.  Disabling the timer prevents the service from starting at boot.</span>
    </div>
  </div>
</div>


</div><!-- end tab -->
<div class="tab-pane fade" id="nav-powercontrol" role="tabpanel" aria-labelledby="nav-powercontrol-tab">


<hr>

<div class="row">
    <div class="col-sm-2"><h4>System</h4></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Reboot</div>
    <div class="col-sm-2">
        <input class="form-check-input" id="REBOOT_CONFIRM1" name="REBOOT_CONFIRM1" type="checkbox" value="y"> Confirm 1
    </div>
    <div class="col-sm-2">
        <button class="btn btn-warning" id="button_system_reboot">Reboot system</button>
    </div>
    <div class="col-sm-2">
        <input class="form-check-input" id="REBOOT_CONFIRM2" name="REBOOT_CONFIRM2" type="checkbox" value="y"> Confirm 2
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Shutdown</div>
    <div class="col-sm-2">
        <input class="form-check-input" id="SHUTDOWN_CONFIRM1" name="SHUTDOWN_CONFIRM1" type="checkbox" value="y"> Confirm 1
    </div>
    <div class="col-sm-2">
        <button class="btn btn-danger" id="button_system_shutdown">Shutdown system</button>
    </div>
    <div class="col-sm-2">
        <input class="form-check-input" id="SHUTDOWN_CONFIRM2" name="SHUTDOWN_CONFIRM2" type="checkbox" value="y"> Confirm 2
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"><h4>Validation</h4></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Validate DB Entries<br><div style="font-size:10px">CLI: ./misc/validate_db_entries.py</div></div>
    <div class="col-sm-2">
        <input class="form-check-input" id="VALIDATE_DB_CONFIRM" name="VALIDATE_DB_CONFIRM" type="checkbox" value="y"> Confirm
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" id="button_validate_db">Validate DB</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"><h4>DANGER</h4></div>
</div>

<div class="row">
    <div class="col-sm-6">There is no way to recover from these actions.  Files are permanently deleted.</div>
    <div class="col-sm-1 loader" id="loader_shutdown"></div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Flush Images<br><div style="font-size:10px">CLI: ./misc/flush_images.py</div></div>
    <div class="col-sm-2">
        <input class="form-check-input" id="FLUSH_IMAGES_CONFIRM1" name="FLUSH_IMAGES_CONFIRM1" type="checkbox" value="y"> Confirm 1
    </div>
    <div class="col-sm-2">
        <button class="btn btn-danger" id="button_flush_images">Flush Images</button>
    </div>
    <div class="col-sm-2">
        <input class="form-check-input" id="FLUSH_IMAGES_CONFIRM2" name="FLUSH_IMAGES_CONFIRM2" type="checkbox" value="y"> Confirm 2
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Flush Timelapses, Keograms, Startrails<br><div style="font-size:10px">CLI: ./misc/flush_images.py</div></div>
    <div class="col-sm-2">
        <input class="form-check-input" id="FLUSH_TIMELAPSES_CONFIRM1" name="FLUSH_TIMELAPSES_CONFIRM1" type="checkbox" value="y"> Confirm 1
    </div>
    <div class="col-sm-2">
        <button class="btn btn-danger" id="button_flush_timelapses">Flush Timelapses</button>
    </div>
    <div class="col-sm-2">
        <input class="form-check-input" id="FLUSH_TIMELAPSES_CONFIRM2" name="FLUSH_TIMELAPSES_CONFIRM2" type="checkbox" value="y"> Confirm 2
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Flush Daytime Images and Timelapses</div>
    <div class="col-sm-2">
        <input class="form-check-input" id="FLUSH_DAYTIME_CONFIRM1" name="FLUSH_DAYTIME_CONFIRM1" type="checkbox" value="y"> Confirm 1
    </div>
    <div class="col-sm-2">
        <button class="btn btn-danger" id="button_flush_daytime">Flush Daytime</button>
    </div>
    <div class="col-sm-2">
        <input class="form-check-input" id="FLUSH_DAYTIME_CONFIRM2" name="FLUSH_DAYTIME_CONFIRM2" type="checkbox" value="y"> Confirm 2
    </div>
</div>

<hr>


</div><!-- end tab -->
</div>


<div class="row">
    <div class="col-sm-4">
        <div id="success-message" class="text-success" style="display: none;"></div>
        <div id="failure-message" class="invalid-feedback text-danger" style="display: none;"></div>
        <div id="SERVICE_HIDDEN-error" class="invalid-feedback text-danger" style="display: none;"></div>
        <div id="COMMAND_HIDDEN-error" class="invalid-feedback text-danger" style="display: none;"></div>
    </div>
</div>



<script>
const successMessage = $('#success-message');
const failureMessage = $('#failure-message');

const field_names = [
    'csrf_token',
    'SERVICE_HIDDEN',
    'COMMAND_HIDDEN',
];

const checkbox_field_names = [
];

var fields = {};
// Populate fields object
field_names.forEach(item => {
    fields[item] = {
        'error' : $('#' + item + '-error'),
    };
});

fields['form_global'] = {
    'input' : failureMessage,
    'error' : failureMessage,
};



function button_click(service, command) {
    // hide all errors
    failureMessage.css({'display' : 'none'});
    successMessage.css({'display' : 'none'});
    Object.keys(fields).forEach((key) => {
        fields[key].error.css({'display' : 'none'});
    });


    var json_data = {
        'CAMERA_ID'      : camera_id,
        'SERVICE_HIDDEN' : service,
        'COMMAND_HIDDEN' : command,
    };

    $.ajax({
        type: "POST",
        url: "{{ url_for('indi_allsky.ajax_system_view') }}",
        contentType: "application/json",
        data: JSON.stringify(json_data),
        success: function(rdata){
            successMessage.html(rdata['success-message']);
            successMessage.css({'display' : 'block'});
            setTimeout(function() {
                successMessage.css({'display' : 'none'});
            }, 30000);

            $("#button_system_reboot").prop('disabled', false);
            $("#button_system_shutdown").prop('disabled', false);
            $("#button_validate_db").prop('disabled', false);
            $("#button_flush_images").prop('disabled', false);
            $("#button_flush_timelapses").prop('disabled', false);

            $("#loader_shutdown").css({'display' : 'none'});
        },
        error: function(rdata){
            var errors = JSON.parse(rdata.responseText);
            Object.keys(errors).forEach((key) => {
                fields[key].error.addClass('is-invalid');
                fields[key].error.html(errors[key][0]);
                fields[key].error.css({'display' : 'block'});
            });

            $("#loader_shutdown").css({'display' : 'none'});
        },
    });

};


$("#button_indiserver_service_stop").on("click", function() {
    button_click('indiserver.service', 'stop');
});
$("#button_indiserver_service_start").on("click", function() {
    button_click('indiserver.service', 'start');
});
$("#button_indiserver_timer_disable").on("click", function() {
    button_click('indiserver.timer', 'disable');
});
$("#button_indiserver_timer_enable").on("click", function() {
    button_click('indiserver.timer', 'enable');
});


$("#button_indi_allsky_service_hup").on("click", function() {
    button_click('indi-allsky.service', 'hup');
});
$("#button_indi_allsky_service_stop").on("click", function() {
    button_click('indi-allsky.service', 'stop');
});
$("#button_indi_allsky_service_start").on("click", function() {
    button_click('indi-allsky.service', 'start');
});
$("#button_indi_allsky_timer_disable").on("click", function() {
    button_click('indi-allsky.timer', 'disable');
});
$("#button_indi_allsky_timer_enable").on("click", function() {
    button_click('indi-allsky.timer', 'enable');
});


$("#button_gunicorn_indi_allsky_service_stop").on("click", function() {
    button_click('gunicorn-indi-allsky.service', 'stop');
});
$("#button_gunicorn_indi_allsky_service_start").on("click", function() {
    button_click('gunicorn-indi-allsky.service', 'start');
});



$("#button_system_reboot").on("click", function() {
    if (! $("#REBOOT_CONFIRM1").prop('checked')) {
        console.log('Reboot checkbox not checked');
        return;
    }

    if (! $("#REBOOT_CONFIRM2").prop('checked')) {
        console.log('Reboot checkbox not checked');
        return;
    }

    $("#loader_shutdown").css({'display' : 'block'});
    $("#button_system_reboot").prop('disabled', true);
    $("#button_system_shutdown").prop('disabled', true);

    $("#REBOOT_CONFIRM1").prop('checked', false);
    $("#REBOOT_CONFIRM2").prop('checked', false);

    button_click('system', 'reboot');
});


$("#button_system_shutdown").on("click", function() {
    if (! $("#SHUTDOWN_CONFIRM1").prop('checked')) {
        console.log('Shutdown checkbox not checked');
        return;
    }
    if (! $("#SHUTDOWN_CONFIRM2").prop('checked')) {
        console.log('Shutdown checkbox not checked');
        return;
    }

    $("#loader_shutdown").css({'display' : 'block'});
    $("#button_system_reboot").prop('disabled', true);
    $("#button_system_shutdown").prop('disabled', true);

    $("#SHUTDOWN_CONFIRM1").prop('checked', false);
    $("#SHUTDOWN_CONFIRM2").prop('checked', false);

    button_click('system', 'poweroff');
});

$("#button_validate_db").on("click", function() {
    if (! $("#VALIDATE_DB_CONFIRM").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    }

    $("#loader_shutdown").css({'display' : 'block'});
    $("#button_validate_db").prop('disabled', true);

    $("#VALIDATE_DB_CONFIRM").prop('checked', false);

    button_click('system', 'validate_db');
});

$("#button_flush_images").on("click", function() {
    if (! $("#FLUSH_IMAGES_CONFIRM1").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    }

    if (! $("#FLUSH_IMAGES_CONFIRM2").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    }

    $("#loader_shutdown").css({'display' : 'block'});
    $("#button_flush_images").prop('disabled', true);

    $("#FLUSH_IMAGES_CONFIRM1").prop('checked', false);
    $("#FLUSH_IMAGES_CONFIRM2").prop('checked', false);

    button_click('system', 'flush_images');
});

$("#button_flush_timelapses").on("click", function() {
    if (! $("#FLUSH_TIMELAPSES_CONFIRM1").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    }

    if (! $("#FLUSH_TIMELAPSES_CONFIRM2").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    }

    $("#loader_shutdown").css({'display' : 'block'});
    $("#button_flush_timelapses").prop('disabled', true);

    $("#FLUSH_TIMELAPSES_CONFIRM1").prop('checked', false);
    $("#FLUSH_TIMELAPSES_CONFIRM2").prop('checked', false);

    button_click('system', 'flush_timelapses');
});

$("#button_flush_daytime").on("click", function() {
    if (! $("#FLUSH_DAYTIME_CONFIRM1").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    }

    if (! $("#FLUSH_DAYTIME_CONFIRM2").prop('checked')) {
        console.log('Flush checkbox not checked');
        return;
    }

    $("#loader_shutdown").css({'display' : 'block'});
    $("#button_flush_daytime").prop('disabled', true);

    $("#FLUSH_DAYTIME_CONFIRM1").prop('checked', false);
    $("#FLUSH_DAYTIME_CONFIRM2").prop('checked', false);

    button_click('system', 'flush_daytime');
});



function reloadPage() {
    console.log('Reload page');
    location.reload();
}

$( document ).ready(function() {
    // Uncheck checkboxes
    $("#REBOOT_CONFIRM").prop('checked', false);
    $("#SHUTDOWN_CONFIRM1").prop('checked', false);
    $("#SHUTDOWN_CONFIRM2").prop('checked', false);
    $("#VALIDATE_DB_CONFIRM").prop('checked', false);
    $("#FLUSH_IMAGES_CONFIRM1").prop('checked', false);
    $("#FLUSH_IMAGES_CONFIRM2").prop('checked', false);
    $("#FLUSH_TIMELAPSES_CONFIRM1").prop('checked', false);
    $("#FLUSH_TIMELAPSES_CONFIRM2").prop('checked', false);

    const now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    form_settime_fields['NEW_DATETIME']['input'].val(now.toISOString().slice(0, 19));

    setTimeout(reloadPage, 300000);
});

</script>
{% endblock %}
