{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<style>
</style>
<link href="{{ url_for('indi_allsky.static', filename='DataTables/datatables.min.css') }}" rel="stylesheet">
<script src="{{ url_for('indi_allsky.static', filename='DataTables/datatables.min.js') }}"></script>
<script type="text/javascript">
var camera_id = {{ camera_id }};
</script>

{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <table id="tasks-table" class="table table-striped compact" data-bs-theme="dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Queue</th>
        <th>Action</th>
        <th>State</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.createDate.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ task.queue }}</td>
        <td>{{ task.action }}</td>
        <td>{{ task.state }}</td>
        <td>{{ task.result }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
function init() {
    new DataTable('#tasks-table', {
        searching: true,
        order: [[1, 'desc']],
        lengthMenu: [20, 50, 100, -1],
        layout: {
            topEnd: ['buttons', 'search'],
        },
        buttons: [
            'copy',
            'csv',
            'excel',
        ]
    });
}


$( document ).ready(function() {
    init();
});
</script>
{% endblock %}
