{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
.fit {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/clipboard.min.js') }}"></script>
<script type="text/javascript">
var img;
var fullscreen = false;  //initial state
var camera_id = {{ camera_id }};
var image_id = {{ image_id }};
var file_view = "{{ file_view }}";
var image_url = "{{ image_url }}";
</script>
{% endblock %}

{% block content %}
<div class="container h-100">

<h3>{{ createDate_full }} - {{ timeofday }}</h3>

<hr>

<div class="row h-75 align-items-center">
    <div class="col-sm-12 text-center">
        <img id="image" class="fit">

        <div style="margin-top: 20px;">
            <span id="permalink"></span>
            <span id="download"></span>
        </div>
    </div>
</div>

</div>

<script>

function showImage(url) {
    console.log('Showing image ' + url);

    img = new Image();
    img.onload = function() {
        $('#image').attr({
            'src': this.src,
        });
    };


    img.src = url;
}

function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    showImage(image_url);
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



function init() {
    new ClipboardJS('.copy-clipboard');


    showImage(image_url);


    $('#permalink').html(
        $('<span />', {
            'text'  : "Copy Link to Clipboard",
            'class' : "badge pill bg-primary copy-clipboard",
            'style' : "cursor: pointer;",
            'data-clipboard-text' : "{{ url_for(file_view, _external=True) }}?id=" + image_id,
        })
    );
    $('#download').html(
        $('<a />', {
            'href' : "{{ image_url }}",
            'rel' : "noopener noreferrer",
            'download' : '',
        }).html(
            $('<span />', {
                'text'  : 'Download',
                'class' : "badge pill bg-danger",
            })
        )
    );
}

$( document ).ready(function() {
    $('#image').on("click", function() {
        goFullscreen(this);
    });

    init();
});
</script>


{% endblock %}
