{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
canvas {
    width: 100%;
    height: auto;
}
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/clipboard.min.js') }}"></script>
<script type="text/javascript">
var fullscreen = false;  //initial state
var image_id = {{ image_id }};
var file_view = "{{ file_view }}";
var image_url = "{{ image_url }}";
</script>
{% endblock %}

{% block content %}
<h3>{{ createDate_full }} - {{ timeofday }}</h3>

<hr>

<div class="row">
    <div class="col-sm-12">
        <canvas id="canvas"></canvas>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <span id="permalink"></span>
        <span id="download"></span>
    </div>
</div>

<script>

function showImage(url) {
    console.log('Showing image ' + url);

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    var img = new Image();
    img.src = url;
    img.onload = function() {
        canvas.setAttribute("width", window.innerWidth);
        canvas.setAttribute("height", window.innerHeight);

        var hRatio = canvas.width  / this.width;
        var vRatio = canvas.height / this.height;
        var ratio  = Math.min ( hRatio, vRatio );
        var centerShift_x = ( canvas.width - this.width * ratio ) / 2;
        var centerShift_y = ( canvas.height - this.height * ratio ) / 2;

        //context.imageSmoothingEnabled = false;
        context.drawImage(this, 0, 0, this.width, this.height,
            centerShift_x, centerShift_y, this.width * ratio, this.height * ratio);

    };
}

function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    showImage(image_url);
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



function init() {
    new ClipboardJS('.copy-clipboard');

    showImage(image_url);

    $('#permalink').html(
        $('<span />', {
            'text'  : "Copy Link to Clipboard",
            'class' : "badge pill bg-primary copy-clipboard",
            'style' : "cursor: pointer;",
            'data-clipboard-text' : "{{ url_for(file_view, _external=True) }}?id=" + image_id,
        })
    );
    $('#download').html(
        $('<a />', {
            'href' : "{{ image_url }}",
            'rel' : "noopener noreferrer",
            'download' : '',
        }).html(
            $('<span />', {
                'text'  : 'Download',
                'class' : "badge pill bg-danger",
            })
        )
    );
}

$( document ).ready(function() {
    $('#canvas').on("click", function() {
        goFullscreen(this);
    });

    init();
});
</script>


{% endblock %}
