{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<script src="{{ url_for('indi_allsky.static', filename='virtualsky/stuquery.min.js') }}"></script>
<script src="{{ url_for('indi_allsky.static', filename='virtualsky/virtualsky.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">
var img;
var json_data = {
    'image_list' : [],
    'message' : '',
};
var max_age = 900;
var camera_id = {{ camera_id }};
var refreshInterval = {{ refreshInterval | int }};
var timestamp = {{ timestamp | int }};  // does not really do anything yet
var fullscreen = false;  // initial state

var camera_latitude = {{ camera_latitude }};
var camera_longitude = {{ camera_longitude }};
var time_offset = {{ time_offset }};

var planetarium;
var redraw_planetarium = false;
var last_image_timestamp = 0;


function init() {
    console.log("Camera Latitude: " + camera_latitude);
    console.log("Camera Longitude: " + camera_longitude);
    //console.log("Camera Image Circle: " + camera_lensimagecircle);
    //console.log("Lens Offset X: " + camera_lens_offset_x);
    //console.log("Lens Offset Y: " + camera_lens_offset_y);


    // Azimuth manipulations
    //console.log("Camera Azimuth: " + camera_az);
    //console.log("Camera Altitude: " + camera_alt);


    // Calculate latitude and longitude offset
    /*
    if (camera_az < 90) {
        az_90 = camera_az % 90
    } else if (camera_az >= 90 && camera_az < 180) {
        az_90 = 90 - (camera_az % 90)
    } else if (camera_az >= 180 && camera_az < 270) {
        az_90 = camera_az % 90
    } else {
        az_90 = 90 - (camera_az % 90)
    }


    var a_adj = 100;  // fake adjacent leg of triangle, can be any value

    var a_opp = Math.tan(((90 - camera_alt) * Math.PI) / 180) * a_adj;

    var b_hyp_2 = a_opp;
    var lat_adj = Math.cos((az_90 * Math.PI) / 180) * b_hyp_2;

    var z_opp = lat_adj;
    var lat_deg_offset = Math.atan(z_opp / a_adj) * (180 / Math.PI);
    if (camera_az < 90 || camera_az > 270) {
        // relatively sure this is correct
        lat_deg_offset *= -1;
    }


    var long_adj = Math.cos(((90 - az_90) * Math.PI) / 180) * b_hyp_2;
    var z2_opp = long_adj;
    long_deg_offset = Math.atan(z2_opp / a_adj) * (180 / Math.PI);
    if (camera_az < 180) {
        // unsure which direction should add/subract
        // this may be backwards
        long_deg_offset *= -1;
    }


    console.log("Latitude Offset: " + lat_deg_offset);
    console.log("Longitude Offset: " + long_deg_offset);


    // Set form values
    $("#LATITUDE_OFFSET").val(lat_deg_offset.toFixed(2));
    $("#LONGITUDE_OFFSET").val(long_deg_offset.toFixed(2));
    */


    loadNextImage();
    loop();
}

async function loop() {
    //console.log('Starting loop');
    while(json_data['image_list'].length == 0) {
        await sleep(100);
    }

    var image_width = json_data['image_list'][0]['width'];
    var image_height = json_data['image_list'][0]['height'];
    var image_timestamp = json_data['image_list'][0]['timestamp'];

    img = new Image();
    img.crossOrigin = "anonymous";
    img.onload = function() {
        $('#latest-image').attr({
            'src': this.src,
        });


        if (redraw_planetarium || image_timestamp != last_image_timestamp) {
            var magnitude = Number($("#MAGNITUDE").val());
            var constellations = $("#CONSTELLATIONS").prop('checked');
            var constellationlabels = $("#CONSTELLATIONLABELS").prop('checked');
            var showstars = $("#SHOWSTARS").prop('checked');
            var showstarlabels = $("#SHOWSTARLABELS").prop('checked');
            var showplanets = $("#SHOWPLANETS").prop('checked');
            var showplanetlabels = $("#SHOWPLANETLABELS").prop('checked');

            var azimuth_angle = Number($("#AZIMUTH_ANGLE").val());
            var latitude_offset = Number($("#LATITUDE_OFFSET").val());
            var longitude_offset = Number($("#LONGITUDE_OFFSET").val());
            var image_circle_diameter = Number($("#IMAGE_CIRCLE_DIAMETER").val());
            var offset_x = Number($("#OFFSET_X").val());
            var offset_y = Number($("#OFFSET_Y").val());

            var vs_latitude = camera_latitude + latitude_offset;
            var vs_longitude = camera_longitude + longitude_offset;

            console.log("Latitude (with offset): " + vs_latitude);
            console.log("Longitude (with offset): " + vs_longitude);


            // Get the rendered size of the image and save w/h
            const render_width = $('#latest-image').width();
            const render_height = $('#latest-image').height();

            const image_scale = render_width / image_width;

            // Determine offsets of the starmap overlay
            const bias_left = ((( image_circle_diameter * image_scale - render_width ) / 2) - ( offset_x * image_scale )) * -1;
            const bias_top = ((( image_circle_diameter * image_scale - render_height ) / 2) + ( offset_y * image_scale )) * -1;

            // Apply those dimensions to the starmap container
            $('#starmap_container').css({
                width: render_width + 'px',
                height: render_height  + 'px'
            });

            // Apply those dimensions to the starmap itself
            $('#starmap').css({
                left: bias_left + 'px',
                top: bias_top + 'px'
            });


            // VirtualSky reverses north/south for some reason
            var vs_az = 180 - azimuth_angle;

            // Make sure azimuth is between 0 and 360
            if (vs_az >= 360) {
                vs_az -= 360;
            } else if (vs_az < 0) {
                vs_az += 360;
            }


            // Most cameras are east/west reversed
            var vs_az = 360 - vs_az;
            console.log("Calculated VirtualSky Azimuth: " + vs_az);


            // Using image timestamp for planetarium
            var clock = new Date((image_timestamp - time_offset) * 1000);
            console.log("Time Offset: " + time_offset);
            console.log("Date: " + clock);


            planetarium = S.virtualsky({
                id: 'starmap',
                projection: 'fisheye',
                live: false,
                clock: clock,
                latitude: vs_latitude,
                longitude: vs_longitude,
                az: vs_az,
                magnitude: magnitude,
                constellations: constellations,
                constellationlabels: constellationlabels,
                showstars: showstars,
                showstarlabels: showstarlabels,
                showplanets: showplanets,
                showplanetlabels: showplanetlabels,
                showgalaxy: true,
                gridstep: 30,
                gridlines_eq: true,
                gridlines_az: false,
                gridlines_gal: false,
                ecliptic: false,
                meridian: false,
                mouse: false,
                keyboard: false,
                showdate: false,
                showposition: false,
                gradient: false,
                transparent: true,
                cardinalpoints: true,
                credit: false,
                /* force the star map size here by using the lensImageCircle
                and resizing based on the ratio of the actual image sized versus rendered size */
                width: image_circle_diameter * image_scale,
                height: image_circle_diameter * image_scale,
            });


            redraw_planetarium = false;

            // update timestamp
            last_image_timestamp = image_timestamp;
        }
    };


    showImage(json_data['image_list'][0]);

    setTimeout(loop, refreshInterval);
}


function showImage(entry) {
    console.log('Showing image ' + entry["url"]);
    img.src = entry["url"];
}


function loadNextImage() {
    console.log('Loading next image');
    loadJS("{{ url_for(image_loop_view) }}", {'camera_id' : camera_id, 'limit_s' : 900, 'timestamp' : timestamp}, function() {});
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            json_data = rdata
            $('#message').html(json_data['message']);

            redraw_planetarium = true;
        },
        error: function(rdata){
            onError(rdata.status);
            $('#message').html('Error loading data.  Please check the logs.');
        },
    });
}

</script>
{% endblock %}

{% block content %}
<div class="tw:p-4 tw:flex tw:flex-col tw:gap-6 tw:w-full">

    <!-- Settings Accordion Drawer -->
    <div class="tw:collapse tw:collapse-arrow tw:bg-base-200 tw:border tw:border-base-300 tw:shadow-sm tw:rounded-[var(--radius-box)]">
        <input type="checkbox" id="settings-toggle" class="tw:peer">
        <div class="tw:collapse-title tw:flex tw:items-center tw:gap-2.5 tw:p-4 tw:text-xs tw:font-bold tw:uppercase tw:tracking-wider tw:text-base-content/70">
            <i class="tw:icon-[lucide--settings] tw:w-4 tw:h-4"></i>
            <span>VirtualSky Overlay Controls</span>
        </div>
        <div class="tw:collapse-content tw:px-6 tw:pb-6">
            <form id="form_virtualsky" onSubmit="return false;">
                <div class="tw:space-y-6 tw:pt-2">
                    
                    <div class="tw:grid tw:grid-cols-1 md:tw:grid-cols-3 tw:gap-4">
                        {% for field in [form_virtualsky.AZIMUTH_ANGLE, form_virtualsky.LATITUDE_OFFSET, form_virtualsky.LONGITUDE_OFFSET] %}
                        <div class="tw:form-control">
                            <label class="tw:label tw:pb-1"><span class="tw:label-text tw:text-[0.625rem] tw:font-bold tw:uppercase tw:tracking-wider tw:text-base-content/60">{{ field.label.text }}</span></label>
                            {{ field(class='tw:input tw:input-bordered tw:input-sm tw:h-11 tw:bg-base-100 tw:rounded-[var(--radius-box)] tw:text-sm tw:w-full') }}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tw:grid tw:grid-cols-2 md:tw:grid-cols-4 tw:gap-4">
                        {% for field in [form_virtualsky.IMAGE_CIRCLE_DIAMETER, form_virtualsky.OFFSET_X, form_virtualsky.OFFSET_Y, form_virtualsky.MAGNITUDE] %}
                        <div class="tw:form-control">
                            <label class="tw:label tw:pb-1"><span class="tw:label-text tw:text-[0.625rem] tw:font-bold tw:uppercase tw:tracking-wider tw:text-base-content/60">{{ field.label.text }}</span></label>
                            {% if field == form_virtualsky.IMAGE_CIRCLE_DIAMETER %}
                            {{ field(class='tw:input tw:input-bordered tw:input-sm tw:h-11 tw:bg-base-100 tw:rounded-[var(--radius-box)] tw:text-sm tw:w-full', title="The solved value is the 180° horizon circle under VirtualSky's equisolid fisheye projection. It can differ by a few percent from the visible illuminated circle in the image -- larger for lenses with less than a 180° field of view, smaller for lenses with more than 180°.") }}
                            {% else %}
                            {{ field(class='tw:input tw:input-bordered tw:input-sm tw:h-11 tw:bg-base-100 tw:rounded-[var(--radius-box)] tw:text-sm tw:w-full') }}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:gap-6 tw:items-center tw:pt-2">
                        {% for field in [form_virtualsky.CONSTELLATIONS, form_virtualsky.SHOWSTARS, form_virtualsky.SHOWPLANETS, form_virtualsky.CONSTELLATIONLABELS, form_virtualsky.SHOWSTARLABELS, form_virtualsky.SHOWPLANETLABELS] %}
                        <div class="tw:flex tw:items-center tw:gap-2.5">
                            <input type="checkbox" class="tw:toggle tw:toggle-primary tw:toggle-sm" {{ 'checked' if field.data else '' }} id="{{ field.id }}" name="{{ field.name }}">
                            <label for="{{ field.id }}" class="tw:label-text tw:text-[0.625rem] tw:font-bold tw:uppercase tw:tracking-wider tw:text-base-content/85 tw:cursor-pointer">{{ field.label.text }}</label>
                        </div>
                        {% endfor %}
                        
                        <a href="https://github.com/aaronwmorris/indi-allsky/wiki/VirtualSky" target="_blank"
                           class="tw:btn tw:btn-xs tw:btn-neutral tw:btn-accent-hover tw:gap-1.5 tw:rounded-full tw:no-underline tw:ml-auto">
                            <i class="tw:icon-[lucide--external-link] tw:w-3 tw:h-3 tw:block"></i> VirtualSky Wiki
                        </a>
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:gap-4 tw:items-center tw:pt-4 tw:border-t tw:border-base-300/40">
                        <button id="lens_solve" type="button"
                                title="Astrometrically solve the six geometry fields from the image shown below. Results fill the form for review; nothing is saved."
                                class="tw:btn tw:btn-sm tw:btn-info tw:gap-1.5 tw:rounded-[var(--radius-box)]">
                            <span id="lens_solve_spinner" class="tw:loading tw:loading-spinner tw:loading-xs" style="display: none;" aria-hidden="true"></span>
                            Solve
                        </button>

                        {# Gate mirrors the server-side save() check exactly -- admin, or
                           LOGIN_DISABLED mode where all users act as admin. #}
                        {% if login_disabled or (current_user.is_authenticated and current_user.is_admin) %}
                        <button id="lens_save" type="button" disabled
                                title="Write the six values above to the configuration. See the note below for details."
                                aria-describedby="lens_save_help"
                                class="tw:btn tw:btn-sm tw:btn-primary tw:gap-1.5 tw:rounded-[var(--radius-box)]">
                            Save
                        </button>
                        <label class="tw:flex tw:items-center tw:gap-2 tw:cursor-pointer tw:select-none">
                            <input type="checkbox" id="lens_reload_on_save" class="tw:toggle tw:toggle-primary tw:toggle-sm">
                            <span title="Automatically restart capture service upon saving configuration"
                                  class="tw:label-text tw:text-[0.625rem] tw:font-bold tw:uppercase tw:tracking-wider tw:cursor-pointer">Reload on Save</span>
                        </label>
                        {% endif %}

                        <button id="lens_help_toggle" type="button"
                                title="What do Solve and Save do?"
                                aria-expanded="false" aria-controls="lens_help"
                                class="tw:btn tw:btn-xs tw:btn-circle tw:btn-neutral">?</button>

                        <span id="lens_solver_message" class="tw:text-xs tw:text-base-content/70" aria-live="polite" role="status"></span>
                    </div>

                    <div id="lens_help" style="display: none;"
                         class="tw:text-xs tw:text-base-content/70 tw:space-y-1.5 tw:pt-2 tw:max-w-2xl">
                        <p><strong>Solve</strong> detects stars in the image shown below and fits the six geometry
                           fields above (all but Magnitude) to match the sky at that image's timestamp. Results
                           fill the form for review &mdash; nothing is saved. The entered values seed the search:
                           any Azimuth Angle works, the Diameter can be off by roughly 40%, but the X/Y Offsets
                           must be within about 100 px of correct. Cloudy, moonlit, or twilight frames are
                           refused &mdash; open a clear frame from the Gallery and solve that instead.</p>
                        <p id="lens_save_help"><strong>Save</strong> writes
                           <code class="tw:bg-neutral-content/10 tw:font-mono tw:px-1.5 tw:py-0.5 tw:rounded">LENS_AZIMUTH</code> and the
                           <code class="tw:bg-neutral-content/10 tw:font-mono tw:px-1.5 tw:py-0.5 tw:rounded">VIRTUALSKY</code>
                           offset/diameter settings above to the camera configuration. Azimuth also repositions
                           the cardinal-direction labels burned into future captured images.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Planetarium Map Canvas and Download Row -->
    <div class="tw:text-center tw:space-y-4">
        <div id="message" class="tw:flex tw:items-center tw:justify-center tw:gap-2.5 tw:text-xs tw:text-base-content/50">
            <span class="tw:loading tw:loading-spinner tw:loading-xs tw:text-info"></span> Loading Sky Map...
        </div>
        
        <div class="tw:w-full tw:alert tw:alert-info tw:py-3.5 tw:text-xs tw:rounded-[var(--radius-box)] tw:shadow-sm tw:max-w-xl tw:mx-auto">
            <i class="tw:icon-[lucide--info] tw:w-4 tw:h-4"></i>
            <span>Calibration settings must be configured under <code class="tw:bg-neutral-content/10 tw:font-mono tw:px-1.5 tw:py-0.5 tw:rounded">Config -> Location</code></span>
        </div>

        <div id="wrapper" class="tw:relative tw:bg-neutral-950 tw:rounded-[var(--radius-box)] tw:border tw:border-base-300/40 tw:overflow-hidden tw:shadow-2xl tw:w-fit tw:max-w-full tw:mx-auto">
            <img id="latest-image" crossorigin="anonymous" class="tw:max-h-[calc(100dvh-14rem)] tw:w-auto tw:h-auto tw:object-contain tw:block" alt="Live Allsky View">
            <div id="starmap_container" class="tw:absolute tw:inset-0">
                <div id="starmap"></div>
            </div>
        </div>

        <div class="tw:flex tw:flex-wrap tw:justify-center tw:items-center tw:gap-3 tw:mt-4">
            <button id="download_overlay" type="button" class="tw:btn tw:btn-sm tw:btn-primary tw:h-11 tw:px-6 tw:rounded-[var(--radius-box)] shadow-sm tw:gap-2">
                <i class="tw:icon-[lucide--layers] tw:w-4 tw:h-4 tw:block"></i> Download Image with Overlay
            </button>
            <button id="download_map" type="button" class="tw:btn tw:btn-sm tw:btn-info tw:btn-outline tw:h-11 tw:px-6 tw:rounded-[var(--radius-box)] shadow-sm tw:gap-2">
                <i class="tw:icon-[lucide--download] tw:w-4 tw:h-4 tw:block"></i> Download Map Data
            </button>
        </div>
    </div>
</div>

<script>
function forceRedrawPlanetarium() {
    if (json_data['image_list'].length > 0) {
        redraw_planetarium = true;

        showImage(json_data['image_list'][0]);
    };
}


$("#AZIMUTH_ANGLE").on("change", function() {
    forceRedrawPlanetarium();
});

$("#LATITUDE_OFFSET").on("change", function() {
    forceRedrawPlanetarium();
});

$("#LONGITUDE_OFFSET").on("change", function() {
    forceRedrawPlanetarium();
});

$("#IMAGE_CIRCLE_DIAMETER").on("change", function() {
    forceRedrawPlanetarium();
});

$("#OFFSET_X").on("change", function() {
    forceRedrawPlanetarium();
});

$("#OFFSET_Y").on("change", function() {
    forceRedrawPlanetarium();
});

$("#MAGNITUDE").on("change", function() {
    forceRedrawPlanetarium();
});

$("#CONSTELLATIONS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#CONSTELLATIONLABELS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#SHOWSTARS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#SHOWSTARLABELS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#SHOWPLANETS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#SHOWPLANETLABELS").on("change", function() {
    forceRedrawPlanetarium();
});


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    forceRedrawPlanetarium();
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}


$( document ).ready(function() {
    $('#latest-image').on("click", function() {
        goFullscreen(this);
    });

    init();
});


function saveBlob(blob, filename) {
    if (!blob) return;
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.style.display = 'none';
    a.href = url;
    a.download = filename;
    a.target = '_self';
    document.body.appendChild(a);
    a.dispatchEvent(new MouseEvent('click', { bubbles: true, cancelable: true }));
    setTimeout(() => {
        a.remove();
        URL.revokeObjectURL(url);
    }, 1500);
}

function getDownloadTimestamp() {
    return last_image_timestamp || Math.floor(Date.now() / 1000);
}

async function downloadImageWithOverlay() {
    const $btn = $('#download_overlay');
    $btn.prop('disabled', true);

    try {
        const imgElem = document.getElementById('latest-image');
        const starmapCanvas = document.querySelector('#starmap canvas');
        const starmapElem = document.getElementById('starmap');

        if (!imgElem || !imgElem.src || !imgElem.complete || !imgElem.naturalWidth) {
            console.warn('Image is not loaded yet.');
            return;
        }

        const renderWidth = imgElem.width || imgElem.offsetWidth || imgElem.naturalWidth;
        const renderHeight = imgElem.height || imgElem.offsetHeight || imgElem.naturalHeight;

        const canvas = document.createElement('canvas');
        canvas.width = renderWidth;
        canvas.height = renderHeight;
        const ctx = canvas.getContext('2d');

        // Draw camera image
        ctx.drawImage(imgElem, 0, 0, renderWidth, renderHeight);

        // Draw starmap overlay if present
        if (starmapCanvas && starmapElem) {
            const left = parseFloat(starmapElem.style.left) || 0;
            const top = parseFloat(starmapElem.style.top) || 0;
            ctx.drawImage(starmapCanvas, left, top);
        }

        canvas.toBlob(blob => {
            saveBlob(blob, 'virtualsky_overlay_' + getDownloadTimestamp() + '.png');
        }, 'image/png');
    } catch (err) {
        console.error('Failed to download composite image:', err);
    } finally {
        setTimeout(() => {
            $btn.prop('disabled', false);
        }, 500);
    }
}

async function downloadMapData() {
    const $btn = $('#download_map');
    $btn.prop('disabled', true);

    try {
        const starmapCanvas = document.querySelector('#starmap canvas');
        if (!starmapCanvas) {
            console.warn('Star map canvas is not rendered yet.');
            return;
        }

        starmapCanvas.toBlob(blob => {
            saveBlob(blob, 'virtualsky_map_' + getDownloadTimestamp() + '.png');
        }, 'image/png');
    } catch (err) {
        console.error('Failed to download map data:', err);
    } finally {
        setTimeout(() => {
            $btn.prop('disabled', false);
        }, 500);
    }
}

$('#download_overlay, #download').on('click', function(e) {
    e.preventDefault();
    downloadImageWithOverlay();
});

$('#download_map').on('click', function(e) {
    e.preventDefault();
    downloadMapData();
});


const SOLVE_FIELDS = ['AZIMUTH_ANGLE', 'LATITUDE_OFFSET', 'LONGITUDE_OFFSET',
                      'IMAGE_CIRCLE_DIAMETER', 'OFFSET_X', 'OFFSET_Y'];

function solverPayload(action) {
    var payload = {'action': action, 'camera_id': camera_id};
    SOLVE_FIELDS.forEach(function(f) {
        payload[f] = $('#' + f).val();
    });
    return payload;
}

// Outcome-conditional coloring for the #lens_solver_message banner:
// muted default while idle/in-progress, success/error only on an actual outcome.
function setSolverMessage(text, state) {
    var $msg = $('#lens_solver_message');
    $msg.removeClass('tw:text-error tw:text-success tw:text-base-content/70');
    if (state === 'error') {
        $msg.addClass('tw:text-error');
    } else if (state === 'success') {
        $msg.addClass('tw:text-success');
    } else {
        $msg.addClass('tw:text-base-content/70');
    }
    $msg.text(text);
}

// #lens_save is tw:btn-primary at rest -- red (tw:btn-error) is this app's
// failure signal, so it is only ever applied after an actual failed save.
function setSaveButtonFailed(failed) {
    var $btn = $('#lens_save');
    if (failed) {
        $btn.removeClass('tw:btn-primary').addClass('tw:btn-error');
    } else {
        $btn.removeClass('tw:btn-error').addClass('tw:btn-primary');
    }
}

$('#lens_help_toggle').on('click', function() {
    var $help = $('#lens_help');
    var open = $help.is(':visible');
    $help.toggle(!open);
    $(this).attr('aria-expanded', String(!open));
});

$('#lens_solve').on('click', function() {
    if (!last_image_timestamp) {
        setSolverMessage('No image loaded yet.', 'error');
        return;
    }

    var payload = solverPayload('solve');
    // use the timestamp of the frame actually being displayed, not whatever
    // the image-list poll most recently fetched
    payload['timestamp'] = last_image_timestamp;

    $('#lens_solve').prop('disabled', true);
    // disabled for the duration of the solve; re-enabled only on a
    // successful solve below (never in the failure/error/complete paths)
    $('#lens_save').prop('disabled', true);
    $('#lens_solve_spinner').show();
    setSolverMessage('Solving...', 'info');

    $.ajax({
        type: 'POST',
        url: "{{ url_for('indi_allsky.ajax_lens_solver_view') }}",
        contentType: 'application/json',
        data: JSON.stringify(payload),
        timeout: 60000,
        success: function(rdata) {
            if (rdata['success']) {
                SOLVE_FIELDS.forEach(function(f) {
                    $('#' + f).val(rdata['values'][f]);
                });
                forceRedrawPlanetarium();
                setSolverMessage(rdata['message'], 'success');
                setSaveButtonFailed(false);
                $('#lens_save').prop('disabled', false);
            } else {
                setSolverMessage(rdata['message'], 'error');
            }
        },
        error: function(xhr) {
            var msg = 'Solve failed.';
            if (xhr.responseJSON && xhr.responseJSON['message']) {
                msg = xhr.responseJSON['message'];
            }
            setSolverMessage(msg, 'error');
        },
        complete: function() {
            $('#lens_solve').prop('disabled', false);
            $('#lens_solve_spinner').hide();
        },
    });
});

$('#lens_save').on('click', function() {
    var payload = solverPayload('save');
    payload['RELOAD_ON_SAVE'] = $('#lens_reload_on_save').prop('checked');

    // one-shot opt-in, matching config.html's convention: force back to
    // unchecked immediately so it doesn't silently carry over to a later save
    $('#lens_reload_on_save').prop('checked', false);

    $('#lens_save').prop('disabled', true);
    setSaveButtonFailed(false);
    setSolverMessage('Saving...', 'info');

    $.ajax({
        type: 'POST',
        url: "{{ url_for('indi_allsky.ajax_lens_solver_view') }}",
        contentType: 'application/json',
        data: JSON.stringify(payload),
        timeout: 15000,
        success: function(rdata) {
            setSolverMessage(rdata['message'], 'success');
            $('#lens_save').prop('disabled', false);
        },
        error: function(xhr) {
            // ConfigSaveException returns 400 {'form_global': ['...']} with
            // no 'message' key (mirrors AjaxConfigView) -- fall back to it
            // before the generic string so the real validation error shows.
            var msg = (xhr.responseJSON && (xhr.responseJSON['message'] || (xhr.responseJSON['form_global'] && xhr.responseJSON['form_global'][0]))) || 'Save failed.';
            setSolverMessage(msg, 'error');
            setSaveButtonFailed(true);
            $('#lens_save').prop('disabled', false);
        },
    });
});

</script>
{% endblock %}
