{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<script src="{{ url_for('indi_allsky.static', filename='virtualsky/stuquery.min.js') }}"></script>
<script src="{{ url_for('indi_allsky.static', filename='virtualsky/virtualsky.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('indi_allsky.static', filename='html2canvas/html2canvas.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">
var img;
var json_data = {
    'image_list' : [],
    'message' : '',
};
var max_age = 900;
var camera_id = {{ camera_id }};
var refreshInterval = {{ refreshInterval | int }};
var timestamp = {{ timestamp | int }};  // does not really do anything yet
var night = {{ night }};
var fullscreen = false;  // initial state

var camera_latitude = {{ camera_latitude }};
var camera_longitude = {{ camera_longitude }};
var time_offset = {{ time_offset }};

var planetarium;
var redraw_planetarium = false;
var last_image_timestamp = 0;


function init() {
    console.log("Camera Latitude: " + camera_latitude);
    console.log("Camera Longitude: " + camera_longitude);
    //console.log("Camera Image Circle: " + camera_lensimagecircle);
    //console.log("Lens Offset X: " + camera_lens_offset_x);
    //console.log("Lens Offset Y: " + camera_lens_offset_y);


    // Azimuth manipulations
    //console.log("Camera Azimuth: " + camera_az);
    //console.log("Camera Altitude: " + camera_alt);


    // Calculate latitude and longitude offset
    /*
    if (camera_az < 90) {
        az_90 = camera_az % 90
    } else if (camera_az >= 90 && camera_az < 180) {
        az_90 = 90 - (camera_az % 90)
    } else if (camera_az >= 180 && camera_az < 270) {
        az_90 = camera_az % 90
    } else {
        az_90 = 90 - (camera_az % 90)
    }


    var a_adj = 100;  // fake adjacent leg of triangle, can be any value

    var a_opp = Math.tan(((90 - camera_alt) * Math.PI) / 180) * a_adj;

    var b_hyp_2 = a_opp;
    var lat_adj = Math.cos((az_90 * Math.PI) / 180) * b_hyp_2;

    var z_opp = lat_adj;
    var lat_deg_offset = Math.atan(z_opp / a_adj) * (180 / Math.PI);
    if (camera_az < 90 || camera_az > 270) {
        // relatively sure this is correct
        lat_deg_offset *= -1;
    }


    var long_adj = Math.cos(((90 - az_90) * Math.PI) / 180) * b_hyp_2;
    var z2_opp = long_adj;
    long_deg_offset = Math.atan(z2_opp / a_adj) * (180 / Math.PI);
    if (camera_az < 180) {
        // unsure which direction should add/subract
        // this may be backwards
        long_deg_offset *= -1;
    }


    console.log("Latitude Offset: " + lat_deg_offset);
    console.log("Longitude Offset: " + long_deg_offset);


    // Set form values
    $("#LATITUDE_OFFSET").val(lat_deg_offset.toFixed(2));
    $("#LONGITUDE_OFFSET").val(long_deg_offset.toFixed(2));
    */


    loadNextImage();
    loop();
}

async function loop() {
    //console.log('Starting loop');
    while(json_data['image_list'].length == 0) {
        await sleep(100);
    }

    var image_width = json_data['image_list'][0]['width'];
    var image_height = json_data['image_list'][0]['height'];
    var image_timestamp = json_data['image_list'][0]['timestamp'];

    img = new Image();
    img.onload = function() {
        $('#latest-image').attr({
            'src': this.src,
        });


        if (redraw_planetarium || image_timestamp != last_image_timestamp) {
            var magnitude = Number($("#MAGNITUDE").val());
            var constellations = $("#CONSTELLATIONS").prop('checked');
            var constellationlabels = $("#CONSTELLATIONLABELS").prop('checked');
            var showstars = $("#SHOWSTARS").prop('checked');
            var showstarlabels = $("#SHOWSTARLABELS").prop('checked');
            var showplanets = $("#SHOWPLANETS").prop('checked');
            var showplanetlabels = $("#SHOWPLANETLABELS").prop('checked');

            var azimuth_angle = Number($("#AZIMUTH_ANGLE").val());
            var latitude_offset = Number($("#LATITUDE_OFFSET").val());
            var longitude_offset = Number($("#LONGITUDE_OFFSET").val());
            var image_circle_diameter = Number($("#IMAGE_CIRCLE_DIAMETER").val());
            var offset_x = Number($("#OFFSET_X").val());
            var offset_y = Number($("#OFFSET_Y").val());

            var vs_latitude = camera_latitude + latitude_offset;
            var vs_longitude = camera_longitude + longitude_offset;

            console.log("Latitude (with offset): " + vs_latitude);
            console.log("Longitude (with offset): " + vs_longitude);


            // Get the rendered size of the image and save w/h
            const render_width = $('#latest-image').width();
            const render_height = $('#latest-image').height();

            const image_scale = render_width / image_width;

            // Determine offsets of the starmap overlay
            const bias_left = ((( image_circle_diameter * image_scale - render_width ) / 2) - ( offset_x * image_scale )) * -1;
            const bias_top = ((( image_circle_diameter * image_scale - render_height ) / 2) + ( offset_y * image_scale )) * -1;

            // Apply those dimensions to the starmap container
            $('#starmap_container').css({
                width: render_width + 'px',
                height: render_height  + 'px'
            });

            // Apply those dimensions to the starmap itself
            $('#starmap').css({
                left: bias_left + 'px',
                top: bias_top + 'px'
            });


            // VirtualSky reverses north/south for some reason
            var vs_az = 180 - azimuth_angle;

            // Make sure azimuth is between 0 and 360
            if (vs_az >= 360) {
                vs_az -= 360;
            } else if (vs_az < 0) {
                vs_az += 360;
            }


            // Most cameras are east/west reversed
            var vs_az = 360 - vs_az;
            console.log("Calculated VirtualSky Azimuth: " + vs_az);


            // Using image timestamp for planetarium
            var clock = new Date((image_timestamp - time_offset) * 1000);
            console.log("Time Offset: " + time_offset);
            console.log("Date: " + clock);


            planetarium = S.virtualsky({
                id: 'starmap',
                projection: 'fisheye',
                live: false,
                clock: clock,
                latitude: vs_latitude,
                longitude: vs_longitude,
                az: vs_az,
                magnitude: magnitude,
                constellations: constellations,
                constellationlabels: constellationlabels,
                showstars: showstars,
                showstarlabels: showstarlabels,
                showplanets: showplanets,
                showplanetlabels: showplanetlabels,
                showgalaxy: true,
                gridstep: 30,
                gridlines_eq: true,
                gridlines_az: false,
                gridlines_gal: false,
                ecliptic: false,
                meridian: false,
                mouse: false,
                keyboard: false,
                showdate: false,
                showposition: false,
                gradient: false,
                transparent: true,
                cardinalpoints: true,
                credit: false,
                /* force the star map size here by using the lensImageCircle
                and resizing based on the ratio of the actual image sized versus rendered size */
                width: image_circle_diameter * image_scale,
                height: image_circle_diameter * image_scale,
            });


            redraw_planetarium = false;

            // update timestamp
            last_image_timestamp = image_timestamp;
        }
    };


    showImage(json_data['image_list'][0]);

    setTimeout(loop, refreshInterval);
}


function showImage(entry) {
    console.log('Showing image ' + entry["url"]);
    img.src = entry["url"];
}


function loadNextImage() {
    console.log('Loading next image');
    loadJS("{{ url_for(image_loop_view) }}", {'camera_id' : camera_id, 'limit_s' : 900, 'timestamp' : timestamp}, function() {});
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            json_data = rdata
            $('#message').html(json_data['message']);

            redraw_planetarium = true;
        },
        error: function(rdata){
            onError(rdata.status);
            $('#message').html('Error loading data.  Please check the logs.');
        },
    });
}

</script>
{% endblock %}

{% block content %}
<div class="tw:p-4 tw:flex tw:flex-col tw:gap-6 tw:w-full">

    <!-- Settings Accordion Drawer -->
    <div class="tw:collapse tw:collapse-arrow tw:bg-base-200 tw:border tw:border-base-300 tw:shadow-sm tw:rounded-[var(--radius-box)]">
        <input type="checkbox" id="settings-toggle" class="tw:peer">
        <div class="tw:collapse-title tw:flex tw:items-center tw:gap-2.5 tw:p-4 tw:text-xs tw:font-bold tw:uppercase tw:tracking-wider tw:text-base-content/70">
            <i class="tw:icon-[lucide--settings] tw:w-4 tw:h-4"></i>
            <span>VirtualSky Overlay Controls</span>
        </div>
        <div class="tw:collapse-content tw:px-6 tw:pb-6">
            <form id="form_virtualsky" onSubmit="return false;">
                <div class="tw:space-y-6 tw:pt-2">
                    
                    <div class="tw:grid tw:grid-cols-1 md:tw:grid-cols-3 tw:gap-4">
                        {% for field in [form_virtualsky.AZIMUTH_ANGLE, form_virtualsky.LATITUDE_OFFSET, form_virtualsky.LONGITUDE_OFFSET] %}
                        <div class="tw:form-control">
                            <label class="tw:label tw:pb-1"><span class="tw:label-text tw:text-[0.625rem] tw:font-bold tw:uppercase tw:tracking-wider tw:text-base-content/60">{{ field.label.text }}</span></label>
                            {{ field(class='tw:input tw:input-bordered tw:input-sm tw:h-11 tw:bg-base-100 tw:rounded-[var(--radius-box)] tw:text-sm tw:w-full') }}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tw:grid tw:grid-cols-2 md:tw:grid-cols-4 tw:gap-4">
                        {% for field in [form_virtualsky.IMAGE_CIRCLE_DIAMETER, form_virtualsky.OFFSET_X, form_virtualsky.OFFSET_Y, form_virtualsky.MAGNITUDE] %}
                        <div class="tw:form-control">
                            <label class="tw:label tw:pb-1"><span class="tw:label-text tw:text-[0.625rem] tw:font-bold tw:uppercase tw:tracking-wider tw:text-base-content/60">{{ field.label.text }}</span></label>
                            {{ field(class='tw:input tw:input-bordered tw:input-sm tw:h-11 tw:bg-base-100 tw:rounded-[var(--radius-box)] tw:text-sm tw:w-full') }}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:gap-6 tw:items-center tw:pt-2">
                        {% for field in [form_virtualsky.CONSTELLATIONS, form_virtualsky.SHOWSTARS, form_virtualsky.SHOWPLANETS, form_virtualsky.CONSTELLATIONLABELS, form_virtualsky.SHOWSTARLABELS, form_virtualsky.SHOWPLANETLABELS] %}
                        <div class="tw:flex tw:items-center tw:gap-2.5">
                            <input type="checkbox" class="tw:toggle tw:toggle-primary tw:toggle-sm" {{ 'checked' if field.data else '' }} id="{{ field.id }}" name="{{ field.name }}">
                            <label for="{{ field.id }}" class="tw:label-text tw:text-[0.625rem] tw:font-bold tw:uppercase tw:tracking-wider tw:text-base-content/85 tw:cursor-pointer">{{ field.label.text }}</label>
                        </div>
                        {% endfor %}
                        
                        <a href="https://github.com/aaronwmorris/indi-allsky/wiki/VirtualSky" target="_blank" 
                           class="tw:btn tw:btn-xs tw:btn-neutral tw:btn-accent-hover tw:gap-1.5 tw:rounded-full tw:no-underline tw:ml-auto">
                            <i class="tw:icon-[lucide--external-link] tw:w-3 tw:h-3 tw:block"></i> VirtualSky Wiki
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Planetarium Map Canvas and Download Row -->
    <div class="tw:text-center tw:space-y-4">
        <div id="message" class="tw:flex tw:items-center tw:justify-center tw:gap-2.5 tw:text-xs tw:text-base-content/50">
            <span class="tw:loading tw:loading-spinner tw:loading-xs tw:text-info"></span> Loading Sky Map...
        </div>
        
        <div class="tw:w-full tw:alert tw:alert-info tw:py-3.5 tw:text-xs tw:rounded-[var(--radius-box)] tw:shadow-sm tw:max-w-xl tw:mx-auto">
            <i class="tw:icon-[lucide--info] tw:w-4 tw:h-4"></i>
            <span>Calibration settings must be configured under <code class="tw:bg-neutral-content/10 tw:font-mono tw:px-1.5 tw:py-0.5 tw:rounded">Config -> Location</code></span>
        </div>

        <div id="wrapper" class="tw:relative tw:bg-neutral-950 tw:rounded-[var(--radius-box)] tw:border tw:border-base-300/40 tw:overflow-hidden tw:shadow-2xl">
            <img id="latest-image" class="tw:w-full tw:h-auto tw:object-contain" alt="Live Allsky View">
            <div id="starmap_container" class="tw:absolute tw:inset-0">
                <div id="starmap"></div>
            </div>
        </div>

        <button id="download" class="tw:btn tw:btn-sm tw:btn-info tw:btn-outline tw:h-11 tw:px-8 tw:mt-4 tw:rounded-[var(--radius-box)] shadow-sm tw:gap-2">
            <i class="tw:icon-[lucide--download] tw:w-4 tw:h-4 tw:block"></i> Download Map Data
        </button>
    </div>
</div>

<script>
function forceRedrawPlanetarium() {
    if (json_data['image_list'].length > 0) {
        redraw_planetarium = true;

        showImage(json_data['image_list'][0]);
    };
}


$("#AZIMUTH_ANGLE").on("change", function() {
    forceRedrawPlanetarium();
});

$("#LATITUDE_OFFSET").on("change", function() {
    forceRedrawPlanetarium();
});

$("#LONGITUDE_OFFSET").on("change", function() {
    forceRedrawPlanetarium();
});

$("#IMAGE_CIRCLE_DIAMETER").on("change", function() {
    forceRedrawPlanetarium();
});

$("#OFFSET_X").on("change", function() {
    forceRedrawPlanetarium();
});

$("#OFFSET_Y").on("change", function() {
    forceRedrawPlanetarium();
});

$("#MAGNITUDE").on("change", function() {
    forceRedrawPlanetarium();
});

$("#CONSTELLATIONS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#CONSTELLATIONLABELS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#SHOWSTARS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#SHOWSTARLABELS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#SHOWPLANETS").on("change", function() {
    forceRedrawPlanetarium();
});

$("#SHOWPLANETLABELS").on("change", function() {
    forceRedrawPlanetarium();
});


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    forceRedrawPlanetarium();
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}


$( document ).ready(function() {
    $('#latest-image').on("click", function() {
        goFullscreen(this);
    });

    init();
});


(() => {
  const btn = document.getElementById('download');
  let inProgress = false;

  btn.addEventListener('click', async (e) => {
    e.preventDefault();
    e.stopImmediatePropagation();
    if (inProgress) return;
    inProgress = true;
    btn.disabled = true;

    try {
      const el = document.getElementById('wrapper');
      if (!el) throw new Error('#wrapper not found');

      if (document.fonts) await document.fonts.ready;

      const canvas = await html2canvas(el, {
        backgroundColor: null,
        scale: 1,
        useCORS: true
      });

      canvas.toBlob(blob => {
        if (!blob) return;

        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'virtualsky_' + Math.floor(Date.now() / 1000) + '.png';
        a.target = '_self';

        document.body.appendChild(a);
        a.dispatchEvent(new MouseEvent('click', { bubbles: true, cancelable: true }));

        setTimeout(() => {
          a.remove();
          URL.revokeObjectURL(url);
        }, 1500);
      }, 'image/png');

    } finally {
      setTimeout(() => {
        inProgress = false;
        btn.disabled = false;
      }, 1000);
    }
  }, { capture: true, passive: false });
})();

</script>
{% endblock %}
