{% extends 'base.html' %}

{% block title %}{{ website_title }}: {{ page_title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
#wrapper {
    position: relative;
    display: inline-block;
}

#latest-image {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

#starmap_container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    /* Debugging */
    /* border: 3px solid red; */
    /* box-sizing: border-box; */
}

#starmap {
    position: relative;
}
</style>
<script src="{{ url_for('indi_allsky.static', filename='virtualsky/stuquery.min.js') }}"></script>
<script src="{{ url_for('indi_allsky.static', filename='virtualsky/virtualsky.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
var img;
var json_data = {
    'latest_image' : {
        'url' : null,
        'width': 0,
        'height': 0,
        'message' : ''
    }
};
var max_age = 900;
var camera_id = {{ camera_id }};
var refreshInterval = {{ refreshInterval | int }};
var timestamp = {{ timestamp | int }};  // does not really do anything yet
var live = {{ live }};
var night = {{ night }};
var fullscreen = false;  // initial state

var camera_latitude = {{ camera_latitude }};
var camera_longitude = {{ camera_longitude }};
var camera_lensimagecircle = {{ camera_lensimagecircle }};
var camera_lens_offset_x = {{ camera_lens_offset_x }};
var camera_lens_offset_y = {{ camera_lens_offset_y }};
var camera_az = {{ camera_az }};
var camera_alt = {{ camera_alt }};
var vs_az = 0;  // initial state
var planetarium;
var redraw_planetarium = true;


function init() {
    redraw_planetarium = true;

    console.log("Latitude: " + camera_latitude);
    console.log("Longitude: " + camera_longitude);
    console.log("Camera Image Circle: " + camera_lensimagecircle);
    console.log("Lens Offset X: " + camera_lens_offset_x);
    console.log("Lens Offset Y: " + camera_lens_offset_y);


    // Azimuth manipulations
    console.log("Camera Azimuth: " + camera_az);
    console.log("Camera Altitude: " + camera_alt);

    // VirtualSky reverses north/south for some reason
    vs_az = 180 - camera_az;

    // Make sure azimuth is between 0 and 360
    if (vs_az >= 360) {
        vs_az -= 360;
    } else if (vs_az < 0) {
        vs_az += 360;
    }


    // Most cameras are east/west reversed
    vs_az = 360 - vs_az;

    console.log("Calculated VirtualSky Azimuth: " + vs_az);


    // Calculate latitude and longitude offset
    if (camera_az < 90) {
        az_90 = camera_az % 90
    } else if (camera_az >= 90 && camera_az < 180) {
        az_90 = 90 - (camera_az % 90)
    } else if (camera_az >= 180 && camera_az < 270) {
        az_90 = camera_az % 90
    } else {
        az_90 = 90 - (camera_az % 90)
    }


    var a_adj = 100;  // fake adjacent leg of triangle, can be any value

    var a_opp = Math.tan(((90 - camera_alt) * Math.PI) / 180) * a_adj;

    var b_hyp_2 = a_opp;
    var lat_adj = Math.cos((az_90 * Math.PI) / 180) * b_hyp_2;

    var z_opp = lat_adj;
    var lat_deg_offset = Math.atan(z_opp / a_adj) * (180 / Math.PI);
    if (camera_az < 90 || camera_az > 270) {
        // relatively sure this is correct
        lat_deg_offset *= -1;
    }


    var long_adj = Math.cos(((90 - az_90) * Math.PI) / 180) * b_hyp_2;
    var z2_opp = long_adj;
    long_deg_offset = Math.atan(z2_opp / a_adj) * (180 / Math.PI);
    if (camera_az < 180) {
        // unsure which direction should add/subract
        // this may be backwards
        long_deg_offset *= -1;
    }


    console.log("Latitude Offset: " + lat_deg_offset);
    console.log("Longitude Offset: " + long_deg_offset);

    camera_latitude += lat_deg_offset;
    camera_longitude += long_deg_offset;

    console.log("Latitude (with offset): " + camera_latitude);
    console.log("Longitude (with offset): " + camera_longitude);


    loadNextImage();
    loop();
}

async function loop() {
    //console.log('Starting loop');
    while(json_data['latest_image']['url'] == null) {
        await sleep(100);
    }

    var image_width = json_data['latest_image']['width'];
    var image_height = json_data['latest_image']['height'];

    img = new Image();
    img.onload = function() {
        $('#latest-image').attr({
            'src': this.src,
        });


        if (redraw_planetarium) {
            // Get the rendered size of the image and save w/h
            const render_width = $('#latest-image').width();
            const render_height = $('#latest-image').height();

            const image_scale = render_width / image_width;

            // Determine offsets of the starmap overlay
            const bias_left = ((( camera_lensimagecircle * image_scale - render_width ) / 2) - ( camera_lens_offset_x * image_scale )) * -1;
            const bias_top = ((( camera_lensimagecircle * image_scale - render_height ) / 2) + ( camera_lens_offset_y * image_scale )) * -1;

            // Apply those dimensions to the starmap container
            $('#starmap_container').css({
                width: render_width + 'px',
                height: render_height  + 'px'
            });

            // Apply those dimensions to the starmap itself
            $('#starmap').css({
                left: bias_left + 'px',
                top: bias_top + 'px'
            });


            if (timestamp) {
                var clock = new Date(timestamp * 1000);
            } else {
                var clock = new Date();
            }

            console.log("Date: " + clock);

            planetarium = S.virtualsky({
                id: 'starmap',
                projection: 'fisheye',
                live: Boolean(live),
                clock: clock,
                latitude: camera_latitude,
                longitude: camera_longitude,
                az: vs_az,
                constellations: true,
                showstarlabels: true,
                showplanetlabels: true,
                gridlines_eq: true,
                mouse: false,
                keyboard: false,
                showdate: false,
                showposition: false,
                gradient: false,
                showgalaxy: true,
                transparent: true,
                cardinalpoints: true,
                credit: false,
                /* force the star map size here by using the lensImageCircle
                and resizing based on the ratio of the actual image sized versus rendered size */
                width: camera_lensimagecircle * image_scale,
                height: camera_lensimagecircle * image_scale,
                magnitude: 5,
            });


            redraw_planetarium = false;
        }
    };


    showImage(json_data['latest_image']);

    setTimeout(loop, refreshInterval);
}


function showImage(entry) {
    console.log('Showing image ' + entry["url"]);
    img.src = entry["url"];
}


function loadNextImage() {
    console.log('Loading next image');
    loadJS("{{ url_for(latest_image_view) }}", {'camera_id' : camera_id, 'limit_s' : max_age, 'night' : night}, function() {});
    setTimeout(loadNextImage, refreshInterval);
}

function sleep(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

function loadJS(url, data, onDone, onError) {
    if(!onDone)onDone=function(){};
    if(!onError)onError=function(){};

    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json",
        data: data,
        success: function(rdata){
            json_data = rdata
            $('#message').html(json_data['latest_image']['message']);
        },
        error: function(rdata){
            onError(rdata.status);
            $('#message').html('Error loading data.  Please check the logs.');
        },
    });

}


function setResizeHandler(callback, timeout) {
    var timer_id = undefined;
    $(window).on("resize", function() {
        if(timer_id != undefined) {
            clearTimeout(timer_id);
            timer_id = undefined;
        }
        timer_id = setTimeout(function() {
            timer_id = undefined;
            callback();
        }, timeout);
    });
}

function resize_callback() {
    if (json_data['latest_image']) {
        redraw_planetarium = true;
        showImage(json_data['latest_image']);
    };
}
setResizeHandler(resize_callback, 200);


function goFullscreen(elem) {
    if(fullscreen) {
        closeFullscreen();
    } else {
        openFullscreen(elem);
    }
}

function openFullscreen(elem) {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }

    fullscreen = true;
}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
    }

    fullscreen = false;
}



$( document ).ready(function() {
    $('#latest-image').on("click", function() {
        goFullscreen(this);
    });

    init();
});

</script>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row">
        <div class="text-muted text-center" id="message">Loading...</div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 text-center" style="font-size:10px">
            Latitude / Longitude / Azimuth / Image Circle / Offsets must be correctly configured under Config -> Location [tab]
        </div>
    </div>
    <div class="row h-75 align-items-center">
        <div class="col-12 text-center">
          <div id="wrapper">
            <img id="latest-image">
            <div id="starmap_container">
                <div id="starmap"></div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
