{% extends 'base.html' %}

{% block title %}indi-allsky: {{ title }}{% endblock %}

{% block head %}
<meta charset="UTF-8">
<style>
</style>
<script type="text/javascript" src="{{ url_for('indi_allsky.static', filename='js/clipboard.min.js') }}"></script>
<script type="text/javascript">
var video_id = {{ video_id }};
var dayDate = "{{ dayDate }}";
var file_view = "{{ file_view }}";
</script>
{% endblock %}

{% block content %}
<h3>{{ dayDate_full }} - {{ timeofday}}</h3>

<hr>

<div class="row">
    <div class="col-sm-12 text-center">
        <video style="max-width: 100%; max-height: 80vh; width: auto; height: auto; object-fit: contain;" controls>
            <source src="{{ video_url }}">
        </video>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <span id="permalink"></span>
        <span id="download"></span>
    </div>
</div>

<script>
function init() {
    new ClipboardJS('.copy-clipboard');

    $('#permalink').html(
        $('<span />', {
            'text' : "Copy Link to Clipboard",
            'class' : "badge pill bg-primary copy-clipboard",
            'style' : "cursor: pointer;",
            'data-clipboard-text' : "{{ url_for(file_view, _external=True) }}?id=" + video_id,
        })
    );
    $('#download').html(
        $('<a />', {
            'href' : "{{ video_url }}",
            'rel' : "noopener noreferrer",
            'download' : '',
        }).html(
            $('<span />', {
                'text'  : 'Download',
                'class' : "badge pill bg-danger",
            })
        )
    );
}

$( document ).ready(function() {
    init();
});
</script>


{% endblock %}
